@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?nmw2eo');
    src:  url('../fonts/icomoon/icomoon.eot?nmw2eo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?nmw2eo') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?nmw2eo') format('woff'),
    url('../fonts/icomoon/icomoon.svg?nmw2eo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-300.woff") format("woff"), url("../fonts/opensans/opensans-300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-400.woff") format("woff"), url("../fonts/opensans/opensans-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-600.woff") format("woff"), url("../fonts/opensans/opensans-600.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans/opensans-700.woff") format("woff"), url("../fonts/opensans/opensans-700.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/proxsima_nova/ProximaNova-Light.woff") format("woff"), url("../fonts/proxsima_nova/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/proxsima_nova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxsima_nova/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/proxsima_nova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proxsima_nova/ProximaNova-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/proxsima_nova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/proxsima_nova/ProximaNovaCond-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxsima_nova/11094-webfont.woff') format('woff'),
    url('../fonts/proxsima_nova/11094-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}



[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-download-button:before {
    content: "\e916";
}
.icon-user-3:before {
    content: "\e912";
    color: #404969;
}
.icon-phone-call2:before {
    content: "\e90e";
}
.icon-envelope:before {
    content: "\e910";
}
.icon-filter-results-button:before {
    content: "\e90d";
}
.icon-bars-graphic:before {
    content: "\e900";
}
.icon-down-arrow-of-angle:before {
    content: "\e901";
}
.icon-facebook-logo:before {
    content: "\e902";
}
.icon-instagram-1:before {
    content: "\e903";
}
.icon-like-black-heart-button:before {
    content: "\e904";
}
.icon-magnifying-glass:before {
    content: "\e905";
}
.icon-phone-call:before {
    content: "\e906";
}
.icon-right-chevron-1:before {
    content: "\e907";
}
.icon-right-chevron-1_2:before {
    content: "\e908";
}
.icon-shopping-purse-icon-1:before {
    content: "\e909";
}
.icon-twitter-logo-silhouette:before {
    content: "\e90a";
}
.icon-user:before {
    content: "\e90b";
}
.icon-youtube:before {
    content: "\e90c";
}

.icon-man:before {
    content: "\e913";
}

.icon-baby-boy:before {
    content: "\e914";
}

.icon-woman:before {
    content: "\e915";
}

.icon-placeholder:before {
    content: "\e911";
}
.icon-close:before {
    content: "\e90f";
}