@charset "UTF-8";
/* line 3, ../sass/main_information.scss */
.c-inform-text {
  padding: 0 30px 30px;
}
/* line 6, ../sass/main_information.scss */
.c-inform-text > * {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}
/* line 15, ../sass/main_information.scss */
.c-inform-text p {
  margin-bottom: 30px;
}
/* line 17, ../sass/main_information.scss */
.c-inform-text p:last-child {
  margin-bottom: 0;
}
/* line 21, ../sass/main_information.scss */
.c-inform-text b {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
}

/* line 28, ../sass/main_information.scss */
.c-inform-text-m {
  font-weight: bold;
}

/* line 32, ../sass/main_information.scss */
.с-block-images {
  max-width: 100%;
  margin-bottom: 60px;
  border-radius: 4%;
  overflow: hidden;
}
/* line 37, ../sass/main_information.scss */
.с-block-images img {
  max-width: 100%;
}

/* line 42, ../sass/main_information.scss */
.c-inform-list {
  padding: 0;
}
/* line 44, ../sass/main_information.scss */
.c-inform-list li {
  margin-bottom: 20px;
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}
/* line 49, ../sass/main_information.scss */
.c-inform-list li:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 6px;
  height: 6px;
  background-color: #e83c4d;
  border-radius: 50%;
}

/* line 64, ../sass/main_information.scss */
.c-inform-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 60px;
}
/* line 70, ../sass/main_information.scss */
.c-inform-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 81, ../sass/main_information.scss */
.с-block-news {
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  margin-bottom: 30px;
}
/* line 85, ../sass/main_information.scss */
.с-block-news a {
  display: block;
}
/* line 88, ../sass/main_information.scss */
.с-block-news > * {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}
/* line 97, ../sass/main_information.scss */
.с-block-news:hover > * {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}
/* line 106, ../sass/main_information.scss */
.с-block-news:focus, .с-block-news:active, .с-block-news:hover {
  box-shadow: 0 0 10px 0 #d1ceda;
}
/* line 111, ../sass/main_information.scss */
.с-block-news .с-block-images-m {
  margin: 0;
  border-radius: 0;
}
/* line 115, ../sass/main_information.scss */
.с-block-news .c-news-text {
  padding: 15px;
}
/* line 117, ../sass/main_information.scss */
.с-block-news .c-news-text .c-news-text-m {
  font-size: 16px;
  font-weight: 600;
}
/* line 121, ../sass/main_information.scss */
.с-block-news .c-news-text .l-news-text {
  margin-bottom: 29px;
}
/* line 125, ../sass/main_information.scss */
.с-block-news .c-news-text .c-time {
  font-size: 12px;
  color: #aca8bf;
  position: relative;
}
/* line 129, ../sass/main_information.scss */
.с-block-news .c-news-text .c-time i {
  position: absolute;
  font-size: 15px;
}
/* line 133, ../sass/main_information.scss */
.с-block-news .c-news-text .c-time .time {
  padding-left: 20px;
}
/* line 137, ../sass/main_information.scss */
.с-block-news .c-news-text .l-news-text-m {
  font-size: 12px;
  font-weight: 600;
  color: #633b63;
  float: right;
  margin-bottom: 0;
}
/* line 143, ../sass/main_information.scss */
.с-block-news .c-news-text .l-news-text-m:focus, .с-block-news .c-news-text .l-news-text-m:active, .с-block-news .c-news-text .l-news-text-m:hover {
  color: #aca8bf;
}

/* line 151, ../sass/main_information.scss */
.flex-row__m {
  width: 100%;
  justify-content: space-between;
}

/* line 158, ../sass/main_information.scss */
.c-allnews h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #333333;
  text-align: left;
  margin-bottom: 33px;
  padding: 0 30px;
  text-transform: none;
}

/* line 173, ../sass/main_information.scss */
.с-news-images {
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  overflow: hidden;
}
/* line 178, ../sass/main_information.scss */
.с-news-images img {
  max-width: 100%;
}

/* line 183, ../sass/main_information.scss */
.c-news-time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px 30px;
}
/* line 188, ../sass/main_information.scss */
.c-news-time .time {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d9dbe1;
}

/* line 199, ../sass/main_information.scss */
.c-social {
  display: flex;
  justify-content: center;
}
/* line 202, ../sass/main_information.scss */
.c-social .c-social-network {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6fb;
  border-radius: 50%;
  margin-right: 10px;
}
/* line 211, ../sass/main_information.scss */
.c-social .c-social-network a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 53px;
}
/* line 218, ../sass/main_information.scss */
.c-social .c-social-network i {
  font-size: 18px;
}
/* line 220, ../sass/main_information.scss */
.c-social .c-social-network i:before {
  color: #d1ceda;
}
/* line 224, ../sass/main_information.scss */
.c-social .c-social-network:focus, .c-social .c-social-network:active, .c-social .c-social-network:hover {
  background: #633b63;
}
/* line 229, ../sass/main_information.scss */
.c-social .c-social-network:focus i:before, .c-social .c-social-network:active i:before, .c-social .c-social-network:hover i:before {
  color: #fff;
}

/* line 240, ../sass/main_information.scss */
.tabs-element > * {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* line 251, ../sass/main_information.scss */
.tab-content {
  margin-bottom: 30px;
}

/* line 255, ../sass/main_information.scss */
.c-reviews {
  padding: 30px;
  border: 0;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #fff;
}
/* line 262, ../sass/main_information.scss */
.c-reviews .c-text-m {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* line 268, ../sass/main_information.scss */
.c-reviews .testimonial-time {
  border: none;
  padding: 0;
  margin-bottom: 18px;
}
/* line 272, ../sass/main_information.scss */
.c-reviews .testimonial-time .time {
  font-size: 14px;
}
/* line 276, ../sass/main_information.scss */
.c-reviews .c-text {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  height: 162px;
  overflow-y: auto;
}

/* line 289, ../sass/main_information.scss */
.fa-stack {
  width: 18px;
  height: 18px;
  line-height: 0;
  text-align: center;
  font-size: 18px;
  margin-right: 2.5px;
}
/* line 297, ../sass/main_information.scss */
.fa-stack .icon-star:before {
  color: #d1ceda;
}
/* line 303, ../sass/main_information.scss */
.fa-stack.active .icon-star:before {
  color: #633b63;
}

/* line 317, ../sass/main_information.scss */
.c-line-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 321, ../sass/main_information.scss */
.c-line-group .form-control {
  width: 350px;
  height: 50px;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  padding: 18px 15px;
  margin-right: 0;
}

/* line 332, ../sass/main_information.scss */
.reviewStars-input input {
  display: none;
}

/* line 336, ../sass/main_information.scss */
.c-center button {
  margin: 0 auto;
}

/* line 342, ../sass/main_information.scss */
.c-reviewStars-input {
  width: 350px;
  height: 60px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 352, ../sass/main_information.scss */
.c-reviewStars-input .c-rating {
  float: left;
  color: #aca8bf;
  margin-bottom: 0;
}
/* line 357, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
}
/* line 369, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input .c-rating {
  float: left;
  color: #aca8bf;
}
/* line 373, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input input {
  margin-right: 10px;
}
/* line 378, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input input:checked ~ label .fa-star:before, .c-reviewStars-input .reviewStars-input input:checked + label .fa-star:before {
  color: #ff7f50;
}
/* line 387, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input input:hover + label .fa-star:before {
  color: #ff7f50;
}
/* line 395, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input input:hover ~ label .fa-star:before {
  color: #ff7f50;
}
/* line 403, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input label {
  position: relative;
  font-size: 16px;
  color: #d9dbe1;
  padding: 0;
  cursor: pointer;
  margin: 0 2.5px;
}
/* line 410, ../sass/main_information.scss */
.c-reviewStars-input .reviewStars-input label i {
  color: #d9dbe1;
}
