@import url("../stylesheet/fonts.css");
/* Color palette */
/* line 16, ../sass/main.scss */
a {
  color: #404969;
  text-decoration: none;
}
/* line 19, ../sass/main.scss */
a:hover {
  color: #f77f50;
}

/* line 24, ../sass/main.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 25, ../sass/main.scss */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 26, ../sass/main.scss */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 27, ../sass/main.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 30, ../sass/main.scss */
h3 {
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333;
}

/* line 39, ../sass/main.scss */
menu {
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #3b2f2d;
}

/* line 47, ../sass/main.scss */
html,
body {
  height: 100%;
  font-family: "Proxima Nova";
  background-color: #f5f6f7;
}

/* line 53, ../sass/main.scss */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 61, ../sass/main.scss */
* {
  outline: 0px !important;
  font-family: "Proxima Nova";
  box-sizing: border-box;
}

/* line 66, ../sass/main.scss */
*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 72, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 75, ../sass/main.scss */
a:focus {
  outline: 0px !important;
}

/* line 78, ../sass/main.scss */
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

/* line 83, ../sass/main.scss */
#content {
  min-height: auto;
  padding-bottom: 36px;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* line 126, ../sass/main.scss */
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* line 138, ../sass/main.scss */
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}

/* line 145, ../sass/main.scss */
header {
  flex: 0 0 auto;
  padding-bottom: 16px;
  background-color: #fff;
  padding-top: 17px;
}
/* line 150, ../sass/main.scss */
header hr {
  margin: 24px 0 17px;
  border-top: 1px solid #e8e7ed;
}

/* line 156, ../sass/main.scss */
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

/* line 166, ../sass/main.scss */
.mfp-close:hover {
  cursor: pointer !important;
}

/* line 170, ../sass/main.scss */
footer {
  flex: 0 0 auto;
  background-color: #404969;
  padding: 60px 0;
}
/* line 174, ../sass/main.scss */
footer h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
/* line 185, ../sass/main.scss */
footer .list-unstyled li {
  padding-left: 0;
}
/* line 187, ../sass/main.scss */
footer .list-unstyled li:before {
  display: none;
}
/* line 190, ../sass/main.scss */
footer .list-unstyled li a {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.57;
  letter-spacing: normal;
  color: #9fa4b4;
  transition: .3s;
}
/* line 197, ../sass/main.scss */
footer .list-unstyled li a:active, footer .list-unstyled li a:focus, footer .list-unstyled li a:hover {
  color: #fff;
}
/* line 205, ../sass/main.scss */
footer p {
  font-size: 12px;
  color: #aca8bf;
}

/* line 211, ../sass/main.scss */
.list-unstyled li {
  padding-left: 0;
}
/* line 213, ../sass/main.scss */
.list-unstyled li:before {
  display: none;
}
/* line 216, ../sass/main.scss */
.list-unstyled li .price {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #333333;
  margin-right: 57px;
}
/* line 226, ../sass/main.scss */
.list-unstyled li .old-price {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #9fa4b4;
  text-decoration: line-through;
}

/* line 238, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 240, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none;
}
/* line 243, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 247, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 249, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 254, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 257, ../sass/main.scss */
.wrapper_big_slider > .item:not(:first-child) {
  display: none !important;
}

/* line 260, ../sass/main.scss */
body {
  font-family: "Proxima Nova";
  overflow-x: hidden;
}

/* line 264, ../sass/main.scss */
.top {
  background-color: #f5f6f7;
  border: 0;
  padding: 10px 0;
}

/* line 269, ../sass/main.scss */
.logo {
  width: 100%;
  padding-right: 45px;
}
/* line 274, ../sass/main.scss */
.logo img {
  width: 100%;
  height: 100%;
}

/* line 279, ../sass/main.scss */
.list-inline {
  margin: 0;
}
/* line 281, ../sass/main.scss */
.list-inline li {
  list-style: none;
  margin-right: 20px;
  padding: 0;
}
/* line 285, ../sass/main.scss */
.list-inline li:before {
  display: none;
}
/* line 288, ../sass/main.scss */
.list-inline li:last-child {
  margin-right: 0;
}
/* line 291, ../sass/main.scss */
.list-inline li a {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  color: #989eae;
  transition: .2s;
}
/* line 297, ../sass/main.scss */
.list-inline li a:focus, .list-inline li a:active, .list-inline li a:hover {
  color: #aca8bf;
  text-decoration: none;
}

/* line 306, ../sass/main.scss */
.phone-shop {
  font-size: 14px;
  margin-right: 30px;
  font-weight: 600;
  color: #333333;
}
/* line 311, ../sass/main.scss */
.phone-shop:active, .phone-shop:focus, .phone-shop:hover {
  color: #333333;
}

/* line 319, ../sass/main.scss */
.currency-language .lenguage {
  margin-right: 30px;
}
/* line 322, ../sass/main.scss */
.currency-language button {
  font-size: 14px;
  font-weight: 600;
  color: #aca8bf;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 329, ../sass/main.scss */
.currency-language button:focus, .currency-language button:active, .currency-language button:hover {
  color: #fff;
  text-decoration: none;
}
/* line 335, ../sass/main.scss */
.currency-language button i {
  margin-left: 10px;
  font-size: 6px;
}

/* line 341, ../sass/main.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 345, ../sass/main.scss */
.flex-row__m {
  margin-bottom: 30px;
}
/* line 348, ../sass/main.scss */
.flex-row__pos {
  justify-content: space-between;
}

/* line 352, ../sass/main.scss */
.content-flex {
  justify-content: space-between;
}

/* line 355, ../sass/main.scss */
.navbar-collapse {
  padding: 0;
}

/* line 361, ../sass/main.scss */
.slide_wrapper_big {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 364, ../sass/main.scss */
.slide_wrapper_big .slick-dots {
  top: inherit;
  bottom: 18px;
  margin-bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 372, ../sass/main.scss */
.slide_wrapper_big .products_row-btn {
  top: 50% !important;
  transform: translate(0, -50%);
  background-color: #f5f6f7;
}
/* line 376, ../sass/main.scss */
.slide_wrapper_big .products_row-btn.products_row-prev_btn {
  left: 30px;
  z-index: 9;
}
/* line 380, ../sass/main.scss */
.slide_wrapper_big .products_row-btn.products_row-next_btn {
  right: 30px;
}
/* line 384, ../sass/main.scss */
.slide_wrapper_big .item {
  position: relative;
  min-height: 500px;
}
/* line 387, ../sass/main.scss */
.slide_wrapper_big .item img {
  min-height: 500px;
}
/* line 390, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
/* line 394, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info h2 {
  font-family: "Proxima Nova";
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 6.9px;
  margin: 0 0 15px;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}
/* line 404, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info h2 span {
  color: #333333;
  display: block;
}
/* line 409, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info p {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 60px;
}
/* line 419, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info a {
  width: 200px;
  height: 60px;
  border-radius: 60px;
  background-color: #bde4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  transition: .3s;
}
/* line 434, ../sass/main.scss */
.slide_wrapper_big .item .wrapper-banner-info a:hover, .slide_wrapper_big .item .wrapper-banner-info a:active, .slide_wrapper_big .item .wrapper-banner-info a:focus {
  color: #333333;
  background-color: #fff;
}

/* line 444, ../sass/main.scss */
.option-list {
  margin-bottom: 45px;
}

/* line 448, ../sass/main.scss */
.btn-group button {
  padding: 0;
}

/* line 452, ../sass/main.scss */
.grey-input {
  background-color: #f6f6fb;
  height: 100%;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  color: #aca8bf;
}

/* line 460, ../sass/main.scss */
.search-group {
  height: 45px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
}
/* line 465, ../sass/main.scss */
.search-group input.form-control {
  background-color: #f5f6f7;
  height: 100%;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 14px 20px;
  color: #aca8bf;
}
/* line 474, ../sass/main.scss */
.search-group span {
  position: absolute;
  right: 0;
  display: block;
  width: 68px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 480, ../sass/main.scss */
.search-group span button {
  background-color: transparent;
  border: 0;
  color: #d8dae0;
  padding: 0;
  text-align: center;
  width: 100%;
}
/* line 487, ../sass/main.scss */
.search-group span button:hover, .search-group span button:active, .search-group span button:focus {
  background-color: transparent;
}

/* line 495, ../sass/main.scss */
.navbar {
  margin-bottom: 0;
  min-height: auto;
  border: 0;
}

/* line 500, ../sass/main.scss */
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: none;
}
/* line 505, ../sass/main.scss */
.navbar-nav li {
  margin-right: 55px;
  list-style: none;
  padding-left: 0;
  position: static;
}
/* line 510, ../sass/main.scss */
.navbar-nav li:before {
  content: '';
  display: none;
}
/* line 514, ../sass/main.scss */
.navbar-nav li a {
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  color: #333333;
  transition: .5s;
}
/* line 523, ../sass/main.scss */
.navbar-nav li a:focus, .navbar-nav li a:active, .navbar-nav li a:hover {
  color: #ff7f50;
  background-color: transparent;
}
/* line 530, ../sass/main.scss */
.navbar-nav li:last-child {
  margin-right: 0;
}
/* line 536, ../sass/main.scss */
.navbar-nav li:focus a, .navbar-nav li:active a, .navbar-nav li:hover a {
  color: #ff7f50;
  background-color: transparent;
}

/* line 543, ../sass/main.scss */
.count-wrapper {
  width: 45px;
  height: 45px;
  background-color: #f5f6f7;
  border-radius: 50%;
}
/* line 548, ../sass/main.scss */
.count-wrapper a {
  font-size: 18px !important;
  color: #404969;
}

/* line 553, ../sass/main.scss */
.btn-link {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #9fa4b4 !important;
}
/* line 557, ../sass/main.scss */
.btn-link:first-child {
  margin-right: 30px;
}
/* line 561, ../sass/main.scss */
.btn-link i {
  font-size: 18px;
  margin-right: 10px;
}
/* line 565, ../sass/main.scss */
.btn-link:active, .btn-linkfocus, .btn-link:hover {
  text-decoration: none;
}

/* line 571, ../sass/main.scss */
.discount {
  margin-top: 10px;
}

/* line 574, ../sass/main.scss */
.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  color: #ff7f50;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 0;
}
/* line 590, ../sass/main.scss */
.btn-default:hover {
  background-color: #ff7f50;
  color: #fff;
}
/* line 594, ../sass/main.scss */
.btn-default.orang {
  display: flex;
  background-color: #ff7f50;
  color: #fff;
  margin: 0 auto;
  justify-content: center;
}
/* line 600, ../sass/main.scss */
.btn-default.orang:active {
  background-color: #404969;
  color: #ff7f50;
}
/* line 604, ../sass/main.scss */
.btn-default.orang:hover {
  background-color: #fff;
  color: #ff7f50;
}

/* line 610, ../sass/main.scss */
.wrapper-category_home {
  overflow: hidden;
  margin-bottom: 59px;
}
/* line 614, ../sass/main.scss */
.wrapper-category_home .item img {
  width: 100%;
  min-height: 360px;
}
/* line 618, ../sass/main.scss */
.wrapper-category_home .item .category-text {
  position: absolute;
  top: 95px;
  left: 30px;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0 15px;
}
/* line 628, ../sass/main.scss */
.wrapper-category_home .item .category-text p {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 5px;
  color: #404969;
  margin-bottom: 0;
}
/* line 638, ../sass/main.scss */
.wrapper-category_home .item .category-text .text_white {
  color: #fff;
  margin-bottom: 30px;
}
/* line 645, ../sass/main.scss */
.wrapper-category_home .category-slider .item {
  width: 16.66%;
  float: left;
  border: 1px solid #e8e7ed;
  border-right: 0;
  position: relative;
}
/* line 651, ../sass/main.scss */
.wrapper-category_home .category-slider .item a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #aca8bf;
  position: relative;
  overflow: hidden;
}
/* line 659, ../sass/main.scss */
.wrapper-category_home .category-slider .item a img {
  width: 100%;
}
/* line 662, ../sass/main.scss */
.wrapper-category_home .category-slider .item a .counter-items {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  border-radius: 60px;
  background-color: #f6f6fb;
  color: #633b63;
  font-size: 14px;
  z-index: 2;
}
/* line 677, ../sass/main.scss */
.wrapper-category_home .category-slider .item a p {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-transform: uppercase;
  z-index: 2;
  margin-bottom: 0;
}
/* line 685, ../sass/main.scss */
.wrapper-category_home .category-slider .item a .hover-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 697, ../sass/main.scss */
.product-thumb {
  border-radius: 0;
  background-color: #ffffff;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: .3s;
}
/* line 704, ../sass/main.scss */
.product-thumb .caption,
.product-thumb .image {
  padding: 15px;
}
/* line 707, ../sass/main.scss */
.product-thumb .caption img,
.product-thumb .image img {
  margin: 0 auto;
  display: block;
}
/* line 713, ../sass/main.scss */
.product-thumb .caption a {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}
/* line 724, ../sass/main.scss */
.product-thumb .flex-row {
  padding: 0 15px;
  justify-content: space-between;
}
/* line 728, ../sass/main.scss */
.product-thumb .title-price {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #aca8bf;
  margin-bottom: 5px;
  display: block;
}
/* line 736, ../sass/main.scss */
.product-thumb .price {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
/* line 747, ../sass/main.scss */
.product-thumb .price .price-old {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  color: #9fa4b4;
  text-decoration: line-through;
  margin-left: 15px;
}
/* line 756, ../sass/main.scss */
.product-thumb .button-group {
  border-top: solid 1px #f5f6f7;
  display: flex;
}
/* line 759, ../sass/main.scss */
.product-thumb .button-group button {
  height: 52px;
  background-image: none;
  background-color: #fff;
  border: 0;
  flex: 1;
  transition: .3s;
}
/* line 766, ../sass/main.scss */
.product-thumb .button-group button:hover {
  color: #404969;
}
/* line 769, ../sass/main.scss */
.product-thumb .button-group button:hover i:before {
  transition: .3s;
  color: #404969;
}
/* line 776, ../sass/main.scss */
.product-thumb .button-group .mini-btn {
  width: 52px;
  border-right: solid 1px #f5f6f7;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0;
  flex: 1;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #aca8bf;
}
/* line 791, ../sass/main.scss */
.product-thumb .button-group .mini-btn.active i:before {
  color: #404969;
}
/* line 797, ../sass/main.scss */
.product-thumb .button-group .one_click {
  width: 100%;
  padding: 0;
  flex: 3;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff7f50;
  text-transform: uppercase;
}
/* line 806, ../sass/main.scss */
.product-thumb .button-group .one_click:active, .product-thumb .button-group .one_click:hover {
  color: #404969;
}
/* line 812, ../sass/main.scss */
.product-thumb:hover {
  box-shadow: 0 0 9px 0 #e6e6e6;
  background-color: #ffffff;
  border: 0;
}

/* line 818, ../sass/main.scss */
.mfilter-box {
  background-color: #fff;
  padding: 15px;
}
/* line 821, ../sass/main.scss */
.mfilter-box .box-heading {
  border-bottom: 1px solid #f5f6f7;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #404969;
  padding: 12px 0 27px;
  margin-bottom: 30px;
}
/* line 832, ../sass/main.scss */
.mfilter-box .box-heading i {
  font-size: 15px;
}

/* line 837, ../sass/main.scss */
.product-layout {
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* line 841, ../sass/main.scss */
.htmlmodle-wrapper {
  background-color: #fff;
  padding: 60px 0;
}
/* line 844, ../sass/main.scss */
.htmlmodle-wrapper p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}
/* line 851, ../sass/main.scss */
.htmlmodle-wrapper p:last-child {
  margin-bottom: 0;
}

/* line 856, ../sass/main.scss */
h3,
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

/* line 867, ../sass/main.scss */
.wrapper_prod_slider {
  padding: 52px 0;
}
/* line 869, ../sass/main.scss */
.wrapper_prod_slider .slick-list {
  margin: 0 -15px;
}
/* line 872, ../sass/main.scss */
.wrapper_prod_slider .slick-dots {
  bottom: 30px;
  top: inherit;
  width: 100%;
  text-align: center;
}
/* line 877, ../sass/main.scss */
.wrapper_prod_slider .slick-dots li {
  background-color: #d9dbe1;
}
/* line 880, ../sass/main.scss */
.wrapper_prod_slider .slick-dots li.slick-active button {
  background-color: #404969;
}

/* line 887, ../sass/main.scss */
.products_row-btn {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  border: 0;
  top: -36px;
  right: 0;
  padding: 0;
  font-size: 10px;
  transition: .3s;
}
/* line 899, ../sass/main.scss */
.products_row-btn i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #989eae;
}
/* line 906, ../sass/main.scss */
.products_row-btn.products_row-prev_btn {
  right: inherit;
  left: 0;
  z-index: 2;
}
/* line 911, ../sass/main.scss */
.products_row-btn:focus {
  cursor: pointer;
  background-color: #fff;
}
/* line 914, ../sass/main.scss */
.products_row-btn:focus i {
  color: #989eae;
}
/* line 918, ../sass/main.scss */
.products_row-btn:hover, .products_row-btn:active {
  cursor: pointer;
  background-color: #404969;
}
/* line 923, ../sass/main.scss */
.products_row-btn:hover i:before, .products_row-btn:active i:before {
  color: #fff;
}

/* line 929, ../sass/main.scss */
.slick-dots {
  display: inline-block !important;
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  text-align: left;
  width: auto;
}
/* line 937, ../sass/main.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}
/* line 946, ../sass/main.scss */
.slick-dots li:first-child {
  margin-left: 0;
}
/* line 949, ../sass/main.scss */
.slick-dots li button {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50%;
  border: 0;
  padding: 0;
}
/* line 957, ../sass/main.scss */
.slick-dots li button:before {
  content: '';
  display: none;
}
/* line 963, ../sass/main.scss */
.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #ffffff;
}

@keyframes spinAround {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/* line 978, ../sass/main.scss */
.wrapper-html_module {
  background-color: #f6f6fb;
  padding: 50px 0;
  position: relative;
  margin-bottom: 50px;
}
/* line 983, ../sass/main.scss */
.wrapper-html_module:after, .wrapper-html_module:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f6f6fb;
}
/* line 994, ../sass/main.scss */
.wrapper-html_module .c-reviews {
  z-index: 2;
}
/* line 997, ../sass/main.scss */
.wrapper-html_module .products_row-btn {
  background-color: #fff;
  z-index: 9;
}
/* line 1000, ../sass/main.scss */
.wrapper-html_module .products_row-btn:hover, .wrapper-html_module .products_row-btn:focus, .wrapper-html_module .products_row-btn:active {
  background-color: #633b63;
}
/* line 1006, ../sass/main.scss */
.wrapper-html_module .slick-list {
  margin: 0 -15px;
}
/* line 1009, ../sass/main.scss */
.wrapper-html_module:before {
  left: -100%;
}
/* line 1012, ../sass/main.scss */
.wrapper-html_module:after {
  right: -100%;
}
/* line 1015, ../sass/main.scss */
.wrapper-html_module h2 {
  margin-bottom: 60px;
}
/* line 1018, ../sass/main.scss */
.wrapper-html_module .item {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 70px 30px;
  min-width: 263px;
  max-height: 263px;
  transition: .3s;
}
/* line 1030, ../sass/main.scss */
.wrapper-html_module .item img {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}
/* line 1035, ../sass/main.scss */
.wrapper-html_module .item p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  color: #aca8bf;
  margin-bottom: 0;
}
/* line 1043, ../sass/main.scss */
.wrapper-html_module .item:hover {
  box-shadow: 0 0 5px 0 #d1ceda;
}
/* line 1045, ../sass/main.scss */
.wrapper-html_module .item:hover img {
  animation: spinAround .5s linear;
}

/* line 1054, ../sass/main.scss */
.container-news {
  margin-bottom: 30px;
}

/* line 1058, ../sass/main.scss */
.container-item_module.wrapper-html_module {
  margin-bottom: 0;
}

/* line 1061, ../sass/main.scss */
.news-block {
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  overflow: hidden;
  height: 100%;
  transition: .3s;
}
/* line 1067, ../sass/main.scss */
.news-block .item-info {
  padding: 15px;
  position: relative;
}
/* line 1071, ../sass/main.scss */
.news-block a {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #1a1a1a;
  display: block;
}
/* line 1077, ../sass/main.scss */
.news-block a img {
  width: 100%;
}
/* line 1080, ../sass/main.scss */
.news-block a p {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
/* line 1088, ../sass/main.scss */
.news-block .description > * {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
  opacity: 0.8;
  margin-bottom: 28px;
}
/* line 1098, ../sass/main.scss */
.news-block .time-more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 1108, ../sass/main.scss */
.news-block .time-more span {
  font-size: 12px;
  color: #aca8bf;
}
/* line 1113, ../sass/main.scss */
.news-block .time-more .blog-button a {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  color: #633b63;
}
/* line 1118, ../sass/main.scss */
.news-block .time-more .blog-button a:hover {
  color: #aca8bf;
}
/* line 1124, ../sass/main.scss */
.news-block:hover {
  box-shadow: 0 0 10px 0 #d1ceda;
  background-color: #ffffff;
  border: solid 1px #e8e7ed;
}

/* line 1136, ../sass/main.scss */
.wrapper-testimonial_module {
  background: url("/image/catalog/testemonial-slide-2x.png");
  background-size: cover;
  padding: 60px 0;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 1143, ../sass/main.scss */
.wrapper-testimonial_module h3 {
  color: #fff;
}
/* line 1146, ../sass/main.scss */
.wrapper-testimonial_module .item {
  text-align: center;
  margin-bottom: 30px;
}
/* line 1149, ../sass/main.scss */
.wrapper-testimonial_module .item .name-author {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
/* line 1155, ../sass/main.scss */
.wrapper-testimonial_module .item .c-text {
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 750px;
  margin: 0 auto;
}
/* line 1166, ../sass/main.scss */
.wrapper-testimonial_module .horizontal-sreview-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 1171, ../sass/main.scss */
.wrapper-testimonial_module .slick-dots li {
  background-color: transparent;
}
/* line 1174, ../sass/main.scss */
.wrapper-testimonial_module .slick-dots li.slick-active button {
  background-color: #fff;
  opacity: 1;
}

/* line 1180, ../sass/main.scss */
.news-ncategory .wrapper-news {
  padding-top: 0;
}

/* line 1184, ../sass/main.scss */
.article-content {
  background-color: #fff;
  margin-bottom: 60px;
}

/* line 1190, ../sass/main.scss */
.blog-content h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: none;
}

/* line 1202, ../sass/main.scss */
.wrapper-news {
  padding: 50px 0 60px;
}
/* line 1204, ../sass/main.scss */
.wrapper-news .artblock {
  background-color: #fff;
  margin-bottom: 30px;
}
/* line 1207, ../sass/main.scss */
.wrapper-news .artblock:hover {
  box-shadow: 0 0 10px 0 #e6e6e6;
}
/* line 1210, ../sass/main.scss */
.wrapper-news .artblock a {
  display: block;
}
/* line 1212, ../sass/main.scss */
.wrapper-news .artblock a img {
  width: 100%;
}
/* line 1217, ../sass/main.scss */
.wrapper-news .artblock .text__news {
  padding: 30px;
}
/* line 1220, ../sass/main.scss */
.wrapper-news .artblock .text__news .description {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
/* line 1227, ../sass/main.scss */
.wrapper-news .artblock .text__news .name {
  margin-bottom: 20px;
  text-align: center;
}
/* line 1230, ../sass/main.scss */
.wrapper-news .artblock .text__news .name a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: #333333;
}

/* line 1245, ../sass/main.scss */
.wrapper_news_slider .slick-dots {
  bottom: 0;
}

/* line 1249, ../sass/main.scss */
.carousel-wrapper {
  background-color: #fff;
}
/* line 1253, ../sass/main.scss */
.carousel-wrapper .slick-carousel .item img {
  margin: 0 auto;
}

/* line 1259, ../sass/main.scss */
.newsletter-form {
  padding: 0 15px 0 0;
}

/* line 1262, ../sass/main.scss */
.social {
  padding: 0 0 0 15px;
  margin-bottom: 0px;
}
/* line 1265, ../sass/main.scss */
.social li {
  width: 45px;
  height: 45px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  float: left;
  margin-right: 10px;
  list-style: none;
  border-radius: 50%;
  transition: .3s;
  padding-left: 0;
}
/* line 1276, ../sass/main.scss */
.social li:before {
  display: none;
}
/* line 1279, ../sass/main.scss */
.social li:last-child {
  margin-right: 0;
}
/* line 1282, ../sass/main.scss */
.social li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/* line 1288, ../sass/main.scss */
.social li a i {
  font-size: 18px;
  color: #fff;
}
/* line 1293, ../sass/main.scss */
.social li:hover {
  background-color: #fff;
}
/* line 1297, ../sass/main.scss */
.social li:hover a i:before {
  color: #404969;
}

/* line 1305, ../sass/main.scss */
.copiright {
  background-color: #2a3047;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #9fa4b4;
  padding: 15px 0;
}
/* line 1315, ../sass/main.scss */
.copiright p {
  margin-bottom: 0;
}
/* line 1318, ../sass/main.scss */
.copiright a {
  text-align: right;
  display: block;
}

/* line 1331, ../sass/main.scss */
.brand-block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}
/* line 1335, ../sass/main.scss */
.brand-block h2 {
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: 4.8px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 0 20px;
  border-bottom: 1px solid #f5f6f7;
  text-transform: uppercase;
  color: #404969;
}
/* line 1349, ../sass/main.scss */
.brand-block .name-brand {
  padding: 5px 0;
  text-align: center;
}
/* line 1352, ../sass/main.scss */
.brand-block .name-brand a {
  font-size: 14px;
  color: #9fa4b4;
  padding: 0 15px;
}
/* line 1358, ../sass/main.scss */
.brand-block:hover {
  box-shadow: 0 0 10px 0 #e6e6e6;
}

/* line 1363, ../sass/main.scss */
.name-brends h1 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #404969;
  text-transform: uppercase;
  margin: 0;
}

/* line 1375, ../sass/main.scss */
.count-wrapper {
  width: 45px;
  height: 45px;
  background-color: #f5f6f7;
  border-radius: 50%;
  margin: 0 5px;
}
/* line 1381, ../sass/main.scss */
.count-wrapper:last-child {
  margin-right: 0;
}
/* line 1384, ../sass/main.scss */
.count-wrapper a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  color: #404969;
  position: relative;
}
/* line 1393, ../sass/main.scss */
.count-wrapper a i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

/* line 1404, ../sass/main.scss */
.count_item {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff7f50;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  top: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

/* line 1419, ../sass/main.scss */
.row-item {
  margin-right: -15px;
}

/* line 1422, ../sass/main.scss */
.newsletter_form-input {
  border-radius: 60px;
  overflow: hidden;
}
/* line 1425, ../sass/main.scss */
.newsletter_form-input input.form-control {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  color: #ffffff;
  border: 0 !important;
}
/* line 1431, ../sass/main.scss */
.newsletter_form-input input.form-control:active, .newsletter_form-input input.form-control:focus {
  background-color: #fff;
  color: #404969;
}

/* line 1438, ../sass/main.scss */
.form-pos {
  position: relative;
  margin-bottom: 0 !important;
}

/* line 1442, ../sass/main.scss */
.input-group-btn {
  width: 50px;
  height: 45px;
  right: 0;
  top: 0;
  position: absolute;
}
/* line 1448, ../sass/main.scss */
.input-group-btn button {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 1455, ../sass/main.scss */
.input-group-btn button i {
  color: #989eae;
}
/* line 1458, ../sass/main.scss */
.input-group-btn button:focus, .input-group-btn button:hover {
  background-color: transparent;
}
/* line 1461, ../sass/main.scss */
.input-group-btn button:focus i, .input-group-btn button:hover i {
  color: #989eae !important;
}

/* line 1467, ../sass/main.scss */
.alert-success {
  position: absolute;
  background-color: #bde4f4;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #404969;
  z-index: 3;
  border-radius: 0;
  box-shadow: 0 0 9px 0 #e6e6e6;
}

/* line 1482, ../sass/main.scss */
.wrapper-breadcrumb {
  background-color: #bde4f4;
  padding: 60px;
  margin-bottom: 60px;
}
/* line 1486, ../sass/main.scss */
.wrapper-breadcrumb .title-breadcrumb {
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #404969;
  margin: 0 0 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* line 1496, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 1503, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding-left: 0;
}
/* line 1512, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li:before {
  display: none;
}
/* line 1515, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li a {
  font-size: 12px;
  font-weight: bold;
  color: #404969;
}
/* line 1519, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li a i {
  font-size: 9px;
  line-height: 12px;
  margin: 0 10px;
}
/* line 1526, ../sass/main.scss */
.wrapper-breadcrumb .breadcrumb li + li:before {
  content: "";
  padding: 0;
}

/* line 1534, ../sass/main.scss */
.sort-wrapper {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

/* line 1539, ../sass/main.scss */
.iScrollLoneScrollbar {
  background-color: #e8e7ed;
  width: 2px !important;
}

/* line 1543, ../sass/main.scss */
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* line 1548, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0;
}

/* line 1552, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  color: #333333;
}

/* line 1557, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count {
  color: #333333;
}

/* line 1561, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}

/* line 1565, ../sass/main.scss */
.iScrollIndicator {
  background: coral !important;
}

/* line 1568, ../sass/main.scss */
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #ebecf0;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}

/* line 1583, ../sass/main.scss */
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid #404969;
  border-left: 2px solid #404969;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

/* line 1595, ../sass/main.scss */
.form-checkbox__label span,
.form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9fa4b4;
}

/* line 1608, ../sass/main.scss */
.radio .form-checkbox__marker {
  border-radius: 50%;
}
/* line 1610, ../sass/main.scss */
.radio .form-checkbox__marker:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d1d3da;
  opacity: 0;
  border: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 1626, ../sass/main.scss */
.special_block_info {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 0px;
}
/* line 1631, ../sass/main.scss */
.special_block_info .block_info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 1639, ../sass/main.scss */
.alert_add_cart {
  max-width: 350px;
  padding: 15px 35px 15px 60px;
  position: relative;
  background-color: #404969;
  border-radius: 4px;
  color: white;
  margin-top: 0;
  font-size: 16px;
}
/* line 1648, ../sass/main.scss */
.alert_add_cart:before {
  content: "\e909";
  font-family: icomoon;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white !important;
  font-size: 26px;
}
/* line 1658, ../sass/main.scss */
.alert_add_cart .rem_alert {
  position: absolute;
  right: 5px;
  top: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}
/* line 1666, ../sass/main.scss */
.alert_add_cart .rem_alert:after {
  left: 50%;
  top: 50%;
  content: "\e90f";
  font-family: icomoon;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

/* line 1682, ../sass/main.scss */
.select2-results ul li:before {
  display: none;
}

/* line 1688, ../sass/main.scss */
.mini-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #9fa4b4;
  font-size: 10px;
}

/* line 1695, ../sass/main.scss */
.alert_add_wishlist {
  max-width: 350px;
  padding: 15px 35px 15px 15px;
  position: relative;
  background-color: #404968;
  border-radius: 4px;
  color: white;
  margin-top: 0px;
  font-size: 16px;
}
/* line 1704, ../sass/main.scss */
.alert_add_wishlist a {
  color: white;
  text-decoration: underline;
}
/* line 1708, ../sass/main.scss */
.alert_add_wishlist .rem_alert {
  position: absolute;
  right: 5px;
  top: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}
/* line 1716, ../sass/main.scss */
.alert_add_wishlist .rem_alert:after {
  left: 50%;
  top: 50%;
  content: "\e90f";
  font-family: icomoon;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

/* line 1728, ../sass/main.scss */
.form-group {
  position: relative;
}
/* line 1730, ../sass/main.scss */
.form-group .text-danger {
  position: absolute;
  top: -20px;
  left: 0;
}

/* line 1736, ../sass/main.scss */
.text-share {
  align-items: center;
}
/* line 1738, ../sass/main.scss */
.text-share p {
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #404969;
  margin-bottom: 0;
}
/* line 1750, ../sass/main.scss */
.text-share img {
  margin-right: 10px;
}

/* line 1755, ../sass/main.scss */
.share_wrapp .icon_wrapp {
  display: none;
}
/* line 1759, ../sass/main.scss */
.share_wrapp.active .text-share {
  display: none;
}
/* line 1762, ../sass/main.scss */
.share_wrapp.active .icon_wrapp {
  display: flex;
}

/* line 1767, ../sass/main.scss */
.container-inp {
  min-height: 60px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  margin-bottom: 15px;
  padding: 15px;
}
/* line 1773, ../sass/main.scss */
.container-inp .form-group {
  margin-bottom: 0;
  height: 100%;
  justify-content: space-between;
}
/* line 1778, ../sass/main.scss */
.container-inp .control-label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa4b4;
  float: left;
}
/* line 1788, ../sass/main.scss */
.container-inp .radio-items {
  float: right;
}

/* line 1793, ../sass/main.scss */
.form-btn .form-checkbox {
  display: flex;
  margin: 0 auto 30px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* line 1801, ../sass/main.scss */
.form-btn .orang {
  width: auto;
}

/* line 1805, ../sass/main.scss */
.mfilter-counter,
.mfilter-col-count {
  color: #9fa4b4 !important;
}

/* line 1809, ../sass/main.scss */
.wrapp_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 1814, ../sass/main.scss */
.text-sort {
  margin-bottom: 0;
  font-size: 14px;
  color: #1a1a1a;
  margin-right: 20px;
}

/* line 1820, ../sass/main.scss */
.sort_item {
  margin-right: 20px;
}
/* line 1822, ../sass/main.scss */
.sort_item a {
  font-size: 14px;
  color: #aca8bf;
}
/* line 1827, ../sass/main.scss */
.sort_item.is_active a {
  font-size: 14px;
  font-weight: bold;
  color: #633b63;
}

/* line 1834, ../sass/main.scss */
.sort-right {
  margin-bottom: 30px;
}

/* line 1837, ../sass/main.scss */
.container-prod_first {
  background-color: #fff;
  margin-bottom: 60px;
}

/* line 1841, ../sass/main.scss */
.container-prod_second {
  padding: 30px;
}
/* line 1843, ../sass/main.scss */
.container-prod_second .copyContainer {
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.43 !important;
  letter-spacing: normal !important;
  color: #333333 !important;
}
/* line 1851, ../sass/main.scss */
.container-prod_second .copyContainer p {
  margin-bottom: 30px;
}
/* line 1855, ../sass/main.scss */
.container-prod_second p {
  margin-bottom: 30px;
}

/* line 1859, ../sass/main.scss */
.wrapper-notification {
  border-radius: 5px;
  background-color: #f6f6fb;
  border: dashed 1px #633b63;
  padding: 20px 60px;
  margin-bottom: 30px;
}
/* line 1865, ../sass/main.scss */
.wrapper-notification p {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #633b63;
}

/* line 1873, ../sass/main.scss */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  background-color: #fff;
  padding: 25px;
  position: relative;
}
/* line 1881, ../sass/main.scss */
.pagination > li {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #404969 !important;
  line-height: 30px;
  padding-left: 0;
}
/* line 1892, ../sass/main.scss */
.pagination > li:before {
  display: none;
}
/* line 1895, ../sass/main.scss */
.pagination > li a {
  border: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #9fa4b4 !important;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
}
/* line 1906, ../sass/main.scss */
.pagination > li a:hover {
  color: #404969 !important;
  border-radius: 0;
  background-color: transparent;
}
/* line 1912, ../sass/main.scss */
.pagination > li.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  width: auto;
  padding-left: 15px;
  color: #9fa4b4;
}
/* line 1923, ../sass/main.scss */
.pagination > li.prev a {
  color: #9fa4b4;
  line-height: 30px;
}
/* line 1927, ../sass/main.scss */
.pagination > li.prev span {
  font-size: 10px;
  padding-right: 10px;
}
/* line 1932, ../sass/main.scss */
.pagination > li.last {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  width: auto;
  padding-right: 15px;
  color: #9fa4b4;
}
/* line 1943, ../sass/main.scss */
.pagination > li.last span {
  font-size: 10px;
  padding-left: 10px;
}
/* line 1949, ../sass/main.scss */
.pagination > li.active span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #fff;
  border: 0;
  color: #404969;
  padding: 0;
  line-height: 30px;
  text-align: center;
}
/* line 1960, ../sass/main.scss */
.pagination > li.active span:hover {
  border-radius: 0;
  background-color: #fff;
  color: #404969;
}

/* line 1970, ../sass/main.scss */
.category_ing img {
  display: block;
  margin: 0 auto;
}

/* line 1975, ../sass/main.scss */
.btn-primary {
  width: 263px;
  height: 60px;
  border-radius: 60px;
  background-color: #404969;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
/* line 1990, ../sass/main.scss */
.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:hover {
  color: #ffffff;
  background-color: #ff7f50;
}

/* line 1998, ../sass/main.scss */
.mfilter-button-reset {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ff7f50;
  display: block;
  text-transform: uppercase;
  float: none !important;
  padding-top: 15px;
}
/* line 2008, ../sass/main.scss */
.mfilter-button-reset:active, .mfilter-button-reset:focus, .mfilter-button-reset:hover {
  color: #404969;
}

/* line 2015, ../sass/main.scss */
.sale-label {
  position: relative;
}
/* line 2017, ../sass/main.scss */
.sale-label .timer-curier {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 3px;
  color: #404969;
}
/* line 2028, ../sass/main.scss */
.sale-label .timer-curier .timar-info {
  opacity: 0.5;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #404969;
  margin-bottom: 5px;
}
/* line 2039, ../sass/main.scss */
.sale-label .timer-curier .timer {
  margin-top: 5px;
}
/* line 2043, ../sass/main.scss */
.sale-label .top-sales {
  top: 0;
  right: 0;
}

/* line 2050, ../sass/main.scss */
.product-page .sale-label .timer-curier {
  left: 15px;
  top: 15px;
}
/* line 2054, ../sass/main.scss */
.product-page .sale-label .top-sales {
  top: 15px;
  right: 15px;
}
/* line 2059, ../sass/main.scss */
.product-page h3 {
  text-transform: none;
}
/* line 2062, ../sass/main.scss */
.product-page .review_item {
  border: solid 1px #ebecf0;
}

/* line 2066, ../sass/main.scss */
.wrapper-errorpage {
  background: url("/catalog/view/image/404.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}
/* line 2073, ../sass/main.scss */
.wrapper-errorpage .row {
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
}
/* line 2079, ../sass/main.scss */
.wrapper-errorpage .text-errors {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  left: 0;
  text-align: center;
}
/* line 2087, ../sass/main.scss */
.wrapper-errorpage h1 {
  font-size: 200px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/* line 2097, ../sass/main.scss */
.wrapper-errorpage p {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}
/* line 2108, ../sass/main.scss */
.wrapper-errorpage a {
  width: 200px;
  height: 60px;
  border-radius: 60px;
  background-color: #bde4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  transition: .3s;
  margin: 0 auto;
}
/* line 2124, ../sass/main.scss */
.wrapper-errorpage a:hover, .wrapper-errorpage a:active, .wrapper-errorpage a:focus {
  color: #333333;
  background-color: #fff;
}

/* line 2132, ../sass/main.scss */
.plash {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 2147, ../sass/main.scss */
.plash.top-sales {
  background-color: #e83c4d;
}
/* line 2150, ../sass/main.scss */
.plash:nth-child(2) {
  top: 0px;
}
/* line 2155, ../sass/main.scss */
.plash:nth-child(3) {
  top: 30px;
}
/* line 2158, ../sass/main.scss */
.plash.new-prod {
  background-color: #08c299;
}
/* line 2161, ../sass/main.scss */
.plash.top-prod {
  background-color: #f7c677;
}

/* line 2166, ../sass/main.scss */
.mfilter-content > ul > li {
  padding-left: 0;
}
/* line 2168, ../sass/main.scss */
.mfilter-content > ul > li:before {
  display: none;
}

/* line 2172, ../sass/main.scss */
h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #333333;
  margin: 0 0 30px;
}

/* line 2182, ../sass/main.scss */
.thumbnails {
  border-radius: 0px;
  background-color: #ffffff;
  border: 0;
  overflow: hidden;
}
/* line 2187, ../sass/main.scss */
.thumbnails .item {
  padding: 30px;
}
/* line 2189, ../sass/main.scss */
.thumbnails .item img {
  width: 100%;
}

/* line 2195, ../sass/main.scss */
.price-list {
  margin-bottom: 30px;
}

/* line 2198, ../sass/main.scss */
.attribute-list {
  margin-bottom: 30px;
}
/* line 2200, ../sass/main.scss */
.attribute-list li {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}
/* line 2207, ../sass/main.scss */
.attribute-list li:before {
  display: none;
}
/* line 2210, ../sass/main.scss */
.attribute-list li span {
  display: block;
  min-width: 163px;
}

/* line 2216, ../sass/main.scss */
.name-attribute {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #9fa4b4;
}

/* line 2226, ../sass/main.scss */
.attribute-item {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* line 2235, ../sass/main.scss */
.thumbnails-mini {
  border-top: 1px solid #ebecf0;
}
/* line 2237, ../sass/main.scss */
.thumbnails-mini .item {
  border-radius: 0px;
  background-color: #ffffff;
  border-right: 1px solid #ebecf0;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 0;
}
/* line 2244, ../sass/main.scss */
.thumbnails-mini .item img {
  width: 100%;
}
/* line 2250, ../sass/main.scss */
.thumbnails-mini .slick-active:last-child {
  margin-bottom: 0;
}

/* line 2255, ../sass/main.scss */
.product-info-container {
  padding: 30px;
}
/* line 2257, ../sass/main.scss */
.product-info-container .rating {
  margin-bottom: 30px;
}

/* line 2262, ../sass/main.scss */
.slick-dots li {
  padding-left: 0;
}
/* line 2264, ../sass/main.scss */
.slick-dots li:before {
  display: none;
}

/* line 2269, ../sass/main.scss */
.image-container {
  border-right: 1px solid #ebecf0;
}

/* line 2272, ../sass/main.scss */
.flex-content {
  justify-content: space-between;
}

/* line 2275, ../sass/main.scss */
.status-prod {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #5fcc9c;
}
/* line 2280, ../sass/main.scss */
.status-prod span {
  font-size: 10px;
  margin-right: 10px;
}

/* line 2286, ../sass/main.scss */
.rating a {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #d9dbe1;
}
/* line 2294, ../sass/main.scss */
.rating a span {
  color: #ff7f50;
}
/* line 2298, ../sass/main.scss */
.rating .fa {
  font-size: 16px;
  color: #d9dbe1;
}
/* line 2301, ../sass/main.scss */
.rating .fa.active {
  color: #ff7f50;
}
/* line 2303, ../sass/main.scss */
.rating .fa.active i {
  color: #ff7f50;
}

/* line 2309, ../sass/main.scss */
.select2-container .select2-selection--single {
  height: 40px;
}

/* line 2312, ../sass/main.scss */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px #ebecf0;
}

/* line 2317, ../sass/main.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
}

/* line 2320, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333333;
  line-height: 40px;
}

/* line 2324, ../sass/main.scss */
.select2-container--focus .select2-selection--single .select2-selection__rendered {
  color: #333333;
}

/* line 2327, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  color: #333333;
}
/* line 2330, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow i {
  line-height: 40px;
}

/* line 2334, ../sass/main.scss */
.select2-dropdown {
  background-color: #fff;
  border: solid 1px #ebecf0;
}

/* line 2338, ../sass/main.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f5f6f7;
  color: #333333;
}

/* line 2342, ../sass/main.scss */
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #f5f6f7;
  color: #333333;
}

/* line 2346, ../sass/main.scss */
.select2-results__option {
  padding: 10px 15px;
  color: #333333;
  font-size: 14px;
}

/* line 2351, ../sass/main.scss */
.sort-text-left {
  justify-content: flex-end;
}

/* line 2354, ../sass/main.scss */
select.form-control {
  height: 40px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  color: #333;
  line-height: 40px;
  box-shadow: none;
}

/* line 2362, ../sass/main.scss */
.sort-text {
  font-size: 14px;
  color: #9fa4b4;
  font-weight: 300;
}

/* line 2368, ../sass/main.scss */
.limit-select label {
  margin-right: 15px;
  font-size: 14px;
  color: #9fa4b4;
  font-weight: 300;
}
/* line 2374, ../sass/main.scss */
.limit-select .select2-container {
  width: 90px !important;
}

/* line 2378, ../sass/main.scss */
.sort-select {
  margin-right: 30px;
}
/* line 2380, ../sass/main.scss */
.sort-select label {
  margin-right: 15px;
  font-size: 14px;
  color: #9fa4b4;
  font-weight: 300;
}
/* line 2387, ../sass/main.scss */
.sort-select .select2-container {
  width: 200px !important;
}

/* line 2391, ../sass/main.scss */
.wrapp_inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin-right: 10px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #ebecf0;
}
/* line 2401, ../sass/main.scss */
.wrapp_inputs input {
  border: 0;
  box-shadow: none;
  background-color: #fff;
  height: 45px;
  text-align: center;
  flex: 1;
}
/* line 2409, ../sass/main.scss */
.wrapp_inputs .button {
  height: 45px;
  flex: 1;
  align-items: center;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
}

/* line 2420, ../sass/main.scss */
.discount {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #aca8bf;
  margin-bottom: 30px;
  margin-top: 15px;
}
/* line 2430, ../sass/main.scss */
.discount span {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: right;
  color: #633b63;
}

/* line 2441, ../sass/main.scss */
.btn-pink_by {
  height: 45px;
  border-radius: 3px;
  background-color: #404969;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 15px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-transform: uppercase;
}
/* line 2461, ../sass/main.scss */
.btn-pink_by:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff7f50;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 2481, ../sass/main.scss */
.btn-pink_by:hover, .btn-pink_by:active, .btn-pink_by:focus {
  background-color: #ff7f50;
  color: #fff;
}
/* line 2486, ../sass/main.scss */
.btn-pink_by:hover:before, .btn-pink_by:active:before, .btn-pink_by:focus:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* line 2492, ../sass/main.scss */
.btn-pink_by.violet {
  background-color: #ff7f50;
  margin-right: 0;
}
/* line 2495, ../sass/main.scss */
.btn-pink_by.violet:before {
  background: #404969;
}
/* line 2498, ../sass/main.scss */
.btn-pink_by.violet i {
  font-size: 20px;
  margin-right: 15px;
}
/* line 2501, ../sass/main.scss */
.btn-pink_by.violet i:before {
  color: #fff;
}
/* line 2505, ../sass/main.scss */
.btn-pink_by.violet:hover, .btn-pink_by.violet:active, .btn-pink_by.violet:focus {
  background-color: #404969;
  color: #fff;
}

/* line 2513, ../sass/main.scss */
.in_wishlist {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #aca8bf;
  transition: .3s;
}
/* line 2524, ../sass/main.scss */
.in_wishlist i {
  margin-right: 10px;
}
/* line 2526, ../sass/main.scss */
.in_wishlist i:before {
  transition: .3s;
}
/* line 2530, ../sass/main.scss */
.in_wishlist:hover {
  color: #633b63;
}
/* line 2533, ../sass/main.scss */
.in_wishlist:hover i:before {
  color: #633b63;
}

/* line 2539, ../sass/main.scss */
.big-information {
  margin-top: 60px;
}

/* line 2542, ../sass/main.scss */
.share_item {
  margin-right: 30px;
}
/* line 2544, ../sass/main.scss */
.share_item:last-child {
  margin-right: 0;
}
/* line 2547, ../sass/main.scss */
.share_item a {
  color: #aca8bf;
  font-size: 12px;
  font-weight: 600;
  transition: .3s;
}
/* line 2552, ../sass/main.scss */
.share_item a:hover {
  color: #404969;
}
/* line 2556, ../sass/main.scss */
.share_item:before {
  transition: .3s;
  color: #aca8bf;
}
/* line 2560, ../sass/main.scss */
.share_item:hover {
  color: #404969;
}
/* line 2562, ../sass/main.scss */
.share_item:hover:before {
  color: #404969;
}

/* line 2568, ../sass/main.scss */
.nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px;
}
/* line 2571, ../sass/main.scss */
.nav-tabs > li {
  float: left;
  padding-right: 30px;
  padding-left: 0;
}
/* line 2575, ../sass/main.scss */
.nav-tabs > li:before {
  display: none;
}
/* line 2579, ../sass/main.scss */
.nav-tabs > li > a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #9fa4b4;
  letter-spacing: 2px;
  transition: .3s;
  border: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
/* line 2589, ../sass/main.scss */
.nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  background-color: transparent;
  border: 0 !important;
  letter-spacing: 2px;
  color: #404969;
}
/* line 2599, ../sass/main.scss */
.nav-tabs > li.active > a {
  border: 0 !important;
  letter-spacing: 2px;
  color: #404969;
  background-color: transparent;
}
/* line 2604, ../sass/main.scss */
.nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0 !important;
  letter-spacing: 2px;
  color: #404969;
  background-color: transparent;
}

/* line 2617, ../sass/main.scss */
.big-information .tab-content {
  margin-bottom: 115px;
}

/* line 2622, ../sass/main.scss */
.testimonial-testimonial .nav-tabs {
  background-color: #fff;
  padding: 30px;
}

/* line 2629, ../sass/main.scss */
#tab-description p {
  margin-bottom: 30px;
}
/* line 2632, ../sass/main.scss */
#tab-description > * {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}

/* line 2643, ../sass/main.scss */
.releted-prod h3 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  text-transform: none;
}

/* line 2655, ../sass/main.scss */
.attribute_groups {
  margin-bottom: 30px;
}
/* line 2657, ../sass/main.scss */
.attribute_groups span {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
}
/* line 2665, ../sass/main.scss */
.attribute_groups span.attribute-name {
  color: #aca8bf;
}

/* line 2670, ../sass/main.scss */
#tab-specification {
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  overflow: hidden;
}

/* line 2675, ../sass/main.scss */
.table-violet {
  border: 0;
  margin-bottom: 0;
}
/* line 2678, ../sass/main.scss */
.table-violet tbody {
  border: 0 !important;
}
/* line 2680, ../sass/main.scss */
.table-violet tbody > tr {
  border-bottom: solid 1px #e8e7ed;
}
/* line 2682, ../sass/main.scss */
.table-violet tbody > tr > td {
  border: 0;
  padding: 30px;
}
/* line 2685, ../sass/main.scss */
.table-violet tbody > tr > td:first-child {
  background-color: #f6f6fb;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: normal;
  color: #633b63;
  border-right: 2px dashed #e8e7ed;
}
/* line 2695, ../sass/main.scss */
.table-violet tbody > tr p {
  opacity: 0.9;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-bottom: 15px;
}
/* line 2702, ../sass/main.scss */
.table-violet tbody > tr p.grey-text {
  opacity: 1;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  color: #aca8bf;
  margin-bottom: 15px;
}
/* line 2714, ../sass/main.scss */
.table-violet tbody:last-child > tr {
  border: 0;
}

/* line 2720, ../sass/main.scss */
.payment-container {
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e8e7ed;
  padding: 30px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
}
/* line 2732, ../sass/main.scss */
.payment-container h3 {
  font-size: 14px;
  color: #1a1a1a;
  text-transform: none;
  text-align: left;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

/* line 2742, ../sass/main.scss */
.info-container {
  margin-bottom: 60px;
}
/* line 2744, ../sass/main.scss */
.info-container p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-bottom: 30px;
}
/* line 2754, ../sass/main.scss */
.info-container .wrapper-image {
  padding: 30px 0 60px;
}

/* line 2758, ../sass/main.scss */
.delivery-item {
  position: relative;
}
/* line 2760, ../sass/main.scss */
.delivery-item img {
  width: 100%;
}
/* line 2763, ../sass/main.scss */
.delivery-item p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #aca8bf;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

/* line 2774, ../sass/main.scss */
.white-style-form {
  background-color: #fff;
  border-radius: 0px;
  overflow: hidden;
  padding: 30px;
}
/* line 2780, ../sass/main.scss */
.white-style-form .c-reviewStars-input {
  width: 100%;
}
/* line 2783, ../sass/main.scss */
.white-style-form h2 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
  text-transform: none;
}

/* line 2797, ../sass/main.scss */
.callback {
  width: 45px;
  height: 45px;
  background-color: #404969;
  border-radius: 50%;
  border: 0;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
  color: #fff;
  padding: 0;
}
/* line 2810, ../sass/main.scss */
.callback:focus {
  background-color: #404969;
  color: #fff;
  border-color: #fff;
  background-image: none;
}
/* line 2816, ../sass/main.scss */
.callback:hover {
  background-color: #404969;
  color: #fff;
}
/* line 2820, ../sass/main.scss */
.callback .btn-callphone {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  z-index: 99;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 2831, ../sass/main.scss */
.callback .btn-callphone:focus, .callback .btn-callphone:active, .callback .btn-callphone:hover {
  color: #fff;
}
/* line 2837, ../sass/main.scss */
.callback .callback_block {
  height: 45px;
  position: absolute;
  width: 45px;
}
/* line 2841, ../sass/main.scss */
.callback .callback_block .callback_a {
  -webkit-animation: callback 3s linear 0s infinite;
  -moz-animation: callback 3s linear 0s infinite;
  animation: callback 3s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #404969;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}
/* line 2857, ../sass/main.scss */
.callback .callback_block .callback_b {
  -webkit-animation: callback 1.5s linear 0s infinite;
  -moz-animation: callback 1.5s linear 0s infinite;
  animation: callback 1.5s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #404969;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}

/* line 2878, ../sass/main.scss */
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

/* line 2882, ../sass/main.scss */
input.form-control {
  box-shadow: none !important;
  padding: 10px 15px;
  margin-right: 0;
  height: 60px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
}
/* line 2889, ../sass/main.scss */
input.form-control::-webkit-input-placeholder {
  color: #aca8bf;
}
/* line 2890, ../sass/main.scss */
input.form-control::-moz-placeholder {
  color: #aca8bf;
}
/* line 2891, ../sass/main.scss */
input.form-control:-moz-placeholder {
  color: #aca8bf;
}
/* line 2892, ../sass/main.scss */
input.form-control:-ms-input-placeholder {
  color: #aca8bf;
}
/* line 2894, ../sass/main.scss */
input.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 2895, ../sass/main.scss */
input.form-control:focus::-moz-placeholder {
  color: transparent;
}
/* line 2896, ../sass/main.scss */
input.form-control:focus:-moz-placeholder {
  color: transparent;
}
/* line 2897, ../sass/main.scss */
input.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 2901, ../sass/main.scss */
textarea.form-control {
  border-radius: 3px;
  height: 120px;
  resize: none;
  border: solid 1px #ebecf0;
  box-shadow: none;
  padding: 10px 15px;
  color: #9fa4b4;
}
/* line 2909, ../sass/main.scss */
textarea.form-control::-webkit-input-placeholder {
  color: #9fa4b4;
}
/* line 2910, ../sass/main.scss */
textarea.form-control::-moz-placeholder {
  color: #9fa4b4;
}
/* line 2911, ../sass/main.scss */
textarea.form-control:-moz-placeholder {
  color: #9fa4b4;
}
/* line 2912, ../sass/main.scss */
textarea.form-control:-ms-input-placeholder {
  color: #9fa4b4;
}
/* line 2913, ../sass/main.scss */
textarea.form-control:focus {
  color: #333 !important;
}
/* line 2915, ../sass/main.scss */
textarea.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 2916, ../sass/main.scss */
textarea.form-control:focus::-moz-placeholder {
  color: transparent;
}
/* line 2917, ../sass/main.scss */
textarea.form-control:focus:-moz-placeholder {
  color: transparent;
}
/* line 2918, ../sass/main.scss */
textarea.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 2921, ../sass/main.scss */
.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim;
}

/* line 2924, ../sass/main.scss */
.text-danger,
.error {
  color: #e83c4d;
  font-weight: 300;
}

/* line 2929, ../sass/main.scss */
.modal-sm {
  width: 555px;
}

/* line 2933, ../sass/main.scss */
.modal-content {
  background-color: #fff;
  padding: 30px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
/* line 2939, ../sass/main.scss */
.modal-content .btn-default.orang:hover {
  background-color: #404969 !important;
  color: #fff !important;
}
/* line 2943, ../sass/main.scss */
.modal-content .close {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 10px;
  color: #404969;
}
/* line 2951, ../sass/main.scss */
.modal-content .modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 30px;
  text-transform: none;
}

/* line 2962, ../sass/main.scss */
.authorization_modal-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #d1ceda;
  margin: 0 0 30px;
  text-transform: uppercase;
}

/* line 2972, ../sass/main.scss */
.modal-backdrop {
  background-color: #404969;
}

/* line 2975, ../sass/main.scss */
.fl_login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 2980, ../sass/main.scss */
.fl_login a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: right;
  color: #ff7f50;
}

/* line 2988, ../sass/main.scss */
.createaccount,
.loginaccount {
  width: 100%;
}

/* line 2992, ../sass/main.scss */
.show_pass_ch {
  margin: 0;
}
/* line 2994, ../sass/main.scss */
.show_pass_ch .form-checkbox__marker {
  background-color: #fff;
  margin-right: 10px;
}
/* line 2998, ../sass/main.scss */
.show_pass_ch .price-position {
  padding: 0;
}

/* line 3003, ../sass/main.scss */
.authorization_modal-register .btn-primary {
  margin: 0 auto;
}

/* line 3007, ../sass/main.scss */
.alert-danger {
  color: #fff;
  background-color: rgba(232, 60, 70, 0.9);
  border-color: #e83c4d;
}

/* line 3014, ../sass/main.scss */
.modal_product_info {
  width: 100%;
  padding-left: 15px;
}
/* line 3017, ../sass/main.scss */
.modal_product_info .select2-container--default .select2-selection--single {
  background-color: #fff;
}
/* line 3020, ../sass/main.scss */
.modal_product_info .select2-container {
  width: 100% !important;
}
/* line 3023, ../sass/main.scss */
.modal_product_info h4 {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #d1ceda;
}

/* line 3032, ../sass/main.scss */
.payment-info {
  margin-top: 15px;
  margin-bottom: 30px;
}

/* line 3037, ../sass/main.scss */
.modal_product_bottom .btn-primary {
  margin: 0 auto;
}

/* line 3041, ../sass/main.scss */
.wrapper-popop-pur {
  align-items: flex-start;
}

/* line 3044, ../sass/main.scss */
.payment-quantity {
  margin-bottom: 30px;
}
/* line 3046, ../sass/main.scss */
.payment-quantity .wrapp_inputs {
  background-color: #fff;
  margin-right: 0;
}
/* line 3050, ../sass/main.scss */
.payment-quantity input {
  background-color: #fff;
  box-shadow: none;
}

/* line 3055, ../sass/main.scss */
.simplecheckout-right-column {
  border-radius: 0;
  background-color: transparent;
  border: 0;
}
/* line 3059, ../sass/main.scss */
.simplecheckout-right-column h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #1a1a1a;
  margin: 0 0 30px;
  letter-spacing: normal;
  text-transform: none;
}
/* line 3071, ../sass/main.scss */
.simplecheckout-right-column .btn-default.orang:hover {
  background-color: #404969;
  color: #fff;
}

/* line 3078, ../sass/main.scss */
#simplecheckout_cart {
  background-color: #fff;
}

/* line 3081, ../sass/main.scss */
.simplecheckout-left-column {
  border-radius: 0px;
  background-color: #fff;
  padding: 30px;
}
/* line 3085, ../sass/main.scss */
.simplecheckout-left-column .block-title {
  border-bottom: 1px solid #ebecf0;
  margin-bottom: 20px;
  position: relative;
}
/* line 3090, ../sass/main.scss */
.simplecheckout-left-column .block-title:before {
  content: '';
  position: absolute;
  left: -30px;
  bottom: -1px;
  width: 35px;
  height: 1px;
  background-color: #ebecf0;
}
/* line 3099, ../sass/main.scss */
.simplecheckout-left-column .block-title:after {
  content: '';
  position: absolute;
  right: -30px;
  bottom: -1px;
  width: 35px;
  height: 1px;
  background-color: #ebecf0;
}
/* line 3109, ../sass/main.scss */
.simplecheckout-left-column h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #1a1a1a;
  margin: 0 0 30px;
  letter-spacing: normal;
  text-transform: none;
}
/* line 3119, ../sass/main.scss */
.simplecheckout-left-column .panel-heading {
  padding: 0;
  margin-bottom: 30px;
}

/* line 3124, ../sass/main.scss */
.checkout-heading {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #9fa4b4;
}

/* line 3137, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single {
  background-color: #fff;
}
/* line 3140, ../sass/main.scss */
.simplecheckout-block-content .select2-container .select2-selection--single {
  height: 60px;
}
/* line 3143, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 60px;
}
/* line 3146, ../sass/main.scss */
.simplecheckout-block-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  line-height: 60px;
}

/* line 3151, ../sass/main.scss */
#simplecheckout_cart {
  overflow: hidden;
}

/* line 3154, ../sass/main.scss */
.checkout-simplecheckout #buttons {
  display: none !important;
}

/* line 3157, ../sass/main.scss */
.simplecheckout-cart-total {
  border: 0 !important;
  padding: 25px 15px !important;
}
/* line 3161, ../sass/main.scss */
.simplecheckout-cart-total span:first-child {
  float: left;
  font-size: 14px;
  line-height: 1.29;
  color: #aca8bf;
}
/* line 3168, ../sass/main.scss */
.simplecheckout-cart-total .simplecheckout-cart-total-value {
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: #1a1a1a;
}
/* line 3175, ../sass/main.scss */
.simplecheckout-cart-total .btn-pink_by {
  width: 220px;
  margin: 0 auto;
}

/* line 3180, ../sass/main.scss */
.btn-simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
/* line 3185, ../sass/main.scss */
.btn-simple .btn {
  margin: 0;
  flex: 1;
}
/* line 3188, ../sass/main.scss */
.btn-simple .btn:first-child {
  margin-right: 30px;
}

/* line 3194, ../sass/main.scss */
.simple_cart .block-title {
  padding: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ebecf0;
}
/* line 3198, ../sass/main.scss */
.simple_cart .block-title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #1a1a1a;
  margin: 0;
  text-transform: none;
}
/* line 3208, ../sass/main.scss */
.simple_cart .simple_item {
  border-bottom: solid 1px #e8e7ed;
  display: flex;
  align-items: flex-start;
  padding: 30px 15px;
  position: relative;
}
/* line 3214, ../sass/main.scss */
.simple_cart .simple_item .quantity,
.simple_cart .simple_item .pqt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 3219, ../sass/main.scss */
.simple_cart .simple_item .quantity .price,
.simple_cart .simple_item .pqt .price {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #333333;
}
/* line 3229, ../sass/main.scss */
.simple_cart .simple_item .quantity {
  border-radius: 3px;
  background-color: #f6f6fb;
  width: 100px;
  height: 40px;
  border: solid 1px #ebecf0;
}
/* line 3235, ../sass/main.scss */
.simple_cart .simple_item .quantity input {
  background-color: #fff;
  border: 0;
  padding: 0;
  height: 100%;
  flex: 1;
  text-align: center;
}
/* line 3243, ../sass/main.scss */
.simple_cart .simple_item .quantity button {
  height: 100%;
  background-color: #fff;
  padding: 0;
  border: 0;
  flex: 1;
}
/* line 3251, ../sass/main.scss */
.simple_cart .simple_item .quantity .btn-plus i {
  transform: rotate(90deg);
}
/* line 3256, ../sass/main.scss */
.simple_cart .simple_item .quantity .btn-minus i {
  transform: rotate(90deg);
}
/* line 3261, ../sass/main.scss */
.simple_cart .simple_item .wrapp_cart_right {
  width: 100%;
  padding-left: 30px;
}
/* line 3264, ../sass/main.scss */
.simple_cart .simple_item .wrapp_cart_right .options {
  margin-bottom: 30px;
}
/* line 3267, ../sass/main.scss */
.simple_cart .simple_item .wrapp_cart_right .name {
  margin-bottom: 15px;
}
/* line 3269, ../sass/main.scss */
.simple_cart .simple_item .wrapp_cart_right .name a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #333333;
}
/* line 3280, ../sass/main.scss */
.simple_cart .simple_item .remove_btn {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 7px;
  font-size: 10px;
  color: #9fa4b4;
}

/* line 3295, ../sass/main.scss */
.options {
  margin-bottom: 15px;
}
/* line 3298, ../sass/main.scss */
.options .option_item span {
  font-size: 12px;
  line-height: 1;
  letter-spacing: normal;
}
/* line 3302, ../sass/main.scss */
.options .option_item span:first-child {
  color: #aca8bf;
}
/* line 3305, ../sass/main.scss */
.options .option_item span:last-child {
  color: #633b63;
}

/* line 3311, ../sass/main.scss */
ul {
  padding: 0;
  text-align: left;
}
/* line 3314, ../sass/main.scss */
ul li {
  list-style: none;
  position: relative;
  padding-left: 16px;
}
/* line 3318, ../sass/main.scss */
ul li:before {
  content: '';
  background-color: #ff7f50;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* line 3331, ../sass/main.scss */
.account_title h1,
.account_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #404969;
  margin: 0 0 30px;
  text-transform: uppercase;
}

/* line 3342, ../sass/main.scss */
.wrapper-margin input.form-control,
.simpleregister-block-content input.form-control {
  background-color: #f6f6fb;
}

/* line 3346, ../sass/main.scss */
.contact-info_big {
  border-radius: 0px;
  border: 0;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  background-color: #fff;
}
/* line 3361, ../sass/main.scss */
.contact-info_big i {
  display: block;
  width: 90px;
  height: 90px;
  background-color: #bde4f4;
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
  color: #404969;
  font-size: 40px;
}
/* line 3371, ../sass/main.scss */
.contact-info_big i:before {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 3381, ../sass/main.scss */
.contact-info_big.price span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}
/* line 3393, ../sass/main.scss */
.contact-info_big p {
  font-size: 14px;
  font-weight: bold;
  line-height: 0.86;
  text-align: center;
  color: #aca8bf;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 3401, ../sass/main.scss */
.contact-info_big p.mini-title {
  text-transform: none;
  margin-bottom: 0;
  padding-right: 5px;
}
/* line 3407, ../sass/main.scss */
.contact-info_big a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  width: 240px;
}
/* line 3414, ../sass/main.scss */
.contact-info_big a span {
  font-size: 20px;
  margin-right: 15px;
  color: #fff !important;
  margin-bottom: 0 !important;
}
/* line 3420, ../sass/main.scss */
.contact-info_big a:hover {
  background-color: #404969 !important;
  color: #fff !important;
}

/* line 3427, ../sass/main.scss */
.information-contact .c-form-style {
  background-color: #fff;
  padding: 30px 30px 60px;
}
/* line 3431, ../sass/main.scss */
.information-contact h2 {
  text-transform: none;
}

/* line 3435, ../sass/main.scss */
.form-control:focus {
  border-color: #ff7f50;
}

/* line 3438, ../sass/main.scss */
.has-error .form-control {
  border-color: #e83c4d;
}

/* line 3441, ../sass/main.scss */
.grid_wrapper {
  margin: 0 auto;
}

/* line 3444, ../sass/main.scss */
.grid-sizer,
.grid-item {
  width: 33.33%;
  height: 255px;
  float: left;
  border: 15px solid #fff;
}

/* line 3451, ../sass/main.scss */
.grid-item.galery-grid-1 {
  width: 66.66%;
  height: 510px;
}

/* line 3455, ../sass/main.scss */
.grid-item.galery-grid-2 {
  width: 33.33%;
  height: 255px;
}

/* line 3459, ../sass/main.scss */
.grid-item .project__image img {
  width: 100%;
  height: 100%;
}

/* line 3463, ../sass/main.scss */
.grid-item .project__image {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  position: relative;
}

/* line 3470, ../sass/main.scss */
.review_item {
  border-radius: 0;
  background-color: #ffffff;
  border: 0;
  padding: 30px;
  margin-bottom: 15px;
}
/* line 3476, ../sass/main.scss */
.review_item .head {
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 3479, ../sass/main.scss */
.review_item .head .name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-right: 30px;
}
/* line 3487, ../sass/main.scss */
.review_item .head .name-prod {
  margin-right: 30px;
}
/* line 3489, ../sass/main.scss */
.review_item .head .name-prod a {
  font-size: 16px;
  line-height: 1;
  color: #ff7f50;
  font-weight: 600;
}
/* line 3496, ../sass/main.scss */
.review_item .head .testimonial-time {
  font-size: 16px;
  color: #9fa4b4;
}
/* line 3497, ../sass/main.scss */
.review_item .head .testimonial-time i {
  margin-right: 5PX;
}
/* line 3504, ../sass/main.scss */
.review_item .text {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
  font-style: italic;
}
/* line 3514, ../sass/main.scss */
.review_item .text p:last-child {
  margin-bottom: 0;
}

/* line 3521, ../sass/main.scss */
.information-information .c-inform-text {
  text-align: center;
}

/* line 3526, ../sass/main.scss */
.wrapper-top-menu .dropdown-toggle {
  display: flex;
  align-items: center;
}
/* line 3529, ../sass/main.scss */
.wrapper-top-menu .dropdown-toggle i {
  font-size: 6px;
  line-height: 14px;
  margin-left: 5px;
}

/* line 3536, ../sass/main.scss */
.dropdown-menu {
  background-color: #f5f6f7;
  border-radius: 0;
  border: 0;
  margin: 0;
  color: #9a9fb0;
  box-shadow: none;
  min-width: 68px;
  padding: 15px;
  top: 32px;
  left: -20px;
  min-width: 201px;
}
/* line 3548, ../sass/main.scss */
.dropdown-menu li {
  margin: 0 0 15px;
}
/* line 3550, ../sass/main.scss */
.dropdown-menu li a {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #989eae;
  white-space: nowrap;
}
/* line 3558, ../sass/main.scss */
.dropdown-menu li button {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #989eae;
}

/* line 3567, ../sass/main.scss */
.wrapper-menu-collaps {
  background-color: #ffff;
}

/* line 3570, ../sass/main.scss */
.dropdown-level {
  display: none;
}
/* line 3572, ../sass/main.scss */
.dropdown-level.open-level {
  display: block;
}
/* line 3575, ../sass/main.scss */
.dropdown-level ul {
  padding: 50px 0 30px;
}
/* line 3578, ../sass/main.scss */
.dropdown-level li {
  min-width: 258px;
  height: 60px;
  padding: 10px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border: solid 1px #ebecf0;
  margin-right: 30px;
}
/* line 3589, ../sass/main.scss */
.dropdown-level li a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9fa4b4;
}
/* line 3598, ../sass/main.scss */
.dropdown-level li:last-child {
  margin-right: 0;
}

/* line 3642, ../sass/main.scss */
.user-image {
  width: 90px;
  height: 90px;
  background-color: #bde4f4;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto 15px;
}
/* line 3650, ../sass/main.scss */
.user-image i {
  font-size: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 3660, ../sass/main.scss */
.thumbnails-pop a {
  display: block;
}
/* line 3662, ../sass/main.scss */
.thumbnails-pop a img {
  margin: 0 auto;
  display: block;
}

/* line 3669, ../sass/main.scss */
.html_module_slider .item {
  margin: 5px 15px;
}
/* line 3671, ../sass/main.scss */
.html_module_slider .item p {
  min-height: 60px;
  display: flex;
  align-items: flex-start;
}

/* line 3678, ../sass/main.scss */
.open-xs-menu {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff7f50;
  position: relative;
  text-transform: uppercase;
}
/* line 3694, ../sass/main.scss */
.open-xs-menu img {
  margin-right: 15px;
}
/* line 3697, ../sass/main.scss */
.open-xs-menu .name-caalog {
  letter-spacing: 2px;
  color: #333333;
  margin-bottom: 0;
  margin-right: 15px;
  width: auto;
  height: auto;
  background-color: #fff;
  line-height: 45px;
}
/* line 3707, ../sass/main.scss */
.open-xs-menu i {
  color: #aca8bf;
  font-size: 7px;
  line-height: 45px;
}
/* line 3712, ../sass/main.scss */
.open-xs-menu span {
  width: 30.6px;
  height: 5.3px;
  background-color: #ff7f50;
  margin-bottom: 4.3px;
  display: block;
}
/* line 3718, ../sass/main.scss */
.open-xs-menu span:last-child {
  margin-bottom: 0;
}
/* line 3722, ../sass/main.scss */
.open-xs-menu.js-catalog-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
/* line 3730, ../sass/main.scss */
.open-xs-menu.active {
  z-index: 99;
  color: #ff7f50;
}
/* line 3735, ../sass/main.scss */
.open-xs-menu.active.js-information-menu {
  position: fixed;
  z-index: 999999;
}
/* line 3739, ../sass/main.scss */
.open-xs-menu.active span {
  background-color: #ff7f50;
}
/* line 3741, ../sass/main.scss */
.open-xs-menu.active span:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: 0;
}
/* line 3745, ../sass/main.scss */
.open-xs-menu.active span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: -5.5px;
  margin-bottom: 0;
}
/* line 3750, ../sass/main.scss */
.open-xs-menu.active span:nth-child(3) {
  display: none;
}

/* line 3756, ../sass/main.scss */
.wrapper-voucher {
  background-color: #fff;
  padding: 60px 30px;
}
/* line 3759, ../sass/main.scss */
.wrapper-voucher h1 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}
/* line 3771, ../sass/main.scss */
.wrapper-voucher.price h2 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  text-transform: none;
  margin-bottom: 30px;
}
/* line 3783, ../sass/main.scss */
.wrapper-voucher.price p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}

/* line 3796, ../sass/main.scss */
.table-left {
  background-color: #ffffff;
  border: 2px solid #f5f6f7;
}

/* line 3801, ../sass/main.scss */
.item-compare {
  position: relative;
  padding: 17px 16px;
  text-align: left;
  border-top: 2px solid #f5f6f7;
  background-color: #fff;
}
/* line 3807, ../sass/main.scss */
.item-compare:nth-child(1) {
  border-top: none;
  min-height: 435px;
}
/* line 3811, ../sass/main.scss */
.item-compare p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  font-weight: 400;
  color: #404969;
  margin-bottom: 0;
}

/* line 3823, ../sass/main.scss */
.item-product .item-compare.bold-text {
  min-height: 56px;
}
/* line 3826, ../sass/main.scss */
.item-product .item-compare p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #9fa4b4;
}
/* line 3836, ../sass/main.scss */
.item-product .item-compare .rating {
  text-align: center;
}
/* line 3839, ../sass/main.scss */
.item-product .item-compare .price {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* line 3853, ../sass/main.scss */
.slider-wrapper .item-product {
  float: left;
  margin-right: -1px;
}
/* line 3858, ../sass/main.scss */
.slider-wrapper .item-product .item-compare:nth-child(1) {
  min-height: 405px;
  padding: 0;
  margin-bottom: 30px;
}

/* line 3865, ../sass/main.scss */
.compare-btn {
  top: 20%;
}
/* line 3867, ../sass/main.scss */
.compare-btn.products_row-prev_btn {
  left: 15px;
}
/* line 3870, ../sass/main.scss */
.compare-btn.products_row-next_btn {
  right: 15px;
}

/* line 3874, ../sass/main.scss */
.bnews-list {
  text-align: center;
}
/* line 3876, ../sass/main.scss */
.bnews-list .orang {
  display: block;
  line-height: 60px;
}

/* line 3884, ../sass/main.scss */
.buttons .btn-default.orang:active, .buttons .btn-default.orang:hover {
  background-color: #404969;
  color: #fff;
}

/* line 3892, ../sass/main.scss */
.gallery_list .gallery_item .wrapp_thumb:hover img {
  transform: scale(1);
}

/* line 3895, ../sass/main.scss */
.gallery_list .gallery_item .wrapp_thumb img {
  transform: scale(1.05);
  transition: 0.4s ease all;
}

/* line 3899, ../sass/main.scss */
.gallery_row {
  display: flex;
  flex-direction: column;
}

/* line 3903, ../sass/main.scss */
.gallery_item {
  padding: 0 15px;
  margin-bottom: 30px;
}
/* line 3906, ../sass/main.scss */
.gallery_item .wrapp_thumb {
  overflow: hidden;
}
/* line 3908, ../sass/main.scss */
.gallery_item .wrapp_thumb img {
  width: 100%;
}

/* line 3914, ../sass/main.scss */
.wrapper-out {
  margin-top: 15px;
}
/* line 3916, ../sass/main.scss */
.wrapper-out p {
  margin-bottom: 45px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

/* line 3929, ../sass/main.scss */
.authorization_modal-login_icons_item {
  height: 60px;
  border-radius: 60px;
  background-color: #f5f6f7;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #9fa4b4;
  min-width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* line 3947, ../sass/main.scss */
.authorization_modal-login_icons_item:first-child {
  margin-right: 15px;
}

/* line 3951, ../sass/main.scss */
.wrp-mg {
  width: 90px;
  height: 90px;
  background-color: #bde4f4;
  border-radius: 50%;
  padding: 0 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}
/* line 3961, ../sass/main.scss */
.wrp-mg img {
  width: 100%;
}

/* line 3966, ../sass/main.scss */
.white-block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}
/* line 3970, ../sass/main.scss */
.white-block h2 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #404969;
  text-align: left;
  margin-bottom: 30px;
}
/* line 3981, ../sass/main.scss */
.white-block p {
  margin-bottom: 30px;
  min-height: 80px;
}
/* line 3984, ../sass/main.scss */
.white-block p:last-child {
  margin-bottom: 30px;
}

/* line 3989, ../sass/main.scss */
.block-info {
  text-align: center;
  margin-bottom: 30px;
}
/* line 3992, ../sass/main.scss */
.block-info span {
  color: #9fa4b4;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

/* line 4004, ../sass/main.scss */
.simplecheckout-cart-total .inputs {
  line-height: 45px !important;
}

/* line 4009, ../sass/main.scss */
.simplecheckout-cart-total-value input.form-control {
  height: 45px;
}

/* line 4014, ../sass/main.scss */
.product-page .sale-label .top-sales {
  top: 0;
  right: 0;
}

@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
