@media screen and (max-width: 1366px) {
  /* line 9, ../sass/media.scss */
  .back-top {
    right: 32px;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  /* line 15, ../sass/media.scss */
  .btn-slider {
    bottom: 110px;
  }

  /* line 20, ../sass/media.scss */
  .wrapper-category_home .item img {
    min-height: auto;
  }
  /* line 23, ../sass/media.scss */
  .wrapper-category_home .item .category-text {
    top: 50%;
    transform: translate(0, -50%);
  }
  /* line 26, ../sass/media.scss */
  .wrapper-category_home .item .category-text p {
    font-size: 25px;
  }
  /* line 30, ../sass/media.scss */
  .wrapper-category_home .item .wrapper-banner-info {
    padding: 0 110px;
  }
}
@media screen and (max-width: 1280px) {
  /* line 42, ../sass/media.scss */
  .slide_wrapper_big .item {
    min-height: 390px;
  }
  /* line 44, ../sass/media.scss */
  .slide_wrapper_big .item img {
    min-height: 390px;
  }

  /* line 51, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info {
    padding: 0 110px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 58, ../sass/media.scss */
  .article-image {
    width: 100%;
  }

  /* line 62, ../sass/media.scss */
  .html-block img {
    width: 100%;
  }

  /* line 67, ../sass/media.scss */
  .row.not-row-md {
    margin: 0px !important;
  }

  /* line 72, ../sass/media.scss */
  .social_btn {
    margin-bottom: 20px;
  }

  /* line 76, ../sass/media.scss */
  .navbar-nav li {
    margin-right: 20px;
  }

  /* line 81, ../sass/media.scss */
  .list-inline li {
    margin-right: 11px;
  }

  /* line 85, ../sass/media.scss */
  .phone-shop {
    margin-right: 25px;
  }

  /* line 89, ../sass/media.scss */
  .wrapper-html_module .item {
    min-width: 211px;
    max-height: 211px;
  }

  /* line 95, ../sass/media.scss */
  .contact-info .phone-shop {
    font-size: 12px;
    margin-right: 12px;
  }

  /* line 100, ../sass/media.scss */
  .content-flex {
    justify-content: flex-end;
  }

  /* line 104, ../sass/media.scss */
  .count-wrapper a {
    font-size: 16px !important;
  }

  /* line 109, ../sass/media.scss */
  .dropdown-level li {
    margin-bottom: 30px;
  }

  /* line 113, ../sass/media.scss */
  .btn-pink_by {
    min-width: 150px;
  }

  /* line 116, ../sass/media.scss */
  h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 121, ../sass/media.scss */
  .btn-slider {
    bottom: 80px;
  }

  /* line 124, ../sass/media.scss */
  .thumbnails-mini .item {
    border-bottom: 1px solid #ebecf0;
  }

  /* line 134, ../sass/media.scss */
  .wrapper-category_home .item .category-text .text_white {
    margin-bottom: 20px;
  }

  /* line 140, ../sass/media.scss */
  #mfilter-opts-price-min, #mfilter-opts-price-max {
    width: 110px !important;
    min-width: 113px !important;
    max-width: 124px !important;
  }

  /* line 145, ../sass/media.scss */
  .cart-wrapper .dropdown-menu.table-basket {
    width: 720px;
  }

  /* line 149, ../sass/media.scss */
  .buy_block button {
    min-width: 260px;
  }

  /* line 153, ../sass/media.scss */
  .container-description-prod .nav-tabs > li {
    margin-right: 30px;
  }
  /* line 155, ../sass/media.scss */
  .container-description-prod .nav-tabs > li a {
    font-size: 14px;
  }

  /* line 159, ../sass/media.scss */
  .wrapper-name {
    min-width: 260px;
  }

  /* line 163, ../sass/media.scss */
  .wrapper-category_home .container-fluid {
    padding: 0;
  }

  /* line 168, ../sass/media.scss */
  .slider-init-sm .item {
    opacity: 0.5;
  }
  /* line 170, ../sass/media.scss */
  .slider-init-sm .item.slick-active {
    opacity: 1;
  }
  /* line 174, ../sass/media.scss */
  .slider-init-sm .products_row-btn {
    top: 50%;
    transform: translate(0, -50%);
  }
  /* line 177, ../sass/media.scss */
  .slider-init-sm .products_row-btn.products_row-prev_btn {
    left: 24px;
  }
  /* line 180, ../sass/media.scss */
  .slider-init-sm .products_row-btn.products_row-next_btn {
    right: 24px;
  }

  /* line 188, ../sass/media.scss */
  .wrapper-category_home .item .category-text p {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  /* line 196, ../sass/media.scss */
  .logo {
    margin-top: 0;
  }

  /* line 199, ../sass/media.scss */
  .btn-link:first-child {
    margin-right: 0;
  }

  /* line 203, ../sass/media.scss */
  .top .list-inline {
    justify-content: center;
  }

  /* line 207, ../sass/media.scss */
  .open > .dropdown-menu {
    left: -35px;
    padding: 0;
    background-color: transparent;
  }

  /* line 212, ../sass/media.scss */
  .list-inline .open > .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
  }

  /* line 217, ../sass/media.scss */
  .dropdown-menu li {
    margin-bottom: 0;
  }

  /* line 220, ../sass/media.scss */
  .wrapper-errorpage {
    background: #f77f50;
  }
  /* line 222, ../sass/media.scss */
  .wrapper-errorpage .row {
    min-height: auto;
  }
  /* line 225, ../sass/media.scss */
  .wrapper-errorpage .text-errors {
    position: inherit;
    top: 0;
    transform: none;
    padding: 30px;
  }
  /* line 230, ../sass/media.scss */
  .wrapper-errorpage .text-errors h1 {
    font-size: 120px;
  }
  /* line 233, ../sass/media.scss */
  .wrapper-errorpage .text-errors p {
    margin-bottom: 30px;
  }

  /* line 238, ../sass/media.scss */
  .btn-cart {
    float: none !important;
  }

  /* line 241, ../sass/media.scss */
  .cart-wrapper {
    text-align: center;
  }

  /* line 244, ../sass/media.scss */
  .btn-slider {
    height: 50px;
    font-size: 16px;
    bottom: 15%;
  }

  /* line 250, ../sass/media.scss */
  .wrapper-item img {
    width: 100%;
  }

  /* line 254, ../sass/media.scss */
  .html-block {
    margin-bottom: 0;
  }
  /* line 256, ../sass/media.scss */
  .html-block img {
    width: auto;
    margin: 0 auto;
    display: block;
  }

  /* line 262, ../sass/media.scss */
  .banner-wrapper {
    margin-bottom: 54px;
  }

  /* line 267, ../sass/media.scss */
  .product-thumb .image img {
    width: 100%;
  }

  /* line 272, ../sass/media.scss */
  .top {
    display: none;
  }

  /* line 275, ../sass/media.scss */
  .container {
    width: 100%;
  }

  /* line 278, ../sass/media.scss */
  .mini-position {
    justify-content: flex-end;
    padding-right: 15px;
  }

  /* line 282, ../sass/media.scss */
  .row-item {
    margin: 0 -15px;
  }

  /* line 288, ../sass/media.scss */
  .slick-dots {
    left: 15px;
  }

  /* line 291, ../sass/media.scss */
  .wrapper-news {
    padding: 50px 0px 60px;
  }

  /* line 294, ../sass/media.scss */
  .htmlmodle-wrapper,
  .wrapper-testimonial_module {
    padding: 60px 15px !important;
  }

  /* line 299, ../sass/media.scss */
  .wrapper-html_module .item {
    padding: 15px;
    min-width: 168px;
    max-width: 211px;
    max-height: 211px;
    min-height: 211px;
  }
  /* line 305, ../sass/media.scss */
  .wrapper-html_module .item img {
    width: 45px;
    height: 45px;
  }

  /* line 312, ../sass/media.scss */
  .flex-row__sm {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* line 319, ../sass/media.scss */
  .flex-row__m {
    justify-content: flex-start;
  }

  /* line 323, ../sass/media.scss */
  header {
    margin-bottom: 0;
  }
  /* line 325, ../sass/media.scss */
  header hr {
    margin: 15px 0;
  }

  /* line 329, ../sass/media.scss */
  .wrapper_big_slider {
    margin-bottom: 0;
  }
  /* line 331, ../sass/media.scss */
  .wrapper_big_slider .slick-dots {
    top: inherit;
    bottom: 15px;
  }
  /* line 336, ../sass/media.scss */
  .wrapper_big_slider .item {
    min-height: 300px;
  }
  /* line 339, ../sass/media.scss */
  .wrapper_big_slider .item .wrapper-banner-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  /* line 343, ../sass/media.scss */
  .wrapper_big_slider .item .wrapper-banner-info p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  /* line 347, ../sass/media.scss */
  .wrapper_big_slider .item .wrapper-banner-info a {
    width: 190px;
    font-size: 14px;
  }
  /* line 352, ../sass/media.scss */
  .wrapper_big_slider .item img {
    min-height: 300px;
  }

  /* line 357, ../sass/media.scss */
  .search-sm {
    font-size: 30px;
    color: #aca8bf;
    line-height: 30px;
  }
  /* line 361, ../sass/media.scss */
  .search-sm:active, .search-sm:hover, .search-sm:focus {
    color: #aca8bf;
  }

  /* line 369, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info {
    padding: 0 15px;
  }

  /* line 376, ../sass/media.scss */
  .product-thumb .button-group .one_click {
    font-size: 12px;
    flex: 2;
  }

  /* line 382, ../sass/media.scss */
  .text__news .description {
    height: 80px;
    overflow: hidden;
  }

  /* line 386, ../sass/media.scss */
  .container-item_module {
    padding: 0 15px;
  }

  /* line 404, ../sass/media.scss */
  .navbar-nav li a {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 2px;
    color: #333333;
  }

  /* line 415, ../sass/media.scss */
  .overflow-body {
    overflow: hidden;
  }

  /* line 418, ../sass/media.scss */
  .logo-menu {
    margin-bottom: 10px;
  }

  /* line 422, ../sass/media.scss */
  .top {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    left: -100%;
    top: 0;
  }
  /* line 431, ../sass/media.scss */
  .top.open {
    display: block;
    left: 0;
    height: 100vh;
    overflow-y: auto;
  }
  /* line 438, ../sass/media.scss */
  .top .list-inline li {
    position: relative;
    float: none;
    margin-right: 0;
    min-height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* line 448, ../sass/media.scss */
  .top .list-inline li a {
    color: #9fa4b4;
  }
  /* line 453, ../sass/media.scss */
  .top .phone-shop {
    color: #9fa4b4;
    font-size: 14px;
  }
  /* line 457, ../sass/media.scss */
  .top .flex-row {
    flex-direction: column;
  }
  /* line 460, ../sass/media.scss */
  .top .contact-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 465, ../sass/media.scss */
  .top .contact-info a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 471, ../sass/media.scss */
  .top .currency-language.flex-row {
    flex-direction: row;
  }
  /* line 474, ../sass/media.scss */
  .top .currency-language button {
    color: #9fa4b4;
  }
  /* line 477, ../sass/media.scss */
  .top .currency-language button i:before {
    color: #9fa4b4;
  }

  /* line 489, ../sass/media.scss */
  .wrapper-category_home .category-slider .item a .counter-items {
    width: 67px;
    height: 30px;
    font-size: 12px;
  }

  /* line 498, ../sass/media.scss */
  .c-reviewStars-input {
    margin-bottom: 15px;
  }

  /* line 501, ../sass/media.scss */
  .delivery-item {
    margin-bottom: 30px;
  }

  /* line 505, ../sass/media.scss */
  .navbar-nav li {
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* line 514, ../sass/media.scss */
  .js-catalog-menu.active {
    display: none;
  }

  /* line 520, ../sass/media.scss */
  .catalog-menu-close.active {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* line 528, ../sass/media.scss */
  .sort-right .text-sort {
    width: 150px;
  }
  /* line 531, ../sass/media.scss */
  .sort-right .wrapp_links {
    display: block;
  }
  /* line 533, ../sass/media.scss */
  .sort-right .wrapp_links .sort_item {
    float: left;
  }

  /* line 547, ../sass/media.scss */
  .thumbnails {
    margin-bottom: 30px;
  }

  /* line 550, ../sass/media.scss */
  .modal_product_bottom .btn-primary {
    width: 100%;
  }

  /* line 553, ../sass/media.scss */
  .rating {
    margin-bottom: 10px;
  }

  /* line 556, ../sass/media.scss */
  .authorization_modal-login {
    margin-bottom: 20px;
  }

  /* line 560, ../sass/media.scss */
  .slide_wrapper_big .item {
    min-height: 330px;
  }
  /* line 562, ../sass/media.scss */
  .slide_wrapper_big .item img {
    min-height: 330px;
  }
  /* line 566, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info h2 {
    font-size: 36px;
    line-height: 1.28;
  }
  /* line 570, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  /* line 578, ../sass/media.scss */
  .mfilter-content {
    display: none;
  }
  /* line 580, ../sass/media.scss */
  .mfilter-content.open {
    display: block;
  }

  /* line 584, ../sass/media.scss */
  .mfilter-box .box-heading {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }

  /* line 589, ../sass/media.scss */
  .form-group .text-danger {
    position: initial;
  }

  /* line 592, ../sass/media.scss */
  .flex-column-xs {
    justify-content: center;
  }

  /* line 595, ../sass/media.scss */
  .item-product .item-compare .rating {
    margin-bottom: 0;
  }

  /* line 598, ../sass/media.scss */
  .product-thumb .caption a {
    height: 18px;
    overflow: hidden;
  }

  /* line 602, ../sass/media.scss */
  .dropdown-menu {
    position: relative;
  }

  /* line 605, ../sass/media.scss */
  .open > .dropdown-menu {
    left: 0;
    top: 0;
    width: 100%;
  }

  /* line 611, ../sass/media.scss */
  .dropdown-menu li {
    margin-bottom: 0;
    text-align: center;
    padding: 0;
  }
  /* line 615, ../sass/media.scss */
  .dropdown-menu li:before {
    display: none;
  }
  /* line 618, ../sass/media.scss */
  .dropdown-menu li a {
    padding: 3px 0;
  }

  /* line 622, ../sass/media.scss */
  .btn-link {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 627, ../sass/media.scss */
  h1 {
    padding: 0 15px;
  }

  /* line 630, ../sass/media.scss */
  .tabs-element {
    padding: 0 15px;
  }

  /* line 633, ../sass/media.scss */
  .account_title h1, .account_title {
    padding: 0;
  }

  /* line 636, ../sass/media.scss */
  .account-simpleedit .simpleregister-block-content {
    margin: 0 0 10px;
  }

  /* line 640, ../sass/media.scss */
  .account-forgotten p,
  .account-forgotten .wrapper-margin {
    padding: 0 15px;
  }

  /* line 645, ../sass/media.scss */
  .dropdown-level li {
    min-width: 45%;
  }

  /* line 648, ../sass/media.scss */
  .form-checkbox__label span, .form-checkbox__label {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  /* line 653, ../sass/media.scss */
  .container-line {
    text-align: center;
  }

  /* line 656, ../sass/media.scss */
  .navbar {
    display: none;
  }
  /* line 658, ../sass/media.scss */
  .navbar.open {
    display: block;
  }
  /* line 661, ../sass/media.scss */
  .navbar .navbar-nav {
    flex-direction: column;
    margin-top: 20px;
  }

  /* line 666, ../sass/media.scss */
  .btn-pink_by.violet {
    display: block;
    line-height: 33px;
  }

  /* line 670, ../sass/media.scss */
  .wrapper-voucher {
    padding: 30px;
  }
  /* line 672, ../sass/media.scss */
  .wrapper-voucher h1 {
    font-size: 16px;
  }

  /* line 676, ../sass/media.scss */
  .pagination > li.last,
  .pagination > li.prev {
    display: none;
  }

  /* line 680, ../sass/media.scss */
  .btn-default {
    line-height: 60px;
  }

  /* line 683, ../sass/media.scss */
  .form-group .text-danger {
    position: initial;
  }

  /* line 686, ../sass/media.scss */
  .wrapper-breadcrumb .title-breadcrumb {
    font-size: 26px;
  }

  /* line 689, ../sass/media.scss */
  .btn-link:first-child {
    margin-right: 0;
  }

  /* line 692, ../sass/media.scss */
  .open > .dropdown-menu {
    left: 0;
    padding: 0;
    background-color: transparent;
  }

  /* line 698, ../sass/media.scss */
  .product-search input.form-control {
    margin-bottom: 20px;
  }
  /* line 701, ../sass/media.scss */
  .product-search .checkbox-inline + .checkbox-inline, .product-search .radio-inline + .radio-inline {
    margin-left: 0;
  }

  /* line 705, ../sass/media.scss */
  .btn-primary {
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  /* line 711, ../sass/media.scss */
  h3, h2 {
    font-size: 18px;
  }

  /* line 715, ../sass/media.scss */
  .compare-btn.products_row-btn {
    font-size: 14px;
    background-color: #f6f6f7;
  }
  /* line 718, ../sass/media.scss */
  .compare-btn.products_row-btn:focus {
    color: #404969 !important;
  }

  /* line 723, ../sass/media.scss */
  .dropdown-menu li {
    margin-bottom: 0;
  }

  /* line 726, ../sass/media.scss */
  .flex-column-xs {
    flex-direction: column;
  }

  /* line 729, ../sass/media.scss */
  .dropdown-level li {
    width: 100%;
  }

  /* line 733, ../sass/media.scss */
  .mini-position.fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 5px;
    box-shadow: 0 0 10px 0 #e6e6e6;
    z-index: 99;
    border-bottom: 1px solid  #e8e7ed;
  }

  /* line 745, ../sass/media.scss */
  .authorization_modal-login_icons_item {
    margin: 0 0 20px;
  }
  /* line 747, ../sass/media.scss */
  .authorization_modal-login_icons_item:first-child {
    margin-right: 0;
  }

  /* line 751, ../sass/media.scss */
  .account-simpleedit .simpleregister-block-content .form-group {
    width: 100%;
    float: none;
  }

  /* line 755, ../sass/media.scss */
  .btn-primary {
    width: 225px;
  }

  /* line 758, ../sass/media.scss */
  .margin-input {
    margin-bottom: 15px;
  }

  /* line 761, ../sass/media.scss */
  .flex-colum-xs {
    flex-direction: column;
  }

  /* line 764, ../sass/media.scss */
  .sort-text {
    text-align: right;
    margin-bottom: 20px;
  }

  /* line 771, ../sass/media.scss */
  .mini-position {
    justify-content: center;
  }

  /* line 774, ../sass/media.scss */
  .payment-container {
    margin-bottom: 30px;
  }

  /* line 777, ../sass/media.scss */
  footer {
    padding: 0;
  }
  /* line 779, ../sass/media.scss */
  footer p {
    text-align: center;
  }
  /* line 782, ../sass/media.scss */
  footer a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  /* line 786, ../sass/media.scss */
  footer a img {
    margin: 0 auto;
    display: block;
  }

  /* line 792, ../sass/media.scss */
  .logo {
    margin-bottom: 25px;
  }

  /* line 802, ../sass/media.scss */
  .parent-elements .list-unstyled {
    display: none;
  }
  /* line 805, ../sass/media.scss */
  .parent-elements .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
    padding: 15px 0;
    margin-bottom: 0;
  }
  /* line 812, ../sass/media.scss */
  .parent-elements .footer-title i {
    margin-left: 5px;
  }

  /* line 817, ../sass/media.scss */
  .flex-column {
    flex-direction: column;
  }

  /* line 820, ../sass/media.scss */
  .social {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  /* line 825, ../sass/media.scss */
  .cont-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* line 829, ../sass/media.scss */
  .navbar {
    width: 100%;
  }

  /* line 832, ../sass/media.scss */
  .container {
    width: 100%;
  }

  /* line 835, ../sass/media.scss */
  .navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 841, ../sass/media.scss */
  .navbar-header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    color: #9f67a5;
    font-size: 30px;
    padding: 0;
  }
  /* line 851, ../sass/media.scss */
  .navbar-header button:hover {
    color: #9f67a5;
  }
  /* line 854, ../sass/media.scss */
  .navbar-header button span {
    font-family: 'lemon_tuesdayregular';
    font-size: 70px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -1.75px;
    color: #9f67a5;
    margin-right: 20px;
  }

  /* line 865, ../sass/media.scss */
  .not-flex {
    display: block;
  }

  /* line 868, ../sass/media.scss */
  .overflow-body {
    overflow: hidden;
  }

  /* line 871, ../sass/media.scss */
  .navbar-nav {
    flex-direction: column;
    margin: 0;
  }
  /* line 874, ../sass/media.scss */
  .navbar-nav li {
    width: 100%;
    text-align: center;
  }

  /* line 879, ../sass/media.scss */
  .navbar {
    display: none;
  }

  /* line 882, ../sass/media.scss */
  .html-block {
    padding: 0 15px;
  }

  /* line 886, ../sass/media.scss */
  .wrapper-breadcrumb .breadcrumb {
    padding: 0 15px;
  }

  /* line 890, ../sass/media.scss */
  .carousel-wrapper__releted {
    padding: 0 15px;
  }

  /* line 893, ../sass/media.scss */
  .slider-image-big-curier {
    margin-bottom: 30px;
  }

  /* line 896, ../sass/media.scss */
  .thumbnails {
    width: 100%;
  }
  /* line 899, ../sass/media.scss */
  .thumbnails .item a {
    display: block;
    width: 100%;
  }
  /* line 902, ../sass/media.scss */
  .thumbnails .item a img {
    width: 100%;
  }

  /* line 908, ../sass/media.scss */
  .wrapper-module {
    padding: 0 15px;
  }

  /* line 911, ../sass/media.scss */
  .nav-tabs {
    margin-bottom: 35px;
    flex-direction: column;
  }
  /* line 914, ../sass/media.scss */
  .nav-tabs > li {
    width: 100%;
    text-align: center;
  }

  /* line 919, ../sass/media.scss */
  .top {
    height: auto;
  }

  /* line 922, ../sass/media.scss */
  .wrapper-xs-padding {
    padding: 0 15px;
  }

  /* line 925, ../sass/media.scss */
  .login-block a {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }

  /* line 930, ../sass/media.scss */
  .top {
    margin-bottom: 15px;
  }

  /* line 933, ../sass/media.scss */
  .search-sm {
    margin-right: -30px;
  }

  /* line 936, ../sass/media.scss */
  .xs-menu-block {
    margin-bottom: 15px;
  }
  /* line 938, ../sass/media.scss */
  .xs-menu-block .flex-row {
    justify-content: center;
    margin: 0 -15px;
  }

  /* line 943, ../sass/media.scss */
  .open-xs-menu {
    height: 45px;
  }
  /* line 945, ../sass/media.scss */
  .open-xs-menu img {
    width: 25px;
    height: 25px;
  }

  /* line 950, ../sass/media.scss */
  .login-block {
    margin-right: 15px;
    padding-right: 0;
  }

  /* line 954, ../sass/media.scss */
  .wrapper-breadcrumb {
    padding: 30px 15px;
  }
  /* line 956, ../sass/media.scss */
  .wrapper-breadcrumb .breadcrumb {
    display: block;
  }
  /* line 958, ../sass/media.scss */
  .wrapper-breadcrumb .breadcrumb li {
    float: left;
    margin-bottom: 5px;
  }

  /* line 966, ../sass/media.scss */
  .thumbnails-pop a img {
    width: 100%;
  }

  /* line 971, ../sass/media.scss */
  .flex-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* line 975, ../sass/media.scss */
  .flex-content.sm-flex-position {
    flex-direction: row;
  }
  /* line 977, ../sass/media.scss */
  .flex-content.sm-flex-position .btn-group {
    margin-right: 20px;
  }

  /* line 982, ../sass/media.scss */
  .discount,
  .attribute_groups {
    margin: 0 0 15px;
  }

  /* line 986, ../sass/media.scss */
  .flex-row__m {
    flex-direction: column;
  }

  /* line 989, ../sass/media.scss */
  .btn-pink_by {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }

  /* line 994, ../sass/media.scss */
  .qty_block {
    margin-bottom: 15px;
  }

  /* line 997, ../sass/media.scss */
  .nav-tabs > li {
    padding: 0;
  }

  /* line 1000, ../sass/media.scss */
  .wrapper_prod_slider {
    padding: 40px 0 80px;
  }
  /* line 1002, ../sass/media.scss */
  .wrapper_prod_slider .slick-dots {
    left: 0;
    right: 0;
    top: inherit;
    bottom: 45px;
    text-align: center;
  }

  /* line 1010, ../sass/media.scss */
  .wrapper-news .wrapper_prod_slider {
    padding-bottom: 80px;
  }

  /* line 1013, ../sass/media.scss */
  footer .list-unstyled li a {
    text-align: left;
  }

  /* line 1017, ../sass/media.scss */
  .html_module_slider .slick-dots {
    top: inherit;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 1025, ../sass/media.scss */
  .html_module_slider .item {
    min-height: 354px;
    min-width: 354px;
  }
  /* line 1028, ../sass/media.scss */
  .html_module_slider .item img {
    width: 70px;
    height: 70px;
  }
  /* line 1032, ../sass/media.scss */
  .html_module_slider .item p {
    font-size: 18px;
  }

  /* line 1037, ../sass/media.scss */
  .simplecheckout-left-column {
    margin-bottom: 20px;
  }

  /* line 1040, ../sass/media.scss */
  .btn-simple {
    flex-direction: column;
  }
  /* line 1042, ../sass/media.scss */
  .btn-simple .btn {
    margin-bottom: 20px;
  }

  /* line 1046, ../sass/media.scss */
  .btn-simple .btn:first-child {
    margin-right: 0;
  }

  /* line 1049, ../sass/media.scss */
  .grid-sizer {
    display: none;
  }

  /* line 1052, ../sass/media.scss */
  .grid-item.galery-grid-1,
  .grid-item.galery-grid-2 {
    width: 100%;
    height: auto;
  }

  /* line 1057, ../sass/media.scss */
  .wrapper-testimonial_module .item .c-text {
    width: auto;
  }

  /* line 1060, ../sass/media.scss */
  .slider-init-sm .item {
    background-color: #bde4f4;
    min-height: 250px;
    margin: 0 15px;
  }
  /* line 1064, ../sass/media.scss */
  .slider-init-sm .item img {
    display: none;
  }

  /* line 1068, ../sass/media.scss */
  .wrapper-category_home {
    margin-bottom: 30px;
  }

  /* line 1071, ../sass/media.scss */
  .wrapper_prod_slider {
    padding: 15px 0 30px;
  }
  /* line 1073, ../sass/media.scss */
  .wrapper_prod_slider .slick-dots {
    bottom: 0;
  }

  /* line 1077, ../sass/media.scss */
  .wrapper-news .wrapper_prod_slider {
    padding-bottom: 30px;
  }

  /* line 1080, ../sass/media.scss */
  .wrapper-category_home .item .category-text {
    left: 0;
    width: 100%;
    text-align: center;
  }
  /* line 1084, ../sass/media.scss */
  .wrapper-category_home .item .category-text .btn-default {
    margin: 0 auto;
  }

  /* line 1089, ../sass/media.scss */
  .slide_wrapper_big .item {
    background-color: #ff7f50;
    min-height: 286px;
    background-image: none !important;
  }
  /* line 1093, ../sass/media.scss */
  .slide_wrapper_big .item img {
    display: none;
  }
  /* line 1097, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info h2 {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 3px;
    text-align: center;
  }
  /* line 1103, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info p {
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  /* line 1111, ../sass/media.scss */
  .slide_wrapper_big .item .wrapper-banner-info .btn-slider {
    margin: 0 auto;
    height: 50px;
  }

  /* line 1120, ../sass/media.scss */
  .copiright a,
  .copiright p {
    text-align: center;
  }
  /* line 1124, ../sass/media.scss */
  .copiright p {
    margin-bottom: 30px;
  }

  /* line 1128, ../sass/media.scss */
  .slick-dotted.slick-slider {
    margin-bottom: 15px;
  }

  /* line 1131, ../sass/media.scss */
  .order_histor_item {
    border: 1px solid #989eae;
    margin-bottom: 15px;
  }

  /* line 1135, ../sass/media.scss */
  .order_histor_list .history_block:nth-child(1) {
    border: 0;
    border-bottom: 1px solid #989eae;
    text-align: center;
  }

  /* line 1140, ../sass/media.scss */
  footer .list-unstyled li a {
    text-align: center;
    margin: 0 0 5px 0;
    line-height: 1.5;
  }

  /* line 1150, ../sass/media.scss */
  .bnews-list {
    padding: 0 15px;
  }
}
@media screen and (max-width: 580px) {
  /* line 1155, ../sass/media.scss */
  .col-xxs-12 {
    width: 100%;
  }

  /* line 1158, ../sass/media.scss */
  .currency-language {
    display: none;
  }

  /* line 1161, ../sass/media.scss */
  .fl_login {
    flex-direction: column;
  }

  /* line 1164, ../sass/media.scss */
  .flex-colum-xxs {
    flex-direction: column;
  }

  /* line 1167, ../sass/media.scss */
  .list-unstyled li .old-price {
    display: block;
  }

  /* line 1170, ../sass/media.scss */
  .head .left {
    margin-bottom: 10px;
    flex-direction: column;
  }

  /* line 1174, ../sass/media.scss */
  .form-checkbox__label span, .form-checkbox__label {
    font-size: 12px;
  }

  /* line 1178, ../sass/media.scss */
  .wrapper-html_module .item {
    width: 100%;
    height: auto;
  }

  /* line 1184, ../sass/media.scss */
  .container-inp .flex-row {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 1188, ../sass/media.scss */
  .container-inp .control-label {
    float: none;
  }

  /* line 1192, ../sass/media.scss */
  .form-btn .form-checkbox {
    display: block;
    text-align: right;
  }

  /* line 1196, ../sass/media.scss */
  .form-btn .orang {
    width: 100%;
    font-size: 8px;
  }

  /* line 1200, ../sass/media.scss */
  .wrapper-breadcrumb .title-breadcrumb {
    font-size: 22px;
  }

  /* line 1203, ../sass/media.scss */
  .sort-select {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 1206, ../sass/media.scss */
  .sort-select .select2-container {
    width: 260px !important;
  }

  /* line 1210, ../sass/media.scss */
  .limit-select .select2-container {
    width: 260px !important;
  }

  /* line 1213, ../sass/media.scss */
  .white-style-form {
    padding: 0;
  }

  /* line 1216, ../sass/media.scss */
  .wrapper-news .artblock .text__news .name a {
    font-size: 14px;
  }

  /* line 1220, ../sass/media.scss */
  .container-description-prod .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  /* line 1223, ../sass/media.scss */
  .container-description-prod .nav-tabs li {
    width: 100%;
    margin-right: 0;
    border: 1px solid #9f67a5;
    margin-bottom: 15px;
    text-align: center;
  }
  /* line 1229, ../sass/media.scss */
  .container-description-prod .nav-tabs li a {
    margin-right: 0;
  }
  /* line 1233, ../sass/media.scss */
  .container-description-prod .nav-tabs li.active a {
    background-color: #9f67a5;
    color: #fff;
  }

  /* line 1241, ../sass/media.scss */
  .html-block img {
    width: 100%;
  }

  /* line 1244, ../sass/media.scss */
  .wrapp-marg_xs-left {
    margin-left: -15px;
  }

  /* line 1249, ../sass/media.scss */
  .copiright .img-wrap img {
    width: 100%;
  }

  /* line 1254, ../sass/media.scss */
  .html_module_slider .item {
    min-width: 263px;
    min-height: 263px;
    margin: 5px 12px;
  }

  /* line 1259, ../sass/media.scss */
  .wrapper-html_module .slick-list {
    margin: 0;
  }

  /* line 1263, ../sass/media.scss */
  .head.flex-row {
    flex-direction: column;
  }
  /* line 1266, ../sass/media.scss */
  .head .testimonial-time {
    display: none;
  }
  /* line 1269, ../sass/media.scss */
  .head .name-prod {
    margin-right: 0;
  }
  /* line 1272, ../sass/media.scss */
  .head .left {
    margin-bottom: 10px;
  }

  /* line 1278, ../sass/media.scss */
  .c-form-style .white-style-form {
    padding: 15px;
  }

  /* line 1284, ../sass/media.scss */
  #tab-review .c-form-style {
    padding: 0;
  }

  /* line 1288, ../sass/media.scss */
  .btn-pink_by {
    display: block;
    text-align: center;
  }

  /* line 1292, ../sass/media.scss */
  .btn-pink_by.violet i {
    display: none;
  }

  /* line 1295, ../sass/media.scss */
  .modal-sm {
    width: 90%;
  }

  /* line 1299, ../sass/media.scss */
  .modal-content {
    padding: 30px 15px;
  }
  /* line 1301, ../sass/media.scss */
  .modal-content .modal-body {
    padding: 15px 0;
  }
  /* line 1304, ../sass/media.scss */
  .modal-content .btn-default {
    width: 100%;
  }

  /* line 1308, ../sass/media.scss */
  .logo {
    padding-right: 15px;
  }

  /* line 1311, ../sass/media.scss */
  .product-thumb .button-group .mini-btn {
    display: block;
    text-align: center;
  }

  /* line 1316, ../sass/media.scss */
  .gallery_row .flex-row {
    flex-direction: column;
  }

  /* line 1320, ../sass/media.scss */
  .xs-flex-colum {
    flex-direction: column;
  }

  /* line 1323, ../sass/media.scss */
  .simple_cart .simple_item {
    flex-direction: column;
  }

  /* line 1327, ../sass/media.scss */
  .simple_item .image {
    margin: 0 auto;
  }

  /* line 1331, ../sass/media.scss */
  .simple_cart .simple_item .wrapp_cart_right {
    padding: 0;
  }

  /* line 1334, ../sass/media.scss */
  .simple_cart .simple_item .pqt {
    flex-direction: column;
  }

  /* line 1337, ../sass/media.scss */
  .simple_cart .simple_item .pqt .quantity {
    margin: 10px 0;
  }

  /* line 1340, ../sass/media.scss */
  .btn-default {
    font-size: 12px;
  }

  /* line 1343, ../sass/media.scss */
  .pull-right,
  .pull-left {
    float: none !important;
  }

  /* line 1347, ../sass/media.scss */
  .btn-primary,
  .btn-default {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 1352, ../sass/media.scss */
  .btn-default.orang {
    display: block;
    text-align: center;
    line-height: 60px;
  }

  /* line 1357, ../sass/media.scss */
  .checkbox-inline {
    margin-bottom: 10px;
  }

  /* line 1360, ../sass/media.scss */
  .container-inp .radio-items {
    float: none;
  }
  /* line 1362, ../sass/media.scss */
  .container-inp .radio-items .checkbox label, .container-inp .radio-items .radio label {
    padding-left: 0;
  }

  /* line 1367, ../sass/media.scss */
  .open-xs-menu.js-catalog-menu {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 1372, ../sass/media.scss */
  .open-xs-menu img {
    margin-top: 9px;
    float: left;
  }
  /* line 1376, ../sass/media.scss */
  .open-xs-menu .name-caalog {
    float: left;
    margin-left: 15px;
  }
}
