@charset "UTF-8";
/* line 2, ../sass/sergo.scss */
.gallery_wrapp .item {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

/* line 17, ../sass/sergo.scss */
.account_left_bar {
  list-style: none;
}
/* line 19, ../sass/sergo.scss */
.account_left_bar li {
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: #b3b3b3;
}
/* line 20, ../sass/sergo.scss */
.account_left_bar li:before {
  display: none;
}
/* line 30, ../sass/sergo.scss */
.account_left_bar li.active a {
  color: #404969;
}
/* line 35, ../sass/sergo.scss */
.account_left_bar a {
  color: #989eae;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 39, ../sass/sergo.scss */
.account_left_bar a:hover {
  color: #404969;
}

/* line 44, ../sass/sergo.scss */
.simple-content {
  padding: 30px;
  background-color: #fff;
}

/* line 49, ../sass/sergo.scss */
.checkout-simplecheckout .simple-content {
  background-color: transparent;
  padding: 0;
}

/* line 55, ../sass/sergo.scss */
.account-simpleedit .simple-content {
  margin: 0px;
}
/* line 58, ../sass/sergo.scss */
.account-simpleedit h1 {
  display: none;
}
/* line 62, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content {
  padding: 0px 0px 10px 0px;
  margin: 0px -15px 10px -15px;
  border-radius: 10px;
  background-color: transparent;
}
/* line 75, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content .row {
  margin: 0px;
}
/* line 78, ../sass/sergo.scss */
.account-simpleedit .simpleregister-block-content .form-group {
  width: 50%;
  margin: 0px;
  float: left;
  margin-bottom: 15px;
}
/* line 85, ../sass/sergo.scss */
.account-simpleedit .buttons {
  padding: 0px;
  background-color: transparent;
}
/* line 88, ../sass/sergo.scss */
.account-simpleedit .buttons .btn {
  line-height: 40px;
}

/* line 95, ../sass/sergo.scss */
.account-password #password_form {
  padding: 0px 0px 15px 0px;
  border-radius: 3px;
  background-color: transparent;
}
/* line 104, ../sass/sergo.scss */
.account-password .buttons {
  margin-top: 5px;
}

/* line 110, ../sass/sergo.scss */
.order_histor_list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 3px;
}
/* line 116, ../sass/sergo.scss */
.order_histor_list .order_histor_item {
  display: table-row;
}
/* line 118, ../sass/sergo.scss */
.order_histor_list .order_histor_item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
/* line 122, ../sass/sergo.scss */
.order_histor_list .history_block {
  display: table-cell;
  padding: 10px;
  border-right: 1px solid #aca8bf;
}
/* line 126, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(1) {
  width: 60%;
}
/* line 129, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(2) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
/* line 134, ../sass/sergo.scss */
.order_histor_list .history_block:nth-child(3) {
  width: 20%;
  vertical-align: middle;
  text-align: center;
  border-right: 0px;
}
/* line 141, ../sass/sergo.scss */
.order_histor_list .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 146, ../sass/sergo.scss */
.order_histor_list .name {
  margin-bottom: 10px;
}
/* line 148, ../sass/sergo.scss */
.order_histor_list .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 152, ../sass/sergo.scss */
.order_histor_list .name a:hover {
  color: #aca8bf;
}
/* line 157, ../sass/sergo.scss */
.order_histor_list .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 162, ../sass/sergo.scss */
.order_histor_list .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 171, ../sass/sergo.scss */
.order_histor_list .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 178, ../sass/sergo.scss */
.order_histor_list .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #aca8bf;
}
/* line 184, ../sass/sergo.scss */
.order_histor_list .text_status {
  font-size: 12px;
  text-align: center;
  color: #000000;
}
/* line 189, ../sass/sergo.scss */
.order_histor_list .status {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #f77f50;
  margin: 5px 0px;
}
/* line 196, ../sass/sergo.scss */
.order_histor_list .date {
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
}
/* line 202, ../sass/sergo.scss */
.order_histor_list .inside a {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #aca8bf;
}
/* line 207, ../sass/sergo.scss */
.order_histor_list .inside a:hover {
  text-decoration: none;
  color: #404969;
}

/* line 216, ../sass/sergo.scss */
.order_wrapp {
  background-color: white;
  border-radius: 3px;
}
/* line 219, ../sass/sergo.scss */
.order_wrapp .top_panel {
  border-bottom: solid 1px #f0e7f1;
  margin-bottom: -1px;
  padding: 13px 15px 11px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 232, ../sass/sergo.scss */
.order_wrapp .top_panel .status {
  font-size: 14px;
  color: #000000;
}
/* line 235, ../sass/sergo.scss */
.order_wrapp .top_panel .status span {
  font-size: 16px;
  font-weight: 600;
  color: #aca8bf;
}
/* line 241, ../sass/sergo.scss */
.order_wrapp .top_panel .date {
  font-size: 14px;
  color: #b3b3b3;
}
/* line 247, ../sass/sergo.scss */
.order_wrapp .products .pr_item {
  border-bottom: solid 1px #f0e7f1;
  margin-bottom: -1px;
  padding: 15px 15px 20px 15px;
  overflow: hidden;
}
/* line 253, ../sass/sergo.scss */
.order_wrapp .products .wrapp_img {
  margin-right: 15px;
  float: left;
}
/* line 258, ../sass/sergo.scss */
.order_wrapp .products .name {
  margin-bottom: 10px;
}
/* line 260, ../sass/sergo.scss */
.order_wrapp .products .name a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/* line 264, ../sass/sergo.scss */
.order_wrapp .products .name a:hover {
  color: #aca8bf;
}
/* line 269, ../sass/sergo.scss */
.order_wrapp .products .article {
  font-size: 12px;
  color: #999999;
  margin-bottom: 10px;
}
/* line 274, ../sass/sergo.scss */
.order_wrapp .products .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
}
/* line 284, ../sass/sergo.scss */
.order_wrapp .products .options .option_item {
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 8px;
}
/* line 291, ../sass/sergo.scss */
.order_wrapp .products .price {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #aca8bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 308, ../sass/sergo.scss */
.order_wrapp .total .total_item {
  border-bottom: solid 1px #f0e7f1;
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
}
/* line 321, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(1) {
  display: none;
}
/* line 325, ../sass/sergo.scss */
.order_wrapp .total .total_item:nth-child(3) .title {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}
/* line 333, ../sass/sergo.scss */
.order_wrapp .total .title {
  font-size: 14px;
  text-align: left;
  color: #000000;
  padding: 0px 15px;
}
/* line 339, ../sass/sergo.scss */
.order_wrapp .total .text {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #aca8bf;
  padding: 0px 15px;
}
/* line 347, ../sass/sergo.scss */
.order_wrapp .customer_info {
  padding: 5px 0px;
}
/* line 349, ../sass/sergo.scss */
.order_wrapp .customer_info .customer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
/* line 358, ../sass/sergo.scss */
.order_wrapp .customer_info .text1 {
  width: 200px;
  font-size: 14px;
  color: #b3b3b3;
}
/* line 363, ../sass/sergo.scss */
.order_wrapp .customer_info .text2 {
  width: calc(100% - 200px);
  font-size: 14px;
  color: #000000;
}

/* line 371, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content {
  padding: 0px;
  margin: 0px -15px;
}
/* line 374, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content .form-control {
  height: 50px;
}
/* line 377, ../sass/sergo.scss */
.account-simpleregister .simpleregister-block-content .row {
  margin: 0px;
}
/* line 381, ../sass/sergo.scss */
.account-simpleregister .simple-content {
  margin: 0px;
}
/* line 383, ../sass/sergo.scss */
.account-simpleregister .simple-content .buttons {
  background-color: transparent;
}

/* line 388, ../sass/sergo.scss */
.downloads_list {
  margin-bottom: 70px;
}
/* line 390, ../sass/sergo.scss */
.downloads_list .download_thumb {
  margin-bottom: 30px;
}
/* line 393, ../sass/sergo.scss */
.downloads_list .file_item {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  height: 190px;
}
/* line 399, ../sass/sergo.scss */
.downloads_list .file_item .file_flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
/* line 403, ../sass/sergo.scss */
.downloads_list .file_item .file_flex .thumb {
  width: 75px;
}
/* line 406, ../sass/sergo.scss */
.downloads_list .file_item .file_flex .name {
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-left: 20px;
}
/* line 415, ../sass/sergo.scss */
.downloads_list .file_item .download_link {
  height: 40px;
  border-radius: 3px;
  background-color: #61c0bf;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 11px 25px;
  display: inline-block;
  text-decoration: none;
}
/* line 426, ../sass/sergo.scss */
.downloads_list .file_item .download_link:active {
  -webkit-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
  -moz-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
  box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
}

@media screen and (max-width: 767px) {
  /* line 440, ../sass/sergo.scss */
  .order_histor_list {
    display: block;
  }
  /* line 442, ../sass/sergo.scss */
  .order_histor_list .order_histor_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 449, ../sass/sergo.scss */
  .order_histor_list .history_block {
    display: block;
    margin-bottom: -1px;
  }
  /* line 452, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(1) {
    width: 100%;
    margin-bottom: -1px;
  }
  /* line 456, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(2) {
    width: 50%;
  }
  /* line 459, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) {
    width: 50%;
  }
  /* line 461, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3):before {
    /* для IE8+ */
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
  /* line 468, ../sass/sergo.scss */
  .order_histor_list .history_block:nth-child(3) .inside {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 478, ../sass/sergo.scss */
  .order_wrapp .products .price {
    clear: left;
    padding-top: 10px;
    font-size: 15px;
    overflow: hidden;
  }
  /* line 486, ../sass/sergo.scss */
  .order_wrapp .total .text {
    font-size: 15px;
    white-space: nowrap;
  }
  /* line 492, ../sass/sergo.scss */
  .order_wrapp .customer_info .customer_item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px 10px;
  }
  /* line 504, ../sass/sergo.scss */
  .order_wrapp .customer_info .text1 {
    width: auto;
  }
  /* line 507, ../sass/sergo.scss */
  .order_wrapp .customer_info .text2 {
    width: auto;
  }
}
