//page about us

.c-inform-text {
  //margin-bottom: 30px;
  padding: 0 30px 30px;
  & > * {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
  }
  p {
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  b{
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.c-inform-text-m {
  font-weight: bold;
}

.с-block-images {
  max-width: 100%;
  margin-bottom: 60px;
  border-radius: 4%;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.c-inform-list {
  padding: 0;
  li {
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 6px;
      height: 6px;
      background-color: #e83c4d;
      border-radius: 50%;
    }
  }
}

.c-inform-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 60px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//page news

.с-block-news {
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  margin-bottom: 30px;
  a {
    display: block;
  }
  & > * {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
  }
  &:hover > * {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
  }
  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 0 10px 0 #d1ceda;
  }
  .с-block-images-m {
    margin: 0;
    border-radius: 0;
  }
  .c-news-text {
    padding: 15px;
    .c-news-text-m {
      font-size: 16px;
      font-weight: 600;
    }
    .l-news-text {
      margin-bottom: 29px;
    }

    .c-time {
      font-size: 12px;
      color: #aca8bf;
      position: relative;
        i {
          position: absolute;
          font-size: 15px;
        }
      .time{
        padding-left: 20px;
      }
    }
    .l-news-text-m {
      font-size: 12px;
      font-weight: 600;
      color: #633b63;
      float: right;
      margin-bottom: 0;
      &:focus,
      &:active,
      &:hover {
        color: #aca8bf;
      }
    }
  }
}
.flex-row__m{
  width: 100%;
  justify-content: space-between;
}

//all-news
.c-allnews{
  h2{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333333;
    text-align: left;
    margin-bottom: 33px;
    padding: 0 30px;
    text-transform: none;
  }
}

.с-news-images{
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 0;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.c-news-time{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px 30px;
  .time {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:  #d9dbe1;
  }
}

.c-social {
  display: flex;
  justify-content: center;
  .c-social-network {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6fb;
    border-radius: 50%;
    margin-right: 10px;
    a{
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 53px;
    }
    i {
      font-size: 18px;
      &:before {
        color: #d1ceda;
      }
    }
    &:focus,
    &:active,
    &:hover {
      background: #633b63;
      i {
        &:before {
          color: #fff;
        }
      }
    }
  }
}

//reviwes>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.tabs-element{
  & > * {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
  }
}

.tab-content{
  margin-bottom: 30px;
}

.c-reviews {
  padding: 30px;
  border: 0;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #fff;
  .c-text-m {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;

  }
  .testimonial-time{
    border: none;
    padding: 0;
    margin-bottom: 18px;
    .time {
      font-size: 14px;
    }
  }
  .c-text{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    height: 162px;
    overflow-y: auto;
  }
}

.fa-stack{
  width: 18px;
  height: 18px;
  line-height: 0;
  text-align: center;
  font-size: 18px;
  margin-right: 2.5px;
  .icon-star{
    &:before{
      color: #d1ceda;
    }
  }
  &.active{
    .icon-star{
      &:before{
        color: #633b63;
      }
    }
  }
}

.c-form-style{
  //height: 100%;
  //background: #fff;
  ////padding: 30px;
  //border-radius: 10px;
}

.c-line-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form-control{
    width: 350px;
    height: 50px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    padding: 18px 15px;
    margin-right: 0;
  }
  }

.reviewStars-input input {
  display: none;
}
.c-center{
  button{
    margin: 0 auto;
  }
}


.c-reviewStars-input {
  width: 350px;
  height: 60px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .c-rating{
    float: left;
    color: #aca8bf;
    margin-bottom: 0;
  }
  .reviewStars-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;

    .c-rating {
      float: left;
      color: #aca8bf;
    }
    input {
      margin-right: 10px;
      &:checked ~ label,
      &:checked + label {
        .fa-star {
          &:before {
            color: #ff7f50;

          }
        }
      }
      &:hover{
        & + label {
          .fa-star {
            &:before {
              color: #ff7f50;

            }
          }
        }
        & ~ label {
          .fa-star {
            &:before {
              color: #ff7f50;

            }
          }
        }
      }
    }
    label {
      position: relative;
      font-size: 16px;
      color:  #d9dbe1;
      padding: 0;
      cursor: pointer;
      margin: 0 2.5px;
      i{
        color:  #d9dbe1;
      }
    }
  }
}