@import url("../stylesheet/fonts.css");

$main_font : 'Proxima Nova';
/* Color palette */

$violet: #f77f50;
$greyish-brown: #3b2f2d;
$white: #ffffff;
$grey_text: #444444;
$grey_light_text: #777777;
$violet_text: #404969;
$violet_pink: #f0e7f1;



a {
  color: $violet_text;
  text-decoration: none;
  &:hover{
    color: $violet;
  }
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}


h3 {
  font-family: $main_font;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #333333;
}

menu {
  font-family: $main_font;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: $greyish-brown;
}

html,
body {
  height: 100%;
  font-family: $main_font;
  background-color: #f5f6f7;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*{
  outline:0px!important;
  font-family: $main_font;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
a:focus,
a:hover,
a:active{
  text-decoration: none;
}
#content{
  min-height: auto;
  padding-bottom: 36px;
}

@mixin t-y{
  top: 50%;
  transform: translateY(-50%);
}
@mixin t-x{
  left: 50%;
  transform: translateX(-50%);
}
@mixin t-xy{
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
$shadowlength: 60;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through $shadowlength {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden ;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
header {
  flex: 0 0 auto;
  padding-bottom: 16px;
  background-color: #fff;
  padding-top: 17px;
  hr{
    margin: 24px 0 17px;
    border-top: 1px solid #e8e7ed;
  }
}

.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  //background-color: $beige;
  //padding-top: 30px;
  min-height: 100%;
  //padding-top: 116px;
}
.mfp-close{
  &:hover{
    cursor: pointer!important;
  }
}
footer {
  flex: 0 0 auto;
  background-color: #404969;
  padding: 60px 0;
  h3{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
  .list-unstyled{
    li{
      padding-left: 0;
      &:before{
        display: none;
      }
      a{
        font-size: 14px;
        font-weight: normal;
        line-height: 2.57;
        letter-spacing: normal;
        color: #9fa4b4;
        transition: .3s;
        &:active,
        &:focus,
        &:hover{
          color: #fff;
        }
      }
    }
  }
  p{
    font-size: 12px;
    color: #aca8bf;
  }
}
.list-unstyled{
  li{
    padding-left: 0;
    &:before{
      display: none;
    }
    .price{
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #333333;
      margin-right: 57px;
    }
    .old-price{
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.83;
      letter-spacing: normal;
      color: #9fa4b4;
      text-decoration: line-through;
    }
  }
}
.slick-slider{
  opacity: 0;
  &>.item:not(:first-child){
    display: none;
  }
  &.slick-initialized{
    opacity: 1;
  }
}
.slick-slider{
  opacity: 0;
  & > .item:not(:first-child){
    display: none!important;
  }
}

.slick-slider.slick-initialized{
  opacity: 1;
}
.wrapper_big_slider >.item:not(:first-child){
  display: none!important;
}
body{
  font-family: $main_font;
  overflow-x: hidden;
}
.top{
  background-color: #f5f6f7;
  border: 0;
  padding: 10px 0;
}
.logo{
  width: 100%;
  padding-right: 45px;
  //height: 135px;
  //margin-top: -5px;
  img{
    width: 100%;
    height: 100%;
  }
}
.list-inline{
  margin: 0;
  li{
    list-style: none;
    margin-right: 20px;
    padding: 0;
    &:before{
      display: none;
    }
    &:last-child{
      margin-right: 0;
    }
    a{
      font-family: $main_font;
      font-size: 14px;
      font-weight: bold;
      color: #989eae;
      transition: .2s;
      &:focus,
      &:active,
      &:hover{
        color: #aca8bf;
        text-decoration: none;
      }
    }
  }
}
.phone-shop{
  font-size: 14px;
  margin-right: 30px;
  font-weight: 600;
  color: #333333;
  &:active,
  &:focus,
  &:hover{
    color: #333333;
  }
}

.currency-language{
  .lenguage{
    margin-right: 30px;
  }
  button{
    font-size: 14px;
    font-weight: 600;
    color: #aca8bf;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active,
    &:hover{
      color: #fff;
      text-decoration: none;
    }
    i{
      margin-left: 10px;
      font-size: 6px;
    }
  }
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  &__m{
    margin-bottom: 30px;
  }
  &__pos{
    justify-content: space-between;
  }
}
.content-flex{
  justify-content: space-between;
}
.navbar-collapse{
  padding: 0;
}
//.slick-dotted.slick-slider {
//  margin-bottom: 0px !important;
//}
.slide_wrapper_big{
  overflow: hidden;
  margin-bottom: 30px;
  .slick-dots{
    top: inherit;
    bottom: 18px;
    margin-bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .products_row-btn{
    top: 50%!important;
    transform: translate(0, -50%);
    background-color: #f5f6f7;
    &.products_row-prev_btn{
      left: 30px;
      z-index: 9;
    }
    &.products_row-next_btn{
      right: 30px;
    }
  }
  .item{
    position: relative;
    min-height: 500px;
    img{
      min-height: 500px;
    }
    .wrapper-banner-info{
      position: absolute;
      width: 100%;
      @include t-y;
      h2{
        font-family: $main_font;
        font-size: 50px;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 6.9px;
        margin: 0 0 15px;
        text-transform: uppercase;
        text-align: left;
        color: #ffffff;
        span{
          color: #333333;
          display: block;
        }
      }
      p{
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 60px;
      }
      a{
        width: 200px;
        height: 60px;
        border-radius: 60px;
        background-color: #bde4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
        text-transform: uppercase;
        transition: .3s;
        &:hover,
        &:active,
        &:focus{
          color: #333333;
          background-color: #fff;
        }
      }
    }
  }
}
.option-list{
  margin-bottom: 45px;
}
.btn-group{
  button{
    padding: 0;
  }
}
.grey-input{
  background-color: #f6f6fb;
  height: 100%;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  color: #aca8bf;
}
.search-group{
  height: 45px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
  input.form-control{
    background-color: #f5f6f7;
    height: 100%;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 14px 20px;
    color: #aca8bf;
  }
  span{
    position: absolute;
    right: 0;
    display: block;
    width: 68px;
    @include t-y;
    button{
      background-color: transparent;
      border: 0;
      color: #d8dae0;
      padding: 0;
      text-align: center;
      width: 100%;
      &:hover,
      &:active,
      &:focus{
        background-color: transparent;
      }
    }
  }
}
.navbar{
  margin-bottom: 0;
  min-height: auto;
  border: 0;
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: none;
  li{
    margin-right: 55px;
    list-style: none;
    padding-left: 0;
    position: static;
    &:before{
      content: '';
      display: none;
    }
    a{
      padding: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 2px;
      color: #333333;
      transition: .5s;
      &:focus,
      &:active,
      &:hover{
        color: #ff7f50;
        background-color: transparent;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &:focus,
    &:active,
    &:hover{
      a{
        color: #ff7f50;
        background-color: transparent;
      }
    }
  }
}
.count-wrapper{
  width: 45px;
  height: 45px;
  background-color: #f5f6f7;
  border-radius: 50%;
  a{
    font-size: 18px!important;
    color: #404969;
  }
}
.btn-link{
  font-size: 14px!important;
  font-weight: bold!important;
  color: #9fa4b4!important;
  &:first-child{
    margin-right: 30px;
  }

  i{
    font-size: 18px;
    margin-right: 10px;
  }
  &:active,
  &focus,
  &:hover{
    text-decoration: none;
  }
}
.discount{
  margin-top: 10px;
}
.btn-default{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  color: #ff7f50;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 0;
  &:hover{
    background-color: #ff7f50;
    color:  #fff;
  }
  &.orang{
    display: flex;
    background-color: #ff7f50;
    color: #fff;
    margin: 0 auto;
    justify-content: center;
    &:active{
      background-color: #404969;
      color:  #ff7f50;
    }
    &:hover{
      background-color: #fff;
      color:  #ff7f50;
    }
  }
}
.wrapper-category_home{
  overflow: hidden;
  margin-bottom: 59px;
  .item{
    img{
      width: 100%;
      min-height: 360px;
    }
    .category-text {
      position: absolute;
      top: 95px;
      left: 30px;
      font-size: 36px;
      font-weight: 900;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 5px;
      padding: 0 15px;
      p{
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.11;
        letter-spacing: 5px;
        color: #404969;
        margin-bottom: 0;
      }
      .text_white{
        color: #fff;
        margin-bottom: 30px;
      }
    }
  }
  .category-slider{
    .item{
      width: 16.66%;
      float: left;
      border: 1px solid #e8e7ed;
      border-right: 0;
      position: relative;
      a{
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #aca8bf;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
        }
        .counter-items{
          position: absolute;
          top: 30px;
          left: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90px;
          height: 40px;
          border-radius: 60px;
          background-color: #f6f6fb;
          color: #633b63;
          font-size: 14px;
          z-index: 2;
        }
        p{
          position: absolute;
          bottom: 30px;
          width: 100%;
          text-transform: uppercase;
          z-index: 2;
          margin-bottom: 0;
        }
        .hover-container{
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }
    }
  }

}
.product-thumb{
  border-radius: 0;
  background-color: #ffffff;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: .3s;
  .caption,
  .image{
    padding: 15px;
    img{
      margin: 0 auto;
      display: block;
    }
  }
  .caption{
    a{
      width: 100%;
      display: block;
      font-size: 16px;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      margin-bottom: 30px;
    }
  }
  .flex-row{
    padding: 0 15px;
    justify-content: space-between;
  }
  .title-price{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: normal;
    color: #aca8bf;
    margin-bottom: 5px;
    display: block;
  }
  .price{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    .price-old{
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
      color: #9fa4b4;
      text-decoration: line-through;
      margin-left: 15px;
    }
  }
  .button-group{
    border-top: solid 1px #f5f6f7;
    display: flex;
    button{
      height: 52px;
      background-image: none;
      background-color: #fff;
      border: 0;
      flex: 1;
      transition: .3s;
      &:hover{
        color: #404969;
        i{
          &:before{
            transition: .3s;
            color: #404969;
          }
        }
      }
    }
    .mini-btn{
      width: 52px;
      border-right: solid 1px #f5f6f7;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 0;
      flex: 1;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      color: #aca8bf;
      &.active{
        i{
          &:before{
            color:  #404969;
          }
        }
      }
    }
    .one_click{
      width: 100%;
      padding: 0;
      flex: 3;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #ff7f50;
      text-transform: uppercase;
      &:active,
      &:hover{
        color: #404969;
      }
    }
  }
  &:hover{
    box-shadow: 0 0 9px 0 #e6e6e6;
    background-color: #ffffff;
    border: 0;
  }
}
.mfilter-box{
  background-color: #fff;
  padding: 15px;
  .box-heading{
    border-bottom: 1px solid #f5f6f7;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #404969;
    padding: 12px 0 27px;
    margin-bottom: 30px;
    i{
      font-size: 15px;
    }
  }
}
.product-layout{
  padding: 10px 15px;
  margin-bottom: 10px;
}
.htmlmodle-wrapper{
  background-color: #fff;
  padding: 60px 0;
  p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
h3,
h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.wrapper_prod_slider{
  padding: 52px 0;
  .slick-list{
    margin: 0 -15px;
  }
  .slick-dots{
    bottom: 30px;
    top: inherit;
    width: 100%;
    text-align: center;
    li{
      background-color: #d9dbe1;
      &.slick-active{
        button{
          background-color: #404969;
        }
      }
    }
  }
}
.products_row-btn{
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  border: 0;
  top: -36px;
  right: 0;
  padding: 0;
  font-size: 10px;
  transition: .3s;
  i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #989eae;
  }
  &.products_row-prev_btn{
    right: inherit;
    left: 0;
    z-index: 2;
  }
  &:focus{
    cursor: pointer;
    background-color: #fff;
    i{
      color: #989eae;
    }
  }
  &:hover,
  &:active{
    cursor: pointer;
    background-color: #404969;
    i{
      &:before{
        color: #fff;
      }
    }
  }
}
.slick-dots{
  display: inline-block!important;
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  text-align: left;
  width: auto;
  li{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    &:first-child{
      margin-left: 0;
    }
    button{
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      opacity: 0.3;
      border-radius: 50%;
      border: 0;
      padding: 0;
      &:before{
        content: '';
        display: none;
      }
    }
    &.slick-active{
      button{
        opacity: 1;
        background-color: #ffffff;
      }
    }
  }
}
@keyframes spinAround {
  from {
    transform: rotateY(0deg)
  }
  to {
    transform: rotateY(360deg);
  }
}
.wrapper-html_module{
  background-color: #f6f6fb;
  padding: 50px 0;
  position: relative;
  margin-bottom: 50px;
  &:after,
  &:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f6f6fb;

  }
  .c-reviews{
    z-index: 2;
  }
  .products_row-btn{
    background-color: #fff;
    z-index: 9;
    &:hover,
    &:focus,
    &:active{
      background-color: #633b63;
    }
  }
  .slick-list {
    margin: 0 -15px;
  }
  &:before{
    left: -100%;
  }
  &:after{
    right: -100%;
  }
  h2{
    margin-bottom: 60px;
  }
  .item{
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 70px 30px;
    min-width: 263px;
    max-height: 263px;
    transition: .3s;
    img{
      margin-bottom: 20px;
      width: 70px;
      height: 70px;
    }
    p{
      font-size: 14px;
      font-weight: 600;
      letter-spacing: normal;
      text-align: center;
      color: #aca8bf;
      margin-bottom: 0;
    }
    &:hover{
      box-shadow: 0 0 5px 0 #d1ceda;
      img{
        //-webkit-animation: spinAround 1s linear infinite;
        //-moz-animation: spinAround 1s linear infinite;
        animation: spinAround .5s linear;
      }
      //box-shadow: 0 0 10px 0 #d1ceda;
    }
  }
}
.container-news{
  margin-bottom: 30px;
}

.container-item_module.wrapper-html_module{
  margin-bottom: 0;
}
.news-block{
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  overflow: hidden;
  height: 100%;
  transition: .3s;
  .item-info{
    padding: 15px;
    position: relative;
  }
  a{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: #1a1a1a;
    display: block;
    img{
      width: 100%;
    }
    p{
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 40px;
    }
  }
  .description{
    &>*{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: normal;
      color: #1a1a1a;
      opacity: 0.8;
      margin-bottom: 28px;
    }
  }
  .time-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //position: absolute;
    //bottom: 0;
    //width: 100%;
    //left: 0;
    //padding: 0 15px;
    span{
      font-size: 12px;
      color: #aca8bf;
    }
    .blog-button{
      a{
        font-size: 12px;
        font-weight: 600;
        text-align: right;
        color: #633b63;
        &:hover{
          color: #aca8bf;
        }
      }
    }
  }
  &:hover{
    box-shadow: 0 0 10px 0 #d1ceda;
    background-color: #ffffff;
    border: solid 1px #e8e7ed;
  }
}
//.wrapper-news{
//  margin-bottom: 60px;
//  .wrapper_prod_slider{
//    padding-bottom: 0;
//  }
//}
.wrapper-testimonial_module{
  background: url("/image/catalog/testemonial-slide-2x.png");
  background-size: cover;
  padding: 60px 0;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  h3{
    color: #fff;
  }
  .item{
    text-align: center;
    margin-bottom: 30px;
    .name-author{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }
    .c-text{
      font-style: italic;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 750px;
      margin: 0 auto;
    }
  }
  .horizontal-sreview-all{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li{
    background-color: transparent;
  }
  .slick-dots li.slick-active button{
    background-color: #fff;
    opacity: 1;
  }
}
.news-ncategory{
  .wrapper-news{
    padding-top: 0;
  }
}
.article-content{
  background-color: #fff;
  //padding: 0 15px;
  margin-bottom: 60px;
}
.blog-content{
  h2{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    text-transform: none;
  }
}
.wrapper-news{
  padding: 50px 0 60px;
  .artblock {
    background-color: #fff;
    margin-bottom: 30px;
    &:hover{
      box-shadow: 0 0 10px 0 #e6e6e6;
    }
    a{
      display: block;
      img{
        width: 100%;
      }
    }
    //max-width: 555px;
    .text__news {
      //height: 220px;
      padding: 30px;
      .description{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #333333;
      }
      .name{
        margin-bottom: 20px;
        text-align: center;
        a{
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: normal;

          color: #333333;
        }

        //height: 69px;
      }
    }
  }
}
.wrapper_news_slider{
  .slick-dots{
    bottom: 0;
  }
}
.carousel-wrapper{
  background-color: #fff;
  .slick-carousel{
    .item{
      img{
        margin: 0 auto;
      }
    }
  }
}
.newsletter-form{
  padding: 0 15px 0 0;
}
.social{
  padding: 0 0 0 15px;
  margin-bottom: 0px;
  li{
    width: 45px;
    height: 45px;
    border: 0;
    background-color: rgba(255,255,255,0.1);
    float: left;
    margin-right: 10px;
    list-style: none;
    border-radius: 50%;
    transition: .3s;
    padding-left: 0;
    &:before{
      display: none;
    }
    &:last-child{
      margin-right: 0;
    }
    a{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      i{
        font-size: 18px;
        color: #fff;
      }
    }
    &:hover{
      background-color: #fff;
      a{
        i{
          &:before{
            color: #404969;
          }
        }
      }
    }
  }
}
.copiright{
  background-color: #2a3047;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #9fa4b4;
  padding: 15px 0;
  p{
    margin-bottom: 0;
  }
  a{
    text-align: right;
    display: block;
  }
}
//.btn-cart{
//  background-color: transparent;
//  border: 0;
//  position: relative;
//  display: block;
//  padding: 0;
//  margin: 0 30px;
//}
.brand-block{
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  h2{
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: 4.8px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 0 20px;
    border-bottom: 1px solid #f5f6f7;
    text-transform: uppercase;
    color: #404969;
  }
  .name-brand{
    padding: 5px 0;
    text-align: center;
    a{
      font-size: 14px;
      color: #9fa4b4;
      padding: 0 15px;
    }
  }
  &:hover{
    box-shadow: 0 0 10px 0 #e6e6e6;
  }
}
.name-brends{
  h1{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #404969;
    text-transform: uppercase;
    margin: 0;
  }
}
.count-wrapper{
  width: 45px;
  height: 45px;
  background-color: #f5f6f7;
  border-radius: 50%;
  margin: 0 5px;
  &:last-child{
    margin-right: 0;
  }
  a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px!important;
    color: #404969;
    position: relative;
    i{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.count_item{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff7f50;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  top: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}
.row-item{
  margin-right: -15px;
}
.newsletter_form-input{
  border-radius: 60px;
  overflow: hidden;
  input.form-control{
    height: 45px;
    background-color: rgba(255,255,255,0.1);
    font-size: 14px;
    color: #ffffff;
    border: 0!important;
    &:active,
    &:focus{
      background-color: #fff;
      color: #404969;
    }
  }
}
.form-pos{
  position: relative;
  margin-bottom: 0!important;
}
.input-group-btn{
  width: 50px;
  height: 45px;
  right: 0;
  top: 0;
  position: absolute;
  button{
    background-color:transparent;
    color: #fff;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    i{
      color: #989eae;
    }
    &:focus,
    &:hover{
      background-color:transparent;
      i{
        color: #989eae!important;
      }
    }
  }
}
.alert-success{
  position: absolute;
  background-color: #bde4f4;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #404969;
  z-index: 3;
  border-radius: 0;
  box-shadow: 0 0 9px 0 #e6e6e6;
}
.wrapper-breadcrumb{
  background-color: #bde4f4;
  padding: 60px;
  margin-bottom: 60px;
  .title-breadcrumb{
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: #404969;
    margin: 0 0 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .breadcrumb{
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
      padding-left: 0;
      &:before{
        display: none;
      }
      a{
        font-size: 12px;
        font-weight: bold;
        color: #404969;
        i{
          font-size: 9px;
          line-height: 12px;
          margin:0 10px;
        }
      }
      &+li{
        &:before{
          content: "";
          padding: 0;
        }
      }
    }
  }
}
.sort-wrapper{
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.iScrollLoneScrollbar{
  background-color: #e8e7ed;
  width: 2px!important;
}
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  //font-weight: 600;
  color:  #333333;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count{
  color:  #333333;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.iScrollIndicator{
  background: rgb(255, 127, 80)!important;
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  //padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #ebecf0;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid #404969;
  border-left: 2px solid #404969;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span,
.form-checkbox__label{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #9fa4b4;
}
.radio{
  .form-checkbox{
    &__marker{
      border-radius: 50%;
      &:after{
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #d1d3da;
        opacity: 0;
        border: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
.special_block_info{
  position: relative;
  z-index: 5;
  width: 100%;
  height: 0px;
  .block_info{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.alert_add_cart{
  max-width: 350px;
  padding: 15px 35px 15px 60px;
  position: relative;
  background-color: #404969;
  border-radius: 4px;
  color: white;
  margin-top: 0;
  font-size: 16px;
  &:before{
    content:"\e909";
    font-family: icomoon;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white!important;
    font-size: 26px;
  }
  .rem_alert{
    position: absolute;
    right: 5px;
    top: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    &:after{
      left: 50%;
      top: 50%;
      content: "\e90f";
      font-family: icomoon;
      position: absolute;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 12px;
    }
  }
}
.select2-results{
  ul{
    li{
      //padding: 0;
      &:before{
        display: none;
      }
    }
  }
}
.mini-btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #9fa4b4;
  font-size: 10px;
}
.alert_add_wishlist{
  max-width: 350px;
  padding: 15px 35px 15px 15px;
  position: relative;
  background-color:#404968;
  border-radius: 4px;
  color: white;
  margin-top: 0px;
  font-size: 16px;
  a{
    color: white;
    text-decoration: underline;
  }
  .rem_alert{
    position: absolute;
    right: 5px;
    top: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
    &:after{
      left: 50%;
      top: 50%;
      content: "\e90f";
      font-family: icomoon;
      position: absolute;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 12px;
    }
  }
}
.form-group{
  position: relative;
  .text-danger{
    position: absolute;
    top: -20px;
    left: 0;
  }
}
.text-share{
  align-items: center;
  p{
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #404969;
    margin-bottom: 0;
  }
  img{
    margin-right: 10px;
  }
}
.share_wrapp{
  .icon_wrapp{
    display: none;
  }
  &.active{
    .text-share{
      display: none;
    }
    .icon_wrapp{
      display: flex;
    }
  }
}
.container-inp{
  min-height: 60px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  margin-bottom: 15px;
  padding: 15px;
  .form-group{
    margin-bottom: 0;
    height: 100%;
    justify-content: space-between;
  }
  .control-label{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9fa4b4;
    float: left;
  }
  .radio-items{
    float: right;
  }
}
.form-btn{
  .form-checkbox{
    display: flex;
    margin: 0 auto 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .orang{
    width: auto;
  }
}
.mfilter-counter,
.mfilter-col-count{
  color: #9fa4b4!important;
}
.wrapp_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-sort{
  margin-bottom: 0;
  font-size: 14px;
  color: #1a1a1a;
  margin-right: 20px;
}
.sort_item{
  margin-right: 20px;
  a{
    font-size: 14px;
    color: #aca8bf;
  }
  &.is_active{
    a{
      font-size: 14px;
      font-weight: bold;
      color: #633b63;
    }
  }
}
.sort-right{
  margin-bottom: 30px;
}
.container-prod_first{
  background-color: #fff;
  margin-bottom: 60px;
}
.container-prod_second{
  padding: 30px;
  .copyContainer{
    font-size: 14px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: 1.43!important;
    letter-spacing: normal!important;
    color: #333333!important;
    p{
      margin-bottom: 30px;
    }
  }
  p{
    margin-bottom: 30px;
  }
}
.wrapper-notification{
  border-radius: 5px;
  background-color: #f6f6fb;
  border: dashed 1px #633b63;
  padding: 20px 60px;
  margin-bottom: 30px;
  p{
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #633b63;
  }
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  background-color: #fff;
  padding: 25px;
  position: relative;
  &>li{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #404969!important;
    line-height: 30px;
    padding-left: 0;
    &:before{
      display: none;
    }
    a{
      border: 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      color: #9fa4b4!important;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 30px;
      text-align: center;
      &:hover{
        color: #404969!important;
        border-radius: 0;
        background-color: transparent;
      }
    }
    &.prev{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      //width: 100%;
      //height: 100%;
      z-index: 2;
      width: auto;
      padding-left: 15px;
      color: #9fa4b4;
      a{
        color: #9fa4b4;
        line-height: 30px;
      }
      span{
        font-size: 10px;
        padding-right: 10px;
      }
    }
    &.last{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      //width: 100%;
      //height: 100%;
      z-index: 2;
      width: auto;
      padding-right: 15px;
      color: #9fa4b4;
      span{
        font-size: 10px;
        padding-left: 10px;
      }
    }
    &.active{
      span{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #fff;
        border:0;
        color: #404969;
        padding: 0;
        line-height: 30px;
        text-align: center;
        &:hover{
          border-radius: 0;
          background-color: #fff;
          color: #404969;
        }
      }
    }
  }
}
.category_ing{
  img{
    display: block;
    margin: 0 auto;
  }
}
.btn-primary{
  width: 263px;
  height: 60px;
  border-radius: 60px;
  background-color: #404969;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0;
  &:focus,
  &:active,
  &:active:focus,
  &:hover{
    color: #ffffff;
    background-color: #ff7f50;
  }
}
.mfilter-button-reset{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ff7f50;
  display: block;
  text-transform: uppercase;
  float: none!important;
  padding-top: 15px;
  &:active,
  &:focus,
  &:hover{
    color: #404969;
  }
}

.sale-label{
  position: relative;
  .timer-curier{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    color: #404969;
    .timar-info{
      opacity: 0.5;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #404969;
      margin-bottom: 5px;
    }
    .timer{
      margin-top: 5px;
    }
  }
  .top-sales{
    top: 0;
    right: 0;
  }
}
.product-page{
  .sale-label{
    .timer-curier{
      left: 15px;
      top: 15px;
    }
    .top-sales{
      top: 15px;
      right: 15px;
    }
  }
  h3{
    text-transform: none;
  }
  .review_item{
    border: solid 1px #ebecf0;
  }
}
.wrapper-errorpage{
  background:  url('/catalog/view/image/404.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  .row{
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
  }
  .text-errors{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    left: 0;
    text-align: center;
  }
  h1{
    font-size: 200px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  p{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
  }
  a{
    width: 200px;
    height: 60px;
    border-radius: 60px;
    background-color: #bde4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    transition: .3s;
    margin: 0 auto;
    &:hover,
    &:active,
    &:focus{
      color: #333333;
      background-color: #fff;
    }
  }
}
.plash{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  &.top-sales{
    background-color:  #e83c4d;
  }
  &:nth-child(2){
    //top: 0;
    //right: 0;
    top: 0px;
  }
  &:nth-child(3){
    top: 30px;
  }
  &.new-prod{
    background-color: #08c299;
  }
  &.top-prod{
    background-color: #f7c677;
  }

}
.mfilter-content > ul > li{
  padding-left: 0;
  &:before{
    display: none;
  }
}
h1{
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #333333;
  margin: 0 0 30px;
}
.thumbnails{
  border-radius: 0px;
  background-color: #ffffff;
  border: 0;
  overflow: hidden;
  .item{
    padding: 30px;
    img{
      width: 100%;
    }
  }

}
.price-list{
  margin-bottom: 30px;
}
.attribute-list{
  margin-bottom: 30px;
  li{
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    &:before{
      display: none;
    }
    span{
      display: block;
      min-width: 163px;
    }
  }
}
.name-attribute{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #9fa4b4;

}
.attribute-item{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
}
.thumbnails-mini{
  border-top: 1px solid #ebecf0;
  .item{
    border-radius:0px;
    background-color: #ffffff;
    border-right: 1px solid #ebecf0;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 0;
    img{
      width: 100%;
    }

  }
  .slick-active{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.product-info-container{
  padding: 30px;
  .rating{
    margin-bottom: 30px;
  }
}
.slick-dots{
  li{
    padding-left: 0;
    &:before{
      display: none;
    }
  }
}
.image-container{
  border-right: 1px solid #ebecf0;
}
.flex-content{
  justify-content: space-between;
}
.status-prod{
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #5fcc9c;
  span{
    font-size: 10px;
    margin-right: 10px;
  }
}
.rating{
  a{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #d9dbe1;
    span{
      color: #ff7f50;
    }
  }
  .fa{
    font-size: 16px;
    color: #d9dbe1;
    &.active{
      color:  #ff7f50;
      i{
        color:  #ff7f50;
      }
    }
  }
}
.select2-container .select2-selection--single{
  height: 40px;
}
.select2-container--default .select2-selection--single{
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px #ebecf0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333333;
  line-height: 40px;
}
.select2-container--focus .select2-selection--single .select2-selection__rendered {
  color: #333333;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 40px;
  color: #333333;
  i{
    line-height: 40px;
  }
}
.select2-dropdown{
  background-color: #fff;
  border: solid 1px #ebecf0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: #f5f6f7;
  color: #333333;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #f5f6f7;
  color: #333333;
}
.select2-results__option{
  padding: 10px 15px;
  color: #333333;
  font-size: 14px;
}
.sort-text-left{
  justify-content: flex-end;
}
select.form-control{
  height: 40px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  color: #333;
  line-height: 40px;
  box-shadow: none;
}
.sort-text{
  font-size: 14px;
  color: #9fa4b4;
  font-weight: 300;
}
.limit-select{
  label{
    margin-right: 15px;
    font-size: 14px;
    color: #9fa4b4;
    font-weight: 300;
  }
  .select2-container{
    width: 90px!important;
  }
}
.sort-select{
  margin-right: 30px;
  label{
    margin-right: 15px;
    font-size: 14px;
    color: #9fa4b4;
    font-weight: 300;
  }

  .select2-container{
    width: 200px!important;
  }
}
.wrapp_inputs{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #fff;
  margin-right: 10px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #ebecf0;
  input{
    border: 0;
    box-shadow: none;
    background-color:  #fff;
    height: 45px;
    text-align: center;
    flex: 1;
  }
  .button{
    height: 45px;
    flex: 1;
    align-items: center;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
  }

}
.discount{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #aca8bf;
  margin-bottom: 30px;
  margin-top: 15px;
  span{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #633b63;
  }
}
.btn-pink_by{
  height: 45px;
  border-radius: 3px;
  background-color: #404969;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 15px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff7f50;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:active,
  &:focus{
    background-color: #ff7f50;
    color: #fff;
    &:before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }

  &.violet{
    background-color: #ff7f50;
    margin-right: 0;
    &:before {
      background: #404969;
    }
    i{
      font-size: 20px;
      margin-right: 15px;
      &:before{
        color: #fff;
      }
    }
    &:hover,
    &:active,
    &:focus{
      background-color: #404969;
      color: #fff;
    }
  }
}
.in_wishlist{
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #aca8bf;
  transition: .3s;
  i{
    margin-right: 10px;
    &:before{
      transition: .3s;
    }
  }
  &:hover{
    color: #633b63;
    i{
      &:before{
        color: #633b63;
      }
    }
  }
}
.big-information{
  margin-top: 60px;
}
.share_item{
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
  a{
    color: #aca8bf;
    font-size: 12px;
    font-weight: 600;
    transition: .3s;
    &:hover{
      color: #404969;
    }
  }
  &:before{
    transition: .3s;
    color: #aca8bf;
  }
  &:hover{
    color:#404969;
    &:before{
      color: #404969;
    }
  }
}

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px;
  & > li{
    float: left;
    padding-right: 30px;
    padding-left: 0;
    &:before{
      display: none;
    }
    //margin-bottom: 0;
    & > a{
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
      color: #9fa4b4;
      letter-spacing: 2px;
      transition: .3s;
      border: 0;
      padding: 10px 0;
      text-transform: uppercase;
      &:active,
      &:focus,
      &:hover{
        background-color: transparent;
        border: 0!important;
        letter-spacing: 2px;
        color: #404969;
      }
    }
    &.active{
      & > a{
        border: 0!important;
        letter-spacing: 2px;
        color: #404969;
        background-color: transparent;
        &:active,
        &:focus,
        &:hover{
          border: 0!important;
          letter-spacing: 2px;
          color: #404969;
          background-color: transparent;
        }
      }
    }
  }
}
.big-information{
  .tab-content{
    margin-bottom: 115px;
  }
}
.testimonial-testimonial{
  .nav-tabs{
    background-color: #fff;
    padding: 30px;
  }
}

#tab-description{
  p{
    margin-bottom: 30px;
  }
  &> *{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
  }
}
.releted-prod{
  h3{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    text-transform: none;
  }
}
.attribute_groups{
  margin-bottom: 30px;
  span{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a;
    &.attribute-name{
      color: #aca8bf;
    }
  }
}
#tab-specification{
  border-radius: 10px;
  border: solid 1px #e8e7ed;
  overflow: hidden;
}
.table-violet{
  border: 0;
  margin-bottom: 0;
  tbody{
    border: 0!important;
    & > tr{
      border-bottom: solid 1px #e8e7ed;
      &> td{
        border: 0;
        padding: 30px;
        &:first-child{
          background-color: #f6f6fb;
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          letter-spacing: normal;
          color: #633b63;
          border-right:  2px dashed #e8e7ed;
        }
      }
      p{
        opacity: 0.9;
        font-size: 14px;
        line-height: 1;
        letter-spacing: normal;
        color: #1a1a1a;
        margin-bottom: 15px;
        &.grey-text{
          opacity: 1;
          font-size: 14px;
          line-height: 1;
          letter-spacing: normal;
          color: #aca8bf;
          margin-bottom: 15px;
        }
      }

    }
    &:last-child{
      & > tr {
        border: 0;
      }
    }
  }
}
.payment-container{
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e8e7ed;
  padding: 30px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1a1a1a;
  h3{
    font-size: 14px;
    color: #1a1a1a;
    text-transform: none;
    text-align: left;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
  }
}
.info-container{
  margin-bottom: 60px;
  p{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
    margin-bottom: 30px;
  }
  .wrapper-image{
    padding: 30px 0 60px;
  }
}
.delivery-item{
  position: relative;
  img{
    width: 100%;
  }
  p{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #aca8bf;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
  }
}
.white-style-form{
  //margin: 0 -15px;
  background-color: #fff;
  border-radius: 0px;
  overflow: hidden;
  padding: 30px;
  .c-reviewStars-input{
    width: 100%;
  }
  h2{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 30px;
    text-transform: none;
  }
}
.callback{
  width: 45px;
  height: 45px;
  background-color: #404969;
  border-radius: 50%;
  border: 0;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
  color: #fff;
  padding: 0;
  &:focus{
    background-color: #404969;
    color: #fff;
    border-color: #fff;
    background-image: none;
  }
  &:hover{
    background-color: #404969;
    color: #fff;
  }
  .btn-callphone{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    z-index: 99;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active,
    &:hover{
      color: #fff;
    }
  }
  .callback_block {
    height: 45px;
    position: absolute;
    width: 45px;
    .callback_a {
      -webkit-animation: callback 3s linear 0s infinite;
      -moz-animation: callback 3s linear 0s infinite;
      animation: callback 3s linear 0s infinite;
      background-color: transparent;
      border: 2px solid #404969;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1;
    }
    .callback_b {
      -webkit-animation: callback 1.5s linear 0s infinite;
      -moz-animation: callback 1.5s linear 0s infinite;
      animation: callback 1.5s linear 0s infinite;
      background-color: transparent;
      border: 2px solid #404969;
      border-radius: 100% !important;
      bottom: 18px;
      box-sizing: border-box;
      height: 100px;
      opacity: 0.01;
      position: absolute;
      right: -28px;
      width: 100px;
      z-index: 1;
    }
  }
}
.form-group{
  //margin: 0 0 15px!important;
}
.form-horizontal .form-group{
  margin-right: 0;
  margin-left: 0;
}
input.form-control{
  box-shadow: none!important;
  padding: 10px 15px;
  margin-right: 0;
  height: 60px;
  border-radius: 3px;
  border: solid 1px #ebecf0;
  &::-webkit-input-placeholder {color: #aca8bf;}
  &::-moz-placeholder          {color: #aca8bf;}
  &:-moz-placeholder           {color: #aca8bf;}
  &:-ms-input-placeholder      {color: #aca8bf;}
  &:focus{
    &::-webkit-input-placeholder {color: transparent;}
    &::-moz-placeholder          {color: transparent;}
    &:-moz-placeholder           {color: transparent;}
    &:-ms-input-placeholder      {color: transparent;}
  }

}
textarea.form-control{
  border-radius: 3px;
  height: 120px;
  resize: none;
  border: solid 1px #ebecf0;
  box-shadow: none;
  padding: 10px 15px;
  color: #9fa4b4;
  &::-webkit-input-placeholder {color: #9fa4b4;}
  &::-moz-placeholder          {color: #9fa4b4;}
  &:-moz-placeholder           {color: #9fa4b4;}
  &:-ms-input-placeholder      {color: #9fa4b4;}
  &:focus{
    color: #333!important;
    &::-webkit-input-placeholder {color: transparent;}
    &::-moz-placeholder          {color: transparent;}
    &:-moz-placeholder           {color: transparent;}
    &:-ms-input-placeholder      {color: transparent;}
  }
}
.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim;
}
.text-danger,
.error{
  color: #e83c4d;
  font-weight: 300;
}
.modal-sm{
  width: 555px;
}

.modal-content{
  background-color: #fff;
  padding: 30px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  .btn-default.orang:hover {
    background-color: #404969!important;
    color: #fff!important;
  }
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
    font-size: 10px;
    color: #404969;
  }
  .modal-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 30px;
    text-transform: none;
  }
}
.authorization_modal-title{
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #d1ceda;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.modal-backdrop{
  background-color:  #404969;
}
.fl_login{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  a{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: right;
    color: #ff7f50;
  }
}
.createaccount,
.loginaccount{
  width: 100%;
}
.show_pass_ch{
  margin: 0;
  .form-checkbox__marker{
    background-color: #fff;
    margin-right: 10px;
  }
  .price-position{
    padding: 0;
  }
}
.authorization_modal-register{
  .btn-primary{
    margin: 0 auto;
  }
}
.alert-danger {

  color: #fff;
  background-color: rgba(232,60,70,0.9);
  border-color: #e83c4d;

}
.modal_product_info{
  width: 100%;
  padding-left: 15px;
  .select2-container--default .select2-selection--single{
    background-color: #fff;
  }
  .select2-container{
    width: 100%!important;
  }
  h4{
    margin: 0 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #d1ceda;
  }
}
.payment-info{
  margin-top: 15px;
  margin-bottom: 30px;
}
.modal_product_bottom{
  .btn-primary{
    margin: 0 auto;
  }
}
.wrapper-popop-pur{
  align-items: flex-start;
}
.payment-quantity{
  margin-bottom: 30px;
  .wrapp_inputs{
    background-color: #fff;
    margin-right: 0;
  }
  input{
    background-color: #fff;
    box-shadow: none;
  }
}
.simplecheckout-right-column{
  border-radius: 0;
  background-color: transparent;
  border: 0;
  h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #1a1a1a;
    margin: 0 0 30px;
    letter-spacing: normal;
    text-transform: none;
  }
  .btn-default{
    &.orang{
      &:hover{
        background-color: #404969;
        color: #fff;
      }
    }
  }
}
#simplecheckout_cart{
  background-color: #fff;
}
.simplecheckout-left-column{
  border-radius: 0px;
  background-color: #fff;
  padding: 30px;
  .block-title{
    //padding-bottom: 30px;
    border-bottom: 1px solid #ebecf0;
    margin-bottom: 20px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -30px;
      bottom: -1px;
      width: 35px;
      height: 1px;
      background-color: #ebecf0;
    }
    &:after{
      content: '';
      position: absolute;
      right: -30px;
      bottom: -1px;
      width: 35px;
      height: 1px;
      background-color: #ebecf0;
    }
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #1a1a1a;
    margin: 0 0 30px;
    letter-spacing: normal;
    text-transform: none;
  }
  .panel-heading{
    padding: 0;
    margin-bottom: 30px;
  }
}
.checkout-heading{
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #9fa4b4;
}
.simplecheckout-block-content{
  .select2-container--default .select2-selection--single{
    background-color: #fff;
  }
  .select2-container .select2-selection--single{
    height: 60px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 60px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 60px;
    line-height: 60px;
  }
}
#simplecheckout_cart{
  overflow: hidden;
}
.checkout-simplecheckout #buttons {
  display: none !important;
}
.simplecheckout-cart-total{
  border: 0!important;
  padding: 25px 15px!important;
  span{
    &:first-child{
      float: left;
      font-size: 14px;
      line-height: 1.29;
      color: #aca8bf;
    }
  }
  .simplecheckout-cart-total-value{
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #1a1a1a;
  }
  .btn-pink_by{
    width: 220px;
    margin: 0 auto;
  }
}
.btn-simple{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  .btn{
    margin: 0;
    flex: 1;
    &:first-child{
      margin-right: 30px;
    }
  }
}
.simple_cart{
  .block-title{
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #ebecf0;
    h2{
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: #1a1a1a;
      margin: 0;
      text-transform: none;
    }
  }
  .simple_item{
    border-bottom: solid 1px #e8e7ed;
    display: flex;
    align-items: flex-start;
    padding: 30px 15px;
    position: relative;
    .quantity,
    .pqt{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price{
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #333333;
      }
    }
    .quantity{
      border-radius: 3px;
      background-color: #f6f6fb;
      width: 100px;
      height: 40px;
      border: solid 1px #ebecf0;
      input{
        background-color: #fff;
        border: 0;
        padding: 0;
        height: 100%;
        flex: 1;
        text-align: center;
      }
      button{
        height: 100%;
        background-color: #fff;
        padding: 0;
        border: 0;
        flex: 1;
      }
      .btn-plus{
        i{
          transform: rotate(90deg);
        }
      }
      .btn-minus{
        i{
          transform: rotate(90deg);
        }
      }
    }
    .wrapp_cart_right{
      width: 100%;
      padding-left: 30px;
      .options{
        margin-bottom: 30px;
      }
      .name{
        margin-bottom: 15px;
        a{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #333333;
        }
      }
    }
    .remove_btn{
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 0;
      position: absolute;
      top: 15px;
      right: 7px;
      font-size: 10px;
      color: #9fa4b4;
    }
  }
}
.options{
  margin-bottom: 15px;
  .option_item{
    span{
      font-size: 12px;
      line-height: 1;
      letter-spacing: normal;
      &:first-child{
        color: #aca8bf;
      }
      &:last-child{
        color: #633b63;
      }
    }
  }
}
ul{
  padding: 0;
  text-align: left;
  li{
    list-style: none;
    position: relative;
    padding-left: 16px;
    &:before{
      content: '';
      background-color: #ff7f50;
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
.account_title h1,
.account_title{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color:#404969;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.wrapper-margin,
.simpleregister-block-content{
  input.form-control{
    background-color: #f6f6fb;
  }
}
.contact-info_big{
  border-radius: 0px;
  border: 0;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  background-color: #fff;
  i{
    display: block;
    width: 90px;
    height: 90px;
    background-color: #bde4f4;
    border-radius: 50%;
    margin-bottom: 30px;
    position: relative;
    color: #404969;
    font-size: 40px;
    &:before{
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      @include t-y;

    }
  }
  &.price{
    span{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      margin-bottom: 60px;
    }
  }
  p{
    font-size: 14px;
    font-weight: bold;
    line-height: 0.86;
    text-align: center;
    color: #aca8bf;
    text-transform: uppercase;
    margin-bottom: 10px;
    &.mini-title{
      text-transform: none;
      margin-bottom: 0;
      padding-right: 5px;
    }
  }
  a{
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width: 240px;
    span{
      font-size: 20px;
      margin-right: 15px;
      color: #fff!important;
      margin-bottom: 0!important;
    }
    &:hover{
      background-color: #404969!important;
      color: #fff !important;
    }
  }
}
.information-contact{
  .c-form-style{
    background-color: #fff;
    padding: 30px 30px 60px;
  }
  h2{
    text-transform: none;
  }
}
.form-control:focus{
  border-color: #ff7f50;
}
.has-error .form-control{
  border-color: #e83c4d;
}
.grid_wrapper{
  margin: 0 auto;
}
.grid-sizer,
.grid-item{
  width: 33.33%;
  height: 255px;
  float: left;
  border: 15px solid #fff;
}
.grid-item.galery-grid-1{
  width: 66.66%;
  height: 510px;
}
.grid-item.galery-grid-2{
  width: 33.33%;
  height: 255px;
}
.grid-item .project__image img{
  width: 100%;
  height: 100%;
}
.grid-item .project__image{
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  position: relative;
}
.review_item{
  border-radius: 0;
  background-color: #ffffff;
  border: 0;
  padding: 30px;
  margin-bottom: 15px;
  .head{
    justify-content: space-between;
    margin-bottom: 30px;
    .name{
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
      margin-right: 30px;
    }
    .name-prod{
      margin-right: 30px;
      a{
        font-size: 16px;
        line-height: 1;
        color: #ff7f50;
        font-weight: 600;
      }
    }
    .testimonial-time{
      i{
        margin-right: 5PX;
      }
      font-size: 16px;
      color: #9fa4b4;
    }
  }
  .text{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1a1a1a;
    font-style: italic;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.information-information{
  .c-inform-text{
    text-align: center;
  }
}
.wrapper-top-menu{
  .dropdown-toggle{
    display: flex;
    align-items: center;
    i{
      font-size: 6px;
      line-height: 14px;
      margin-left: 5px;
    }
  }
}
.dropdown-menu{
  background-color: #f5f6f7;
  border-radius: 0;
  border: 0;
  margin: 0;
  color: #9a9fb0;
  box-shadow: none;
  min-width: 68px;
  padding: 15px;
  top: 32px;
  left: -20px;
  min-width: 201px;
  li{
    margin: 0 0 15px;
    a{
      display: block;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      color: #989eae;
      white-space: nowrap;
    }
    button{
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: #989eae;
    }
  }

}
.wrapper-menu-collaps{
  background-color: #ffff;
}
.dropdown-level{
  display: none;
  &.open-level{
    display: block;
  }
  ul{
    padding: 50px 0 30px;
  }
  li{
    min-width: 258px;
    height: 60px;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border: solid 1px #ebecf0;
    margin-right: 30px;
    a{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9fa4b4;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

//.dropdown-menu{
//  background-color:  #fff;
//  padding: 15px;
//  border-radius: 0;
//  border: 0;
//  margin: 0;
//  font-weight: bold;
//  color: #989eae;
//  box-shadow: none;
//  min-width: 100%;
//  top: 0;
//  left: -30px;
//  position: relative;
//  li{
//    //margin: 0 0 15px;
//    border: 1px solid #ebecf0;
//    color:  #ebecf0;
//    float: left;
//    a{
//      display: block;
//      width: 100%;
//      min-height: 60px;
//      font-size: 14px;
//      font-weight: normal;
//      text-align: center;
//      color:  #ebecf0;
//      padding: 0 20px;
//      min-width: 263px;
//    }
//    button{
//      font-size: 14px;
//      font-weight: bold;
//      text-align: left;
//      color: #989eae;
//    }
//  }
//
//}
.user-image{
  width: 90px;
  height: 90px;
  background-color: #bde4f4;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto 15px;
  i{
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    @include t-y

  }
}
.thumbnails-pop{
  a{
    display: block;
    img{
      margin: 0 auto;
      display: block;
    }
  }
}
.html_module_slider{
  .item{
    margin: 5px 15px;
    p{
      min-height: 60px;
      display: flex;
      align-items: flex-start;
    }
  }
}
.open-xs-menu{
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff7f50;
  position: relative;
  text-transform: uppercase;

  img{
    margin-right: 15px;
  }
  .name-caalog{
    letter-spacing: 2px;
    color: #333333;
    margin-bottom: 0;
    margin-right: 15px;
    width: auto;
    height: auto;
    background-color: #fff;
    line-height: 45px;
  }
  i{
    color: #aca8bf;
    font-size: 7px;
    line-height: 45px;
  }
  span{
    width: 30.6px;
    height: 5.3px;
    background-color: #ff7f50;
    margin-bottom: 4.3px;
    display: block;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &.js-catalog-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &.active{
    //width: 30px;
    //height: 30px;
    z-index: 99;
    color: #ff7f50;
    &.js-information-menu{
      position: fixed;
      z-index: 999999;
    }
    span{
      background-color: #ff7f50;
      &:nth-child(1){
        transform: rotate(45deg);
        margin-bottom: 0;
      }
      &:nth-child(2){
        transform: rotate(-45deg);
        margin-top: -5.5px;
        margin-bottom: 0;
      }
      &:nth-child(3){
        display: none;
      }
    }
  }
}
.wrapper-voucher{
  background-color: #fff;
  padding: 60px 30px;
  h1{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
  }
  &.price{
    h2{
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #1a1a1a;
      text-transform: none;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      margin-bottom: 30px;
    }
  }
}
.table-left {
  background-color:  #ffffff;
  border: 2px solid #f5f6f7;
  //margin-right: -15px;
}
.item-compare {
  position: relative;
  padding: 17px 16px;
  text-align: left;
  border-top: 2px solid #f5f6f7;
  background-color: #fff;
  &:nth-child(1){
    border-top: none;
    min-height: 435px;
  }
  p{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 14px;
    font-weight: 400;
    color: #404969;
    margin-bottom: 0;
  }
}
.item-product{
  .item-compare{
    &.bold-text{
      min-height: 56px;
    }
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #9fa4b4;
    }
    .rating{
      text-align: center;
    }
    .price {
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}
.slider-wrapper .item-product {
  //border: 1px solid #e4e7eb;
  float: left;
  margin-right: -1px;
  .item-compare{
    &:nth-child(1){
      min-height: 405px;
      padding: 0;
      margin-bottom: 30px;
    }
  }
}
.compare-btn{
  top: 20%;
  &.products_row-prev_btn{
    left: 15px;
  }
  &.products_row-next_btn{
    right: 15px;
  }
}
.bnews-list{
  text-align: center;
  .orang{
    display: block;
    line-height: 60px;
  }
}
.buttons{
  .btn-default{
    &.orang{
      &:active,
      &:hover{
        background-color: #404969;
        color: #fff;
      }
    }
  }
}
.gallery_list .gallery_item .wrapp_thumb:hover img {
  transform: scale(1);
}
.gallery_list .gallery_item .wrapp_thumb img {
  transform: scale(1.05);
  transition: 0.4s ease all;
}
.gallery_row{
  display: flex;
  flex-direction: column;
}
.gallery_item{
  padding: 0 15px;
  margin-bottom: 30px;
  .wrapp_thumb{
    overflow: hidden;
    img{
      width: 100%;
    }
  }

}
.wrapper-out{
  margin-top: 15px;
  p{
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
  }

}
.authorization_modal-login_icons_item{
  height: 60px;
  border-radius: 60px;
  background-color: #f5f6f7;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #9fa4b4;
  min-width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &:first-child{
    margin-right: 15px;
  }
}
.wrp-mg{
  width: 90px;
  height: 90px;
  background-color: #bde4f4;
  border-radius: 50%;
  padding: 0 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  img{
    width: 100%;
  }

}
.white-block{
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  h2{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #404969;
    text-align: left;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 30px;
    min-height: 80px;
    &:last-child{
      margin-bottom: 30px;
    }
  }
}
.block-info{
  text-align: center;
  margin-bottom: 30px;
  span{
    color: #9fa4b4;

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
.simplecheckout-cart-total{
  .inputs{
    line-height: 45px!important;
  }
}
.simplecheckout-cart-total-value{
  input.form-control{
    height: 45px;
  }

}
.product-page .sale-label .top-sales {
  top: 0;
  right: 0;
}
@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}