$violet: #402042;
$greyish-brown: #3b2f2d;
$white: #ffffff;
$grey_text: #444444;
$grey_light_text: #777777;
$violet_text: #9f67a5;
$violet_pink: #f0e7f1;
@media screen and (max-width: 1366px) {
  .back-top{
    right: 32px;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  .btn-slider{
    bottom: 110px;
  }
  .wrapper-category_home{
    .item{
      img{
        min-height: auto;
      }
      .category-text{
        top: 50%;
        transform: translate(0, -50%);
        p{
          font-size: 25px;
        }
      }
      .wrapper-banner-info{
        padding: 0 110px;
      }
    }
  }
}
@media screen and (max-width: 1280px){
  //.product-thumb .caption a{
  //  height: 61px;
  //  overflow: hidden;
  //}
  .slide_wrapper_big{
    .item{
      min-height: 390px;
      img{
        min-height: 390px;
      }
    }
  }
  .slide_wrapper_big{
    .item{
      .wrapper-banner-info{
        padding: 0 110px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .article-image{
    width: 100%;
  }
  .html-block{
    img{
      width: 100%;
    }
  }
  .row{
    &.not-row-md{
      margin: 0px!important;
    }
  }

  .social_btn{
    margin-bottom: 20px;
  }
  .navbar-nav{
    li{
      margin-right: 20px;
    }
  }
  .list-inline{
    li{
      margin-right: 11px;
    }
  }
  .phone-shop{
    margin-right: 25px;
  }
  .wrapper-html_module{
    .item{
      min-width: 211px;
      max-height: 211px;
    }
  }
  .contact-info{
    .phone-shop{
      font-size: 12px;
      margin-right: 12px;
    }
  }
  .content-flex {
    justify-content: flex-end;
  }
  .count-wrapper{
    a{
      font-size: 16px !important;
    }
  }
  .dropdown-level{
    li{
      margin-bottom: 30px;
    }
  }
  .btn-pink_by{
    min-width: 150px;
  }
  h3{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .btn-slider {
    bottom: 80px;
  }
  .thumbnails-mini .item{
    border-bottom: 1px solid #ebecf0;
  }
  //.btn-default{
  //  width: 175px;
  //  height: 50px;
  //}
  .wrapper-category_home{
    .item{
      .category-text{
        .text_white{
          margin-bottom: 20px;
        }
      }
    }
  }
  #mfilter-opts-price-min, #mfilter-opts-price-max {
    width: 110px!important;
    min-width: 113px!important;
    max-width: 124px!important;
  }
  .cart-wrapper .dropdown-menu.table-basket{
    width: 720px;
  }
  .buy_block{
    button{
      min-width: 260px;
    }
  }
  .container-description-prod .nav-tabs > li{
    margin-right: 30px;
    a{
      font-size: 14px;
    }
  }
  .wrapper-name{
    min-width: 260px;
  }
  .wrapper-category_home{
    .container-fluid{
      padding: 0;
    }
  }
  .slider-init-sm{
    .item{
      opacity: 0.5;
      &.slick-active{
        opacity: 1;
      }
    }
    .products_row-btn{
      top: 50%;
      transform: translate(0, -50%);
      &.products_row-prev_btn{
        left: 24px;
      }
      &.products_row-next_btn{
        right: 24px;
      }
    }
  }
  .wrapper-category_home{
    .item{
      .category-text{
        p{
          font-size: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .logo{
    margin-top: 0;
  }
  .btn-link:first-child{
    margin-right: 0;
  }
  .top{
    .list-inline{
      justify-content: center;
    }
  }
  .open>.dropdown-menu{
    left: -35px;
    padding: 0;
    background-color: transparent;
  }
  .list-inline .open > .dropdown-menu{
    position: relative;
    top: 0;
    left: 0;
  }
  .dropdown-menu li{
    margin-bottom: 0;
  }
  .wrapper-errorpage{
    background: #f77f50;
    .row{
      min-height: auto;
    }
    .text-errors{
      position: inherit;
      top: 0;
      transform: none;
      padding: 30px;
      h1{
        font-size: 120px;
      }
      p{
        margin-bottom: 30px;
      }
    }
  }
  .btn-cart{
    float: none!important;
  }
  .cart-wrapper {
    text-align: center;
  }
  .btn-slider{
    height: 50px;
    font-size: 16px;
    bottom: 15%;
  }
  .wrapper-item{
    img{
      width: 100%;
    }
  }
  .html-block{
    margin-bottom: 0;
    img{
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }
  .banner-wrapper{
    margin-bottom: 54px;
  }
  .product-thumb{
    .image{
      img{
        width: 100%;
      }
    }
  }
  .top{
    display: none;
  }
  .container{
    width: 100%;
  }
  .mini-position{
    justify-content: flex-end;
    padding-right: 15px;
  }
  .row-item{
    margin: 0 -15px;
  }
  //.wrapper_prod_slider .slick-list{
  //  margin: 0;
  //}
  .slick-dots{
    left: 15px;
  }
  .wrapper-news{
    padding: 50px 0px 60px;
  }
  .htmlmodle-wrapper,
  .wrapper-testimonial_module{
    padding: 60px 15px!important;
  }
  .wrapper-html_module{
    .item{
      padding: 15px;
      min-width: 168px;
      max-width: 211px;
      max-height: 211px;
      min-height: 211px;
      img{
        width: 45px;
        height: 45px;
      }
    }
  }
  .flex-row{
    &__sm{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .flex-row{
    &__m{
      justify-content: flex-start;
    }
  }
  header{
    margin-bottom: 0;
    hr{
      margin: 15px 0;
    }
  }
  .wrapper_big_slider{
    margin-bottom: 0;
    .slick-dots{
      top: inherit;
      bottom: 15px;

    }
    .item{
      min-height: 300px;
      .wrapper-banner-info{
        h2{
          font-size: 20px;
          margin-bottom: 5px;
        }
        p{
          font-size: 14px;
          margin-bottom: 30px;
        }
        a{
          width: 190px;
          font-size: 14px;
        }
      }
      img{
        min-height: 300px;
      }
    }
  }
  .search-sm{
    font-size: 30px;
    color: #aca8bf;
    line-height: 30px;
    &:active,
    &:hover,
    &:focus{
      color: #aca8bf;
    }
  }
  .slide_wrapper_big{
    .item{
      .wrapper-banner-info{
        padding: 0 15px;
      }
    }
  }
  .product-thumb{
    .button-group{
      .one_click{
        font-size: 12px;
        flex: 2;
      }
    } 
  }
  .text__news .description{
    height: 80px;
    overflow: hidden;
  }
  .container-item_module {
    padding: 0 15px;
  }
  //.row-item{
  //  display: none;
  //  &.open{
  //    display: block;
  //  }
  //}
  //.navbar-nav{
  //  flex-direction: column;
  //  height: 100%;
  //  align-self: center;
  //  justify-content: center;
  //  align-items: center;
  //}
  .navbar-nav{
    li{
      a{
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: 2px;
        color: #333333;
      }
    }
  }
  .overflow-body{
    overflow: hidden;
  }
  .logo-menu{
    margin-bottom: 10px;
    //padding: 0 50px;
  }
  .top{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    left: -100%;
    top: 0;
    //padding: 80px 0;
    &.open{
      display: block;
      left: 0;
      height: 100vh;
      overflow-y: auto;
    }
    .list-inline{
      li{
        position: relative;
        float: none;
        margin-right: 0;
        min-height: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
          color: #9fa4b4;
        }
      }
    }
    .phone-shop{
      color: #9fa4b4;
      font-size: 14px;
    }
    .flex-row{
      flex-direction: column;
    }
    .contact-info{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    .currency-language{
      &.flex-row{
        flex-direction: row;
      }
      button{
        color: #9fa4b4;
        i{
          &:before{
            color: #9fa4b4;
          }
        }
      }
    }

  }
  .wrapper-category_home {
    .category-slider{
      .item{
        a{
          .counter-items{
            width: 67px;
            height: 30px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .c-reviewStars-input{
    margin-bottom: 15px;
  }
  .delivery-item{
    margin-bottom: 30px;
  }
  .navbar-nav{
    li{
      margin: 0;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .js-catalog-menu{
    &.active{
     display: none;
    }
  }

  .catalog-menu-close{
    &.active{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  .sort-right{
    .text-sort{
      width: 150px;
    }
    .wrapp_links{
      display: block;
      .sort_item{
        float: left;
      }
    }
  }
  //.social{
  //  li{
  //    width: 30px;
  //    height: 30px;
  //    a{
  //      font-size: 10px;
  //    }
  //  }
  //}
  .thumbnails{
    margin-bottom:30px;
  }
  .modal_product_bottom .btn-primary{
    width: 100%;
  }
  .rating{
    margin-bottom: 10px;
  }
.authorization_modal-login{
  margin-bottom: 20px;
}
  .slide_wrapper_big{
    .item{
      min-height: 330px;
      img{
        min-height: 330px;
      }
      .wrapper-banner-info{
        h2{
          font-size: 36px;
          line-height: 1.28;
        }
        p{
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .mfilter-content{
    display: none;
    &.open{
      display: block;
    }
  }
  .mfilter-box .box-heading{
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .form-group .text-danger{
    position: initial;
  }
  .flex-column-xs{
    justify-content: center;
  }
  .item-product .item-compare .rating{
    margin-bottom: 0;
  }
  .product-thumb .caption a{
    height: 18px;
    overflow: hidden;
  }
  .dropdown-menu{
    position: relative;
  }
  .open > .dropdown-menu{
    left: 0;
    top: 0;
    width: 100%;

  }
  .dropdown-menu li {
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    &:before{
      display: none;
    }
    a {
      padding: 3px 0;
    }
  }
  .btn-link{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h1{
    padding: 0 15px;
  }
  .tabs-element{
    padding: 0 15px;
  }
  .account_title h1, .account_title{
    padding: 0;
  }
  .account-simpleedit .simpleregister-block-content{
    margin: 0 0 10px;
  }
  .account-forgotten{
    p,
    .wrapper-margin{
      padding: 0 15px;
    }
  }
  .dropdown-level li{
    min-width: 45%;
  }
  .form-checkbox__label span, .form-checkbox__label{
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .container-line{
    text-align: center;
  }
  .navbar{
    display: none;
    &.open{
      display: block;
    }
    .navbar-nav{
      flex-direction: column;
      margin-top: 20px;
    }
  }
  .btn-pink_by.violet{
    display: block;
    line-height: 33px;
  }
  .wrapper-voucher{
    padding: 30px;
    h1{
      font-size: 16px;
    }
  }
  .pagination > li.last,
  .pagination > li.prev{
    display: none;
  }
  .btn-default{
    line-height: 60px;
  }
  .form-group .text-danger{
    position: initial;
  }
  .wrapper-breadcrumb .title-breadcrumb{
    font-size: 26px;
  }
  .btn-link:first-child{
    margin-right: 0;
  }
  .open>.dropdown-menu{
    left: 0;
    padding: 0;
    background-color: transparent;
  }
  .product-search{
    input.form-control{
      margin-bottom: 20px;
    }
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
      margin-left: 0;
    }
  }
  .btn-primary{
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  h3, h2{
    font-size: 18px;
  }
  .compare-btn{
    &.products_row-btn{
      font-size: 14px;
      background-color: #f6f6f7;
      &:focus{
        color: #404969!important;
      }
    }
  }
  .dropdown-menu li{
    margin-bottom: 0;
  }
  .flex-column-xs{
    flex-direction: column;
  }
  .dropdown-level li{
    width: 100%;
  }
  .mini-position{
    &.fixed{
      position: fixed;
      top: 0;
      background-color: #fff;
      width: 100%;
      left: 0;
      padding: 5px;
      box-shadow: 0 0 10px 0 #e6e6e6;
      z-index: 99;
      border-bottom: 1px solid  #e8e7ed;
    }
  }
  .authorization_modal-login_icons_item{
    margin: 0 0 20px;
    &:first-child{
      margin-right: 0;
    }
  }
  .account-simpleedit .simpleregister-block-content .form-group{
    width: 100%;
    float: none;
  }
  .btn-primary{
    width: 225px;
  }
  .margin-input{
    margin-bottom: 15px;
  }
  .flex-colum-xs{
    flex-direction: column;
  }
  .sort-text{
    text-align: right;
    margin-bottom: 20px;
  }
  //.mini-position{
  //  flex-direction: column;
  //}
  .mini-position{
    justify-content:center;
  }
  .payment-container{
    margin-bottom: 30px;
  }
  footer{
    padding: 0;
    p{
      text-align: center;
    }
    a{
      display: block;
      text-align: center;
      margin-bottom: 15px;
      img{
        margin: 0 auto;
        display: block;
      }
    }
  }
  .logo{
    //height: 45px;
    margin-bottom: 25px;
    //padding: 0;
    img{
      //width: auto;
      //margin: 0 auto;
    }
  }
  .parent-elements{
    .list-unstyled{
      display: none;
    }
    .footer-title{
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 0;
      padding: 15px 0;
      margin-bottom: 0;
      i{
        margin-left: 5px;
      }
    }
  }
  .flex-column{
    flex-direction: column;
  }
  .social{
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .cont-margin{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .navbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin:0;
      color: #9f67a5;
      font-size: 30px;
      padding: 0;
      &:hover{
        color: #9f67a5;
      }
      span{
        font-family: 'lemon_tuesdayregular';
        font-size: 70px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -1.75px;
        color: #9f67a5;
        margin-right: 20px;
      }
    }
  }
  .not-flex{
    display: block;
  }
  .overflow-body{
    overflow: hidden;
  }
  .navbar-nav{
    flex-direction: column;
    margin: 0;
    li{
      width: 100%;
      text-align: center;
    }
  }
  .navbar{
    display: none;
  }
  .html-block{
    padding: 0 15px;
  }
  .wrapper-breadcrumb{
    .breadcrumb{
      padding: 0 15px;
    }
  }
  .carousel-wrapper__releted{
    padding: 0 15px;
  }
  .slider-image-big-curier{
    margin-bottom: 30px;
  }
  .thumbnails{
    width: 100%;
    .item{
      a {
        display: block;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
  .wrapper-module{
    padding: 0 15px;
  }
  .nav-tabs{
    margin-bottom: 35px;
    flex-direction: column;
    & > li{
      width: 100%;
      text-align: center;
    }
  }
  .top{
    height: auto;
  }
  .wrapper-xs-padding{
    padding: 0 15px;
  }
  .login-block a {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }
  .top{
    margin-bottom: 15px;
  }
  .search-sm{
    margin-right: -30px;
  }
  .xs-menu-block{
    margin-bottom: 15px;
    .flex-row{
      justify-content: center;
      margin: 0 -15px;
    }
  }
  .open-xs-menu{
    height: 45px;
    img{
      width: 25px;
      height: 25px;
    }
  }
  .login-block{
    margin-right: 15px;
    padding-right: 0;
  }
  .wrapper-breadcrumb{
    padding: 30px 15px;
    .breadcrumb{
      display: block;
      li{
        float: left;
        margin-bottom: 5px;
      }
    }
  }
  .thumbnails-pop{
    a{
      img{
        width: 100%;
      }
    }
  }
  .flex-content{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &.sm-flex-position{
      flex-direction: row;
      .btn-group{
        margin-right: 20px;
      }
    }
  }
  .discount,
  .attribute_groups{
    margin: 0 0 15px;
  }
  .flex-row__m{
    flex-direction: column;
  }
  .btn-pink_by{
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .qty_block{
    margin-bottom: 15px;
  }
  .nav-tabs > li{
    padding: 0;
  }
  .wrapper_prod_slider{
    padding: 40px 0 80px;
    .slick-dots{
      left: 0;
      right: 0;
      top: inherit;
      bottom: 45px;
      text-align: center;
    }
  }
  .wrapper-news .wrapper_prod_slider{
    padding-bottom: 80px;
  }
  footer .list-unstyled li a{
    text-align: left;
  }
  .html_module_slider{
    .slick-dots{
      top: inherit;
      left: 0;
      right: 0;
      bottom: -30px;
      margin: 0 auto;
      text-align: center;
    }
    .item{
      min-height: 354px;
      min-width: 354px;
      img{
        width: 70px;
        height: 70px;
      }
      p{
        font-size: 18px;
      }
    }
  }
  .simplecheckout-left-column{
    margin-bottom: 20px;
  }
  .btn-simple{
    flex-direction: column;
    .btn{
      margin-bottom: 20px;
    }
  }
  .btn-simple .btn:first-child{
    margin-right: 0;
  }
  .grid-sizer{
    display: none;
  }
  .grid-item.galery-grid-1,
  .grid-item.galery-grid-2{
    width: 100%;
    height: auto;
  }
  .wrapper-testimonial_module .item .c-text{
    width: auto;
  }
  .slider-init-sm .item{
    background-color: #bde4f4;
    min-height: 250px;
    margin: 0 15px;
    img{
      display: none;
    }
  }
  .wrapper-category_home{
    margin-bottom: 30px;
  }
  .wrapper_prod_slider{
    padding: 15px 0 30px;
    .slick-dots{
      bottom: 0;
    }
  }
  .wrapper-news .wrapper_prod_slider{
    padding-bottom: 30px;
  }
  .wrapper-category_home .item .category-text{
    left: 0;
    width: 100%;
    text-align: center;
    .btn-default{
      margin: 0 auto;
    }
  }
  .slide_wrapper_big {
    .item {
      background-color: #ff7f50;
      min-height: 286px;
      background-image: none!important;
      img {
        display: none;
      }
      .wrapper-banner-info {
        h2 {
          font-size: 24px;
          line-height: 1.25;
          letter-spacing: 3px;
          text-align: center;
        }
        p{
          font-size: 16px;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin-bottom: 30px;
        }
        .btn-slider{
          margin: 0 auto;
          height: 50px;
        }
      }

    }
  }
  .copiright{
    a,
    p{
      text-align: center;
    }
    p{
      margin-bottom: 30px;
    }
  }
  .slick-dotted.slick-slider{
    margin-bottom: 15px;
  }
  .order_histor_item{
    border: 1px solid #989eae;
    margin-bottom: 15px;
  }
  .order_histor_list .history_block:nth-child(1){
    border: 0;
    border-bottom: 1px solid #989eae;
    text-align: center;
  }
  footer .list-unstyled li a{
    text-align: center;
    margin: 0 0 5px 0;
    line-height: 1.5;
  }
  //.wrapper_news_slider{
  //  .slick-list{
  //    margin: 0;
  //  }
  //}
  .bnews-list{
    padding: 0 15px;
  }
}
@media screen and (max-width: 580px) {
  .col-xxs-12{
    width: 100%;
  }
  .currency-language{
    display: none;
  }
  .fl_login{
    flex-direction: column;
  }
  .flex-colum-xxs{
    flex-direction: column;
  }
  .list-unstyled li .old-price{
    display: block;
  }
  .head .left {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .form-checkbox__label span, .form-checkbox__label{
    font-size: 12px;
  }
  .wrapper-html_module{
    .item{
      width: 100%;
      height: auto;
    }
  }
  .container-inp{
    .flex-row{
      flex-direction: column;
      align-items: flex-start;
    }
    .control-label{
      float: none;
    }
  }
  .form-btn .form-checkbox{
    display: block;
    text-align: right;
  }
  .form-btn .orang {
    width: 100%;
    font-size: 8px;
  }
  .wrapper-breadcrumb .title-breadcrumb{
    font-size: 22px;
  }
  .sort-select{
    margin-right: 0;
    margin-bottom: 15px;
    .select2-container{
      width: 260px!important;
    }
  }
  .limit-select .select2-container{
    width: 260px!important;
  }
  .white-style-form{
    padding: 0;
  }
  .wrapper-news .artblock .text__news .name a{
    font-size: 14px;
  }
  .container-description-prod{
    .nav-tabs{
      flex-direction: column;
      justify-content:center;
      li{
        width: 100%;
        margin-right: 0;
        border: 1px solid $violet_text;
        margin-bottom: 15px;
        text-align: center;
        a{
          margin-right: 0;
        }
        &.active{
          a{
            background-color: $violet_text;
            color: #fff;
          }
        }
      }
    }
  }
  .html-block img{
    width: 100%;
  }
  .wrapp-marg_xs-left{
    margin-left: -15px;
  }
  .copiright{
    .img-wrap{
      img{
        width: 100%;
      }
    }
  }
  .html_module_slider .item{
    min-width: 263px;
    min-height: 263px;
    margin: 5px 12px;
  }
  .wrapper-html_module .slick-list{
    margin: 0;
  }
  .head{
    &.flex-row{
      flex-direction: column;
    }
    .testimonial-time{
      display: none;
    }
    .name-prod{
      margin-right: 0;
    }
    .left{
      margin-bottom: 10px;
    }
  }

  .c-form-style{
    .white-style-form{
      padding: 15px;
    }

  }
  #tab-review{
    .c-form-style{
      padding: 0;
    }
  }
  .btn-pink_by{
    display: block;
    text-align: center;
  }
  .btn-pink_by.violet i{
    display: none;
  }
  .modal-sm{
    width: 90%;

  }
  .modal-content{
    padding: 30px 15px;
    .modal-body{
      padding: 15px 0;
    }
    .btn-default{
      width: 100%;
    }
  }
  .logo{
    padding-right: 15px;
  }
  .product-thumb .button-group .mini-btn {
    display: block;
    text-align: center;
  }
  .gallery_row{
    .flex-row{
      flex-direction: column;
    }
  }
  .xs-flex-colum{
    flex-direction: column;
  }
  .simple_cart .simple_item {
    flex-direction: column;
  }
  .simple_item{
    .image{
      margin: 0 auto;
    }
  }
  .simple_cart .simple_item .wrapp_cart_right{
    padding: 0;
  }
  .simple_cart .simple_item .pqt {
     flex-direction: column;
  }
  .simple_cart .simple_item .pqt .quantity {
    margin: 10px 0;
  }
  .btn-default{
    font-size: 12px;
  }
  .pull-right,
  .pull-left{
    float: none!important;
  }
  .btn-primary,
  .btn-default{
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-default.orang{
    display: block;
    text-align: center;
    line-height: 60px;
  }
  .checkbox-inline{
    margin-bottom: 10px;
  }
  .container-inp .radio-items{
    float: none;
    .checkbox label, .radio label{
      padding-left: 0;
    }
  }
  .open-xs-menu {
    &.js-catalog-menu {
      display: block;
      width: 100%;
      text-align: center;
    }
    img{
      margin-top: 9px;
      float: left;
    }
    .name-caalog {
      float: left;
      margin-left: 15px;
    }
  }
}