.gallery_wrapp{
  .item{
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
  }
}

//.account_title{
//  font-family: ProximaNova;
//  font-size: 18px;
//  font-weight: bold;
//  color: #4d4d4d;
//  margin-bottom: 30px;
//}

.account_left_bar{
  list-style: none;
  li{
    &:before{
      display: none;
    }
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #b3b3b3;
    &.active{
      a{
        color: #404969;
      }
    }
  }
  a{
    color: #989eae;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      color: #404969;
    }
  }
}
.simple-content{
  padding: 30px;
  background-color: #fff;
}
.checkout-simplecheckout{
  .simple-content{
    background-color: transparent;
    padding: 0;
  }
}
.account-simpleedit{
  .simple-content{
    margin: 0px;
  }
  h1{
    display: none;
  }

  .simpleregister-block-content{
    padding: 0px 0px 10px 0px;
    margin: 0px -15px 10px -15px;
    border-radius: 10px;
    background-color: transparent;
    //.form-control{
    //  border-color: white;
    //  height: 50px;
    //  -webkit-appearance: none;
    //  -moz-appearance: none;
    //  appearance: none;
    //  box-shadow: none;
    //}
    .row{
      margin: 0px;
    }
    .form-group{
      width: 50%;
      margin: 0px;
      float: left;
      margin-bottom: 15px;
    }
  }
  .buttons{
    padding: 0px;
    background-color: transparent;
    .btn{
      line-height: 40px;
    }
  }
}

.account-password{
  #password_form{
    padding: 0px 0px 15px 0px;
    border-radius: 3px;
    background-color: transparent;
    //input{
    //  border-color: white;
    //  height: 50px;
    //}
  }
  .buttons{
    margin-top: 5px;
  }
}


.order_histor_list{
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 3px;
  .order_histor_item{
    display: table-row;
    &:not(:last-child){
      border-bottom: 1px solid #e6e6e6;
    }
  }
  .history_block{
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #aca8bf;
    &:nth-child(1){
      width: 60%;
    }
    &:nth-child(2){
      width: 20%;
      vertical-align: middle;
      text-align: center;
    }
    &:nth-child(3){
      width: 20%;
      vertical-align: middle;
      text-align: center;
      border-right: 0px;
    }
  }
  .wrapp_img{
    margin-right: 15px;
    float: left;
    img{}
  }
  .name{
    margin-bottom: 10px;
    a{
      font-size: 16px;
      font-weight: 600;
      color: #000000;
      &:hover{
        color: #aca8bf;
      }
    }
  }
  .article{
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }
  .options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .option_item{
      margin-right: 20px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px;
    }
  }
  .price{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #aca8bf;
  }
  .text_status{
    font-size: 12px;
    text-align: center;
    color: #000000;
  }
  .status{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #f77f50;
    margin: 5px 0px;
  }
  .date{
    font-size: 14px;
    text-align: center;
    color: #b3b3b3;
  }
  .inside{
    a{
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #aca8bf;
      &:hover{
        text-decoration: none;
        color: #404969;
      }
    }
  }
}


.order_wrapp{
  background-color: white;
  border-radius: 3px;
  .top_panel{
    border-bottom: solid 1px #f0e7f1;
    margin-bottom: -1px;
    padding: 13px 15px 11px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .status{
      font-size: 14px;
      color: #000000;
      span{
        font-size: 16px;
        font-weight: 600;
        color: #aca8bf;
      }
    }
    .date{
      font-size: 14px;
      color: #b3b3b3;
    }
  }
  .products{
    .pr_item{
      border-bottom: solid 1px #f0e7f1;
      margin-bottom: -1px;
      padding: 15px 15px 20px 15px;
      overflow: hidden;
    }
    .wrapp_img{
      margin-right: 15px;
      float: left;
      img{}
    }
    .name{
      margin-bottom: 10px;
      a{
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        &:hover{
          color:#aca8bf;
        }
      }
    }
    .article{
      font-size: 12px;
      color: #999999;
      margin-bottom: 10px;
    }
    .options{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      flex-direction: column;
      .option_item{
        margin-right: 20px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 8px;
      }
    }
    .price{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #aca8bf;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  .total{
    .total_item{
      border-bottom: solid 1px #f0e7f1;
      margin-bottom: -1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0px;
      &:nth-child(1){
        display: none;
      }
      &:nth-child(3){
        .title{
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #000000;
        }
      }
    }
    .title{
      font-size: 14px;
      text-align: left;
      color: #000000;
      padding: 0px 15px;
    }
    .text{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #aca8bf;
      padding: 0px 15px;
    }
  }
  .customer_info{
    padding: 5px 0px;
    .customer_item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px;
    }
    .text1{
      width:200px;
      font-size: 14px;
      color: #b3b3b3;
    }
    .text2{
      width: calc(100% - 200px);
      font-size: 14px;
      color: #000000;
    }
  }
}
.account-simpleregister{
  .simpleregister-block-content{
    padding: 0px;
    margin: 0px -15px;
    .form-control{
      height: 50px;
    }
    .row{
      margin: 0px;
    }
  }
  .simple-content{
    margin: 0px;
    .buttons{
      background-color: transparent;
    }
  }
}
.downloads_list{
  margin-bottom: 70px;
  .download_thumb{
    margin-bottom: 30px;
  }
  .file_item{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    height: 190px;
    .file_flex{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .thumb{
        width: 75px;
      }
      .name{
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
        margin-left: 20px;

      }
    }
    .download_link{
      height: 40px;
      border-radius: 3px;
      background-color: #61c0bf;
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      color: white;
      padding: 11px 25px;
      display: inline-block;
      text-decoration: none;
      &:active{
        -webkit-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        -moz-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
      }
      &:focus{}
      &:hover{
      }
    }
  }
}


@media screen and(max-width: 767px){
  .order_histor_list {
    display: block;
    .order_histor_item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .history_block{
      display: block;
      margin-bottom: -1px;
      &:nth-child(1){
        width: 100%;
        margin-bottom: -1px;
      }
      &:nth-child(2){
        width: 50%;
      }
      &:nth-child(3){
        width: 50%;
        &:before { /* для IE8+ */
          content: "";
          display: inline-block;
          min-height: inherit;
          height: 100%;
          vertical-align: middle;
        }
        .inside{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .order_wrapp {
    .products {
      .price{
        clear: left;
        padding-top: 10px;
        font-size: 15px;
        overflow: hidden;
      }
    }
    .total {
      .text{
        font-size: 15px;
        white-space: nowrap;
      }
    }
    .customer_info {
      .customer_item{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 5px 10px;
      }
      .text1{
        width: auto;
      }
      .text2{
        width: auto;
      }
    }
  }
}